In [303]:
import pandas as pd

In [304]:

df_biometric_1 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_biometric\api_data_aadhar_biometric_0_500000.csv")
df_biometric_1.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [305]:
df_biometric_1.isna().sum()

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [306]:
df_biometric_1.nunique().sort_values(ascending=False)

pincode         19509
bio_age_17_      2212
bio_age_5_17     2121
district          945
state              56
date               24
dtype: int64

In [307]:
print(df_biometric_1["state"].unique())

['Haryana' 'Bihar' 'Jammu and Kashmir' 'Tamil Nadu' 'Maharashtra'
 'Gujarat' 'Odisha' 'West Bengal' 'Kerala' 'Rajasthan' 'Punjab'
 'Himachal Pradesh' 'Uttar Pradesh' 'Assam' 'Uttarakhand' 'Madhya Pradesh'
 'Karnataka' 'Andhra Pradesh' 'Telangana' 'Goa' 'Nagaland' 'Jharkhand'
 'Delhi' 'Chhattisgarh' 'Meghalaya' 'Chandigarh' 'Orissa' 'Puducherry'
 'Pondicherry' 'Manipur' 'Sikkim' 'Tripura' 'Mizoram' 'Arunachal Pradesh'
 'Ladakh' 'Dadra and Nagar Haveli and Daman and Diu' 'Daman and Diu'
 'Andaman and Nicobar Islands' 'Andaman & Nicobar Islands'
 'Dadra and Nagar Haveli' 'Lakshadweep' 'Daman & Diu'
 'Dadra & Nagar Haveli' 'Jammu & Kashmir' 'WESTBENGAL' 'andhra pradesh'
 'Westbengal' 'West  Bengal' 'WEST BENGAL' 'West Bangal' 'ODISHA' 'odisha'
 'West bengal' 'west Bengal' 'Uttaranchal' 'Chhatisgarh']

In [308]:
df_biometric_1["state"] = df_biometric_1["state"].astype(str)

df_biometric_1["state_clean"] = (df_biometric_1["state"]
                     .str.strip()
                     .str.lower()
                     .str.replace(r"\s+", " ", regex=True))

In [309]:
state_map = {
    "jammu & kashmir": "jammu and kashmir",
    "andaman & nicobar islands": "andaman and nicobar islands",
    "daman & diu": "daman and diu",
    "dadra & nagar haveli": "dadra and nagar haveli",
    "orissa": "odisha",
    "pondicherry": "puducherry",
    "uttaranchal": "uttarakhand",
    "westbengal": "west bengal",
    "west  bengal": "west bengal",
    "west bengal": "west bengal",
    "west bangal": "west bengal",
    "west bengal ": "west bengal",
    "odisha": "odisha",
    "andhra pradesh": "andhra pradesh",
    "chhatisgarh": "chhattisgarh",
}

df_biometric_1["state_clean"] = df_biometric_1["state_clean"].replace(state_map)

In [310]:
df_biometric_1["state_clean"] = df_biometric_1["state_clean"].str.title()

In [311]:
print("Before:", df_biometric_1["state"].nunique())
print("After :", df_biometric_1["state_clean"].nunique())

Before: 56
After : 38

In [312]:
df_biometric_1.drop(columns=["state"], inplace=True)

In [313]:
df_biometric_1.rename(columns={"state_clean": "state"}, inplace=True)

In [314]:
df_biometric_1["state"] = df_biometric_1["state"].replace({
    "Dadra And Nagar Haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "Daman And Diu": "Dadra And Nagar Haveli And Daman And Diu"
})

In [315]:
df_biometric_1["state"].nunique()

36

In [316]:
df_biometric_1.head(5)

,date,district,pincode,bio_age_5_17,bio_age_17_,state
0,01-03-2025,Mahendragarh,123029,280,577,Haryana
1,01-03-2025,Madhepura,852121,144,369,Bihar
2,01-03-2025,Punch,185101,643,1091,Jammu And Kashmir
3,01-03-2025,Bhojpur,802158,256,980,Bihar
4,01-03-2025,Madurai,625514,271,815,Tamil Nadu

In [317]:
                                    #handling districs

In [318]:
print(df_biometric_1["district"].unique())

['Mahendragarh' 'Madhepura' 'Punch' 'Bhojpur' 'Madurai' 'Ratnagiri'
 'Anand' 'Gandhinagar' 'Dhenkanal' 'Valsad' 'Salem' 'Hooghly'
 'Paschim Medinipur' 'Wayanad' 'Sawai Madhopur' 'Vaishali' 'Karur'
 'Rupnagar' 'Sabarkantha' 'Una' 'Bhilwara' 'Bara Banki' 'Cachar'
 'Dehradun' 'Chamba' 'Shajapur' 'The Nilgiris' 'Wardha' 'Nabarangapur'
 'Shaheed Bhagat Singh Nagar' 'Davangere' 'Dahod' 'Tiruppur'
 'Vizianagaram' 'Moga' 'Rajkot' 'Hyderabad' 'Sundergarh' 'Kurnool'
 'Warangal' 'Tirunelveli' 'South Goa' 'Anantapur' 'Thiruvananthapuram'
 'Srikakulam' 'Nizamabad' 'Cuttack' 'Baran' 'Guntur' 'Mysuru'
 'Purba Medinipur' 'Ernakulam' 'Balaghat' 'Sivaganga' 'Harda *'
 'Mokokchung' 'Uttara Kannada' 'Perambalur' 'Udupi' 'Ananthapur'
 'Coimbatore' 'West Singhbhum' 'Tumakuru' 'Birbhum' 'Visakhapatnam'
 'Hardoi' 'Siddharthnagar' 'Dhanbad' 'Darbhanga' 'Jabalpur'
 'North 24 Parganas' 'Tumkur' 'Leh' 'West Godavari' 'Kaithal' 'Kachchh'
 'Krishna' 'Kannur' 'Shivamogga' 'Bankura' 'Rajsamand' 'Namakkal'
 'Thiruvarur' 'Karimnagar' 'South Salmara Mankachar' 'Shimla' 'Nalgonda'
 'Saharsa' 'Kanniyakumari' 'Medak' 'Viluppuram' 'North Goa' 'Barddhaman'
 'Vadodara' 'Balangir' 'Dimapur' 'Amravati' 'Kendrapara' 'Palamu'
 'South West Delhi' 'Thoothukkudi' 'Kupwara' 'Vijayapura' 'Rewari'
 'Banaskantha' 'Nagaur' 'Dhule' 'Kozhikode' 'Kangra' 'Ramanathapuram'
 'Adilabad' 'Tiruchirappalli' 'Khorda' 'Nagapattinam' 'Kinnaur' 'Baleswar'
 'Katihar' 'Jajapur' 'Rewa' 'Ballia' 'Mayurbhanj' 'Morena' 'Jodhpur'
 'Dharwad' 'Ranchi' 'Thrissur' 'Ahmadnagar' 'Lucknow' 'Jhabua' 'Maldah'
 'Phek' 'Nagpur' 'Bhadradri Kothagudem' 'Villupuram' 'Sikar' 'Alappuzha'
 'Pathanamthitta' 'Patna' 'Solan' 'Kalaburagi' 'Supaul' 'Erode' 'Gwalior'
 'Sri Sathya Sai' 'Begusarai' 'Kalahandi' 'Solapur' 'Koraput'
 'Janjgir-champa' 'Koriya' 'Bahraich' 'Jalpaiguri' 'Tiruvallur' 'Jammu'
 'Khargone' 'Basti' 'Panchmahals' 'Kolhapur' 'East Godavari'
 'Devbhumi Dwarka' 'Tirupattur' 'Chittoor' 'Raichur' 'Kamrup' 'West Nimar'
 'Uttar Dinajpur' 'Pali' 'Ganjam' 'K.v. Rangareddy' 'Allahabad' 'Bokaro'
 'Banka' 'Godda' 'Malappuram' 'Barmer' 'Unnao' 'Latehar' 'Budaun' 'Samba'
 'Baloda Bazar' 'Kanpur Dehat' 'South 24 Parganas' 'Jashpur' 'Chandrapur'
 'Bageshwar' 'Cuddalore' 'Aligarh' 'Goalpara' 'Mahisagar' 'Dibrugarh'
 'Patan' 'Bilaspur' 'Tehri Garhwal' 'Nagaon' 'South West Khasi Hills'
 'Kota' 'Virudhunagar' 'Krishnagiri' 'Hassan' 'Ballari' 'Mancherial'
 'Meerut' 'Nanded' 'Kushinagar' 'Gorakhpur' 'Sangrur' 'Churu' 'Faizabad'
 'Barpeta' 'Lohardaga' 'Chandigarh' 'Udaipur' 'Seoni' 'Hisar' 'Howrah'
 'Kathua' 'Pithoragarh' 'Annamayya' 'Belagavi' 'Narmadapuram' 'Ujjain'
 'Jogulamba Gadwal' 'Mon' 'Varanasi' 'East Nimar' 'Amreli' 'Kollam'
 'Chitradurga' 'Charkhi Dadri' 'Y. S. R' 'Chandauli' 'Karauli'
 'Dakshina Kannada' 'Palakkad' 'Idukki' 'Kottayam' 'Kamrup Metro'
 'Mumbai Suburban' 'Kancheepuram' 'Fatehabad' 'Surat' 'Warangal Rural'
 'Puri' 'Peddapalli' 'Jorhat' 'Chennai' 'Bharatpur' 'Suryapet' 'Alwar'
 'Kanpur Nagar' 'Bhind' 'Sonbhadra' 'Bhavnagar' 'Patiala' 'Karbi Anglong'
 'Kondagaon' 'Kolar' 'Srinagar' 'Ananthapuramu' 'Jhunjhunun'
 'Yamuna Nagar' 'Bagalkot' 'Jalor' 'Datia' 'Nashik' 'Mandya' 'Faridabad'
 'Cuddapah' 'Bhagalpur' 'Rampur' 'Tarn Taran' 'Gadchiroli' 'Mandsaur'
 'Nandurbar' 'Junagadh' 'Malerkotla' 'Kannauj' 'Kohima' 'Saran' 'Rohtak'
 'Jehanabad' 'Palghar' 'Khammam' 'JAJPUR' 'Murshidabad' 'Parbhani' 'Dhar'
 'Hanumangarh' 'Belgaum' 'Sonapur' 'Cooch Behar' 'Kanyakumari' 'Karaikal'
 'Kallakurichi' 'Dausa' 'Dewas' 'Yavatmal' 'Muzaffarpur' 'West Champaran'
 'Satara' 'Kasaragod' 'Ajmer' 'Nalbari' 'Rohtas' 'Badgam' 'Jamui'
 'Azamgarh' 'Guna' 'Ariyalur' 'Alluri Sitharama Raju' 'N. T. R'
 'Pondicherry' 'Chhindwara' 'Ambedkar Nagar' 'Udhampur' 'Nainital'
 'Moradabad' 'Giridih' 'Pune' 'Gondiya' 'Ferozepur' 'Indore' 'Raisen'
 'Vikarabad' 'Jhajjar' 'Dindigul' 'Kargil' 'SAS Nagar (Mohali)' 'Nadia'
 'Raipur' 'Boudh' 'Chitrakoot' 'Gopalganj' 'Jalandhar' 'Auraiya' 'Mewat'
 'Chamrajanagar' 'Bengaluru' 'Balrampur' 'Medchal-malkajgiri' 'Bikaner'
 'Imphal West' 'Darjeeling' 'Sirohi' 'Mahabubnagar' 'Bathinda' 'Jamnagar'
 'Banda' 'Sant Ravidas Nagar' 'Mathura' 'Deoghar' 'Bhiwani' 'Ludhiana'
 'Baramula' 'Arvalli' 'Agra' 'Navsari' 'Shimoga' 'Sangli' 'Wanaparthy'
 'Central Delhi' 'Nalanda' 'Thane' 'Raigarh' 'Kandhamal' 'Malda' 'Kheda'
 'Angul' 'Ramgarh' 'Kolkata' 'Bellary' 'Hoshiarpur' 'Karimganj'
 'Samastipur' 'Bhandara' 'Muzaffarnagar' 'Tiruvannamalai' 'Tikamgarh'
 'Jaipur' 'East' 'Biswanath' 'Mayiladuthurai' 'Tinsukia' 'Araria' 'Dumka'
 'Prakasam' 'Mandi' 'Kurukshetra' 'Anuppur' 'Mysore' 'Nayagarh' 'Hasan'
 'Tirupati' 'Panchkula' 'Purulia' 'Bulandshahr' 'Thiruvallur'
 'East Sikkim' 'Bongaigaon' 'Surendra Nagar' 'Ratlam' 'Gariyaband'
 'Narmada' 'Sehore' 'Thanjavur' 'New Delhi' 'Siwan' 'Karnal' 'Bharuch'
 'Pilibhit' 'Siddipet' 'Kheri' 'Fatehgarh Sahib' 'Akola' 'Bangalore'
 'Jalaun' 'Pratapgarh' 'Sindhudurg' 'Sant Kabir Nagar' 'Sundargarh'
 'Jaunpur' 'Mainpuri' 'Bijapur' 'Deoria' 'Anantnag' 'East Khasi Hills'
 'Senapati' 'Udham Singh Nagar' 'Hamirpur' 'Kapurthala'
 'Sri Muktsar Sahib' 'Tenkasi' 'Seraikela-kharsawan' 'Ayodhya' 'Durg'
 'Aurangabad' 'Kaushambi' 'Theni' 'Khagaria' 'Etawah' 'Jhansi' 'Fatehpur'
 'Baksa' 'Paschim Bardhaman' 'Baudh' 'Pauri Garhwal' 'Nellore' 'Ramanagar'
 'Shamli' 'Kullu' 'Purbi Singhbhum' 'Agar Malwa' 'Haveri'
 'Dakshin Bastar Dantewada' 'Rudraprayag' 'Simdega' 'Ghaziabad' 'Hingoli'
 'Beed' 'Vellore' 'Saharanpur' 'Rae Bareli' 'Jalna' 'Vijayanagara'
 'Hazaribagh' 'Sidhi' 'Mandla' 'Damoh' 'Sonipat' 'Mahesana' 'Gaya'
 'Purnia' 'Amritsar' 'Dhubri' 'Pudukkottai' 'Dakshin Dinajpur'
 'Sepahijala' 'Nandyal' 'North Twenty Four Parganas' 'South'
 'Chikkamagaluru' 'Madhubani' 'Bhadrak' 'Sheikhpura' 'Majuli'
 'Chickmagalur' 'Davanagere' 'Chandel' 'Sheopur' 'Chamoli' 'Darrang'
 'Rangareddy' 'Bareilly' 'Ahmedabad' 'Jalgaon' 'Dholpur' 'Firozpur'
 'Bidar' 'Sonitpur' 'Rajouri' 'Churachandpur'
 'Dr. B. R. Ambedkar Konaseema' 'Porbandar' 'Aizawl' 'Kokrajhar'
 'Baleshwar' 'Buxar' 'Dungarpur' 'Mumbai' 'Unakoti' 'Koppal' 'Chirang'
 'Neemuch' 'Shahjahanpur' 'East Singhbhum' 'Haridwar' 'Bhopal' 'Kanker'
 'Bardhaman' 'North Garo Hills' 'Gurgaon' 'Latur' 'Hathras'
 'South Tripura' 'South Delhi' 'Buldana' 'Bargarh' 'Buldhana' 'Dhalai'
 'Udalguri' 'Ganderbal' 'Barwani' 'Almora' 'Sambalpur' 'Lower Siang'
 'Koch Bihar' 'Ukhrul' 'Lakhimpur' 'Purba Bardhaman' 'Pashchimi Singhbhum'
 'Gir Somnath' 'Ri Bhoi' 'Shivpuri' 'Gonda' 'Kendujhar' 'East Garo Hills'
 'Purnea' 'Mau' 'Parvathipuram Manyam' 'Hojai' 'Mumbai City'
 'Seraikela-Kharsawan' 'Yadadri.' 'Rajanna Sircilla' 'Yadgir' 'Munger'
 'Rayagada' 'Baghpat' 'East Champaran' 'Sitapur' 'Imphal East' 'Botad'
 'Mohla-Manpur-Ambagarh Chouki' 'Khandwa' 'North Tripura' 'Thoubal'
 'Ghazipur' 'Sitamarhi' 'Dharmapuri' 'Bijnor' 'South Dinajpur' 'Bemetara'
 'Dhamtari' 'Pakaur' 'Banswara' 'Mirzapur' 'Ahmadabad' 'Golaghat' 'Reasi'
 'Komaram Bheem' 'Jagitial' 'Amroha' 'S.A.S Nagar(Mohali)' 'Lakhisarai'
 'Korba' 'Sahebganj' 'Kodagu' 'Narayanpet' 'West Khasi Hills'
 'Chhotaudepur' 'Nagarkurnool' 'Sambhal' 'Sangareddy' 'Amethi' 'Jhalawar'
 'North Delhi' 'Charaideo' 'Gajapati' 'Gadag' 'Morbi' 'Puruliya' 'Ambala'
 'Pakur' 'Hapur' 'Satna' 'Balod' 'Surguja' 'Sagar' 'Prayagraj' 'Anugul'
 'West Siang' 'Khordha' 'Gurdaspur' 'Harda' 'West Delhi' 'Raigad' 'Mansa'
 'Farrukhabad' 'Katni' 'Bhadohi' 'Kakinada' 'Narayanpur' 'Nawada'
 'Alipurduar' 'Betul' 'Tapi' 'Firozabad' 'South Twenty Four Parganas'
 'Daman' 'West Garo Hills' 'Kamareddy' 'Gautam Buddha Nagar' 'Haora'
 'Vidisha' 'Dohad' 'Tuensang' 'Marigaon' 'Panipat' 'Puducherry'
 'Ganganagar' 'Rangareddi' 'West Midnapore' 'Niwari' 'Sirmaur' 'Jamtara'
 'East Delhi' 'Tonk' 'Gomati' 'Tseminyu' 'Mahbubnagar' 'Dantewada'
 'Mammit' 'Kasganj' 'South Sikkim' 'Papum Pare' 'Jangoan' 'Bastar'
 'Bapatla' 'Garhwa' 'Hanumakonda' 'Mamit' 'Rajnandgaon' 'Jagatsinghapur'
 'Jagatsinghpur' 'Kawardha' 'Chatra' 'Gumla' 'Anakapalli' 'Sultanpur'
 'Sahibganj' 'Chittorgarh' 'Gulbarga' 'Barabanki' 'Surajpur' 'Sukma'
 'West Tripura' 'Longding' 'Tamenglong' 'Chengalpattu'
 'Uttar Bastar Kanker' 'Jaisalmer' 'Ashok Nagar' 'Hailakandi' 'Lunglei'
 'Rajgarh' 'Shrawasti' 'Dhalai  *' 'Haveri *' 'Shahdol' 'Bundi' 'Nirmal'
 'Umaria' 'Diu' 'Mahabubabad' 'Gadag *' 'Darjiling' 'Kishanganj'
 'Hoshangabad' 'Narsinghpur' 'Etah' 'Subarnapur' 'North Sikkim' 'Dhemaji'
 'Kulgam' 'Sheohar' 'Jharsuguda' 'Narsimhapur' 'Warangal Urban'
 'Bagalkot *' 'Khowai' 'Lalitpur' 'Singrauli' 'East Midnapore'
 'North West Delhi' 'Maharajganj' 'Pulwama' 'Bandipore' 'Osmanabad'
 'Uttarkashi' 'Nicobar' 'Shupiyan' 'Eluru' 'Alirajpur' 'yadgir'
 'Burhanpur' 'Dindori' 'Jayashankar Bhupalpally' 'Changlang' 'Chhatarpur'
 'Shi-yomi' 'Fazilka' 'Andamans' 'Bishnupur' 'Mungeli' 'Jhargram'
 'West Jaintia Hills' 'Khunti' 'Dibang Valley' 'Bangalore Rural'
 'Garhwa *' 'Arwal' 'Serchhip' 'South Andaman' 'South West Garo Hills'
 'Budgam' 'Mahabub Nagar' 'Jind' 'Doda' 'Malkangiri' 'West Karbi Anglong'
 'Dadra and Nagar Haveli' 'Chhatrapati Sambhajinagar' 'Faridkot' 'Koderma'
 'Chikkaballapur' 'Shahdara' 'Medchal?malkajgiri' 'Palwal'
 'Upper Subansiri' 'Hazaribag' 'Nuapada' 'Sibsagar' 'Peren' 'West Kameng'
 'South Garo Hills' 'Barnala' 'Kabeerdham' 'Wokha' 'Washim' 'Bid'
 'Lakshadweep' 'Pakke Kessang' 'Kasargod' 'Sakti' 'Pathankot' 'Kolasib'
 'Chatrapati Sambhaji Nagar' 'Palnadu' 'Champhai' 'Mulugu' 'Sirsa'
 'Lawngtlai' 'Debagarh' 'North East Delhi' 'Anjaw' 'Kaimur (Bhabua)'
 'Sri Potti Sriramulu Nellore' 'Ramban' 'Champawat' 'Panna'
 'North And Middle Andaman' 'Mahoba' 'West' 'Chamrajnagar' 'Longleng'
 'The Dangs' 'Lower Dibang Valley' 'North East' 'East Siang' 'Muktsar'
 'North Cachar Hills' 'Chittaurgarh' 'Noklak' 'North' 'Mahasamund'
 'Kishtwar' 'Siang' 'Kodarma' 'Ahmed Nagar' 'South East Delhi'
 'East Jaintia Hills' 'Kurung Kumey' 'Karim Nagar' 'Palamau' 'Tawang'
 'Gaurela-pendra-marwahi' 'Saiha' 'Lohit' 'Kiphire' 'Ranipet' 'Jiribam'
 'West Sikkim' 'Zunheboto' 'Kra Daadi' 'Kalimpong' 'Upper Siang' 'Saitual'
 'Namsai' 'Chikmagalur' 'Chamarajanagar' 'Kakching' 'Jhunjhunu' 'ANUGUL'
 'Dadra & Nagar Haveli' 'East Kameng' 'Lower Subansiri' 'Yamunanagar'
 'Tirap' 'Niuland' 'Najafgarh' 'Chumukedima'
 'ManendragarhChirmiriBharatpur' 'Maihar' 'Dharashiv' 'Pashchim Champaran'
 'Jajpur' 'Mumbai( Sub Urban )' 'Mauganj' 'North Dinajpur' 'jajpur'
 'Lahul & Spiti' 'Khairagarh Chhuikhadan Gandai' 'Lahul and Spiti'
 'Pandhurna' 'Kamle' 'Banas Kantha' 'K.V.Rangareddy' 'Kushinagar *'
 'Nawanshahr' 'NUAPADA' 'Dhaulpur' 'Shamator' 'Aurangabad(bh)' 'Monghyr'
 'Samstipur' 'Janjgir Champa' 'Sarangarh-Bilaigarh' 'Panch Mahals'
 'Surendranagar' 'Bajali' 'Medchal−malkajgiri' 'Garhwal' 'Hardwar'
 'HOOGHLY' 'Gondia' 'Gondiya *' 'Nandurbar *' 'Raigarh(MH)' 'Yanam'
 'Sribhumi' 'Sheikpura' 'Bardez' 'Sabar Kantha'
 'Sant Ravidas Nagar Bhadohi' 'Hawrah' 'Hugli' 'Jangaon' 'Washim *'
 'Purba Champaran' 'Janjgir - Champa' 'Manendragarh–Chirmiri–Bharatpur'
 'South 24 Pargana' 'Tirupathur' 'rangareddi' 'Meluri' 'Deeg\xa0'
 'Tamulpur District' 'Hooghiy' 'Bulandshahar' 'Nicobars'
 'Jyotiba Phule Nagar' 'Raebareli' 'Medinipur' 'chittoor' 'HOWRAH'
 'Burdwan' 'NADIA' 'Bengaluru South' 'hooghly' 'Deeg' 'Chamarajanagar *'
 'Bengaluru Rural' 'Bagpat' 'MALDA' 'Tuticorin' 'Udupi *' 'Leparada'
 'Bhabua' 'Mahoba *' 'Jaintia Hills' 'Mohalla-Manpur-Ambagarh Chowki'
 'nadia' 'Rajauri' 'Khawzawl' 'Eastern West Khasi Hills' 'Mahrajganj'
 'Warangal (urban)' 'Lahaul and Spiti' 'Hingoli *' 'Hnahthial'
 'Dima Hasao' 'BALANGIR' 'South DumDum(M)' 'East Midnapur'
 'South 24 parganas' 'East midnapore' 'Bally Jagachha' 'West Medinipur'
 'Namchi' 'KOLKATA' 'Leh (ladakh)' 'udhampur' 'Bijapur(KAR)' 'Tiswadi'
 'Domjur']

In [319]:
df_biometric_1["district"] = df_biometric_1["district"].astype(str)

df_biometric_1["district_clean"] = (df_biometric_1["district"]
                        .str.strip()
                        .str.lower()
                        .str.replace(r"\s+", " ", regex=True)   # remove extra spaces
                        .str.replace(r"\*", "", regex=True)     # remove *
                        .str.replace(r"[()]", "", regex=True)   # remove brackets
                        .str.replace(r"\.", "", regex=True)     # remove dots
                        .str.replace(r"−", "-", regex=True)     # fix weird dash
                        )

In [320]:
district_map = {
    "hooghly": "hooghly",
    "hugli": "hooghly",
    "hawrah": "howrah",
    "haora": "howrah",
    "burdwan": "barddhaman",
    "bardhaman": "barddhaman",
    "north twenty four parganas": "north 24 parganas",
    "south twenty four parganas": "south 24 parganas",
    "south 24 pargana": "south 24 parganas",
    "east midnapore": "purba medinipur",
    "east midnapur": "purba medinipur",
    "west midnapore": "paschim medinipur",
    "west medinipur": "paschim medinipur",
    "jajpur": "jajapur",
    "jajpur ": "jajapur",
    "jajpur district": "jajapur",
    "rangareddy": "ranga reddy",
    "k.v. rangareddy": "ranga reddy",
    "k.v.rangareddy": "ranga reddy",
    "west nimar": "khargone",
    "east nimar": "khandwa",
    "ahmadabad": "ahmedabad",
    "purnea": "purnia",
    "pashchim champaran": "west champaran",
    "purba champaran": "east champaran",
}

df_biometric_1["district_clean"] = df_biometric_1["district_clean"].replace(district_map)

In [321]:
# compare before vs after
print("Before unique:", df_biometric_1["district"].nunique())
print("After unique :", df_biometric_1["district_clean"].nunique())

# show top 50 most frequent cleaned districts
print(df_biometric_1["district_clean"].value_counts().head(50))

Before unique: 945
After unique : 904
district_clean
barddhaman            3919
north 24 parganas     3739
pune                  3239
thrissur              2933
east godavari         2891
purba medinipur       2878
warangal              2793
south 24 parganas     2585
hyderabad             2584
palakkad              2503
karimnagar            2499
bengaluru             2453
medak                 2398
ahmedabad             2386
ernakulam             2380
west godavari         2363
paschim medinipur     2348
krishna               2339
thiruvananthapuram    2305
bangalore             2269
tirunelveli           2238
nalgonda              2236
guntur                2211
hooghly               2177
vellore               2120
khammam               2109
prakasam              2081
mumbai                2073
ganjam                2067
belgaum               2065
kollam                2039
coimbatore            2034
visakhapatnam         2019
howrah                2014
ahmadnagar            2014
malappuram            2010
kottayam              2003
thanjavur             1994
kv rangareddy         1975
alappuzha             1971
chittoor              1964
kancheepuram          1935
thane                 1922
kannur                1860
belagavi              1855
murshidabad           1854
kurnool               1819
jajapur               1813
adilabad              1802
dakshina kannada      1786
Name: count, dtype: int64

In [322]:
district_map.update({
    "bangalore": "bengaluru",
    "belgaum": "belagavi",
    "ahmadnagar": "ahmednagar",
    "kv rangareddy": "ranga reddy",
    "k v rangareddy": "ranga reddy",
})

In [323]:
df_biometric_1["district_clean"] = df_biometric_1["district_clean"].replace(district_map)

In [324]:
print("After unique:", df_biometric_1["district_clean"].nunique())
print(df_biometric_1["district_clean"].value_counts().head(30))

After unique: 901
district_clean
bengaluru             4722
belagavi              3920
barddhaman            3919
north 24 parganas     3739
pune                  3239
thrissur              2933
east godavari         2891
purba medinipur       2878
warangal              2793
south 24 parganas     2585
hyderabad             2584
palakkad              2503
karimnagar            2499
medak                 2398
ahmedabad             2386
ernakulam             2380
west godavari         2363
paschim medinipur     2348
krishna               2339
thiruvananthapuram    2305
tirunelveli           2238
nalgonda              2236
guntur                2211
hooghly               2177
vellore               2120
khammam               2109
prakasam              2081
mumbai                2073
ganjam                2067
ranga reddy           2059
Name: count, dtype: int64

In [325]:
temp = df_biometric_1["district_clean"].copy()

# create a super-normalized version to detect near duplicates
df_biometric_1["district_norm"] = (temp
                                  .str.lower()
                                  .str.replace(r"[^a-z0-9]", "", regex=True))  # remove space, hyphen, symbols

# find groups where multiple names map to same normalized form
duplicates = (df_biometric_1.groupby("district_norm")["district_clean"]
              .nunique()
              .sort_values(ascending=False))

print(duplicates[duplicates > 1].head(50))

district_norm
janjgirchampa                    3
dhalai                           2
karimnagar                       2
harda                            2
gondiya                          2
hingoli                          2
garhwa                           2
bagalkot                         2
barabanki                        2
gadag                            2
haveri                           2
chamarajanagar                   2
banaskantha                      2
kushinagar                       2
mahabubnagar                     2
mahoba                           2
manendragarhchirmiribharatpur    2
medchalmalkajgiri                2
mumbaisuburban                   2
nandurbar                        2
panchmahals                      2
raebareli                        2
sabarkantha                      2
sasnagarmohali                   2
surendranagar                    2
udupi                            2
washim                           2
ahmednagar                       2
yamunanagar                      2
Name: district_clean, dtype: int64

In [326]:
dup_keys = duplicates[duplicates > 1].head(20).index

for key in dup_keys:
    names = df_biometric_1.loc[df_biometric_1["district_norm"] == key, "district_clean"].unique()
    print(key, "->", names)

janjgirchampa -> ['janjgir-champa' 'janjgir champa' 'janjgir - champa']
dhalai -> ['dhalai' 'dhalai ']
karimnagar -> ['karimnagar' 'karim nagar']
harda -> ['harda ' 'harda']
gondiya -> ['gondiya' 'gondiya ']
hingoli -> ['hingoli' 'hingoli ']
garhwa -> ['garhwa' 'garhwa ']
bagalkot -> ['bagalkot' 'bagalkot ']
barabanki -> ['bara banki' 'barabanki']
gadag -> ['gadag' 'gadag ']
haveri -> ['haveri' 'haveri ']
chamarajanagar -> ['chamarajanagar' 'chamarajanagar ']
banaskantha -> ['banaskantha' 'banas kantha']
kushinagar -> ['kushinagar' 'kushinagar ']
mahabubnagar -> ['mahabubnagar' 'mahabub nagar']
mahoba -> ['mahoba' 'mahoba ']
manendragarhchirmiribharatpur -> ['manendragarhchirmiribharatpur' 'manendragarh–chirmiri–bharatpur']
medchalmalkajgiri -> ['medchal-malkajgiri' 'medchal?malkajgiri']
mumbaisuburban -> ['mumbai suburban' 'mumbai sub urban ']
nandurbar -> ['nandurbar' 'nandurbar ']

In [327]:
for key in dup_keys:
    subset = df_biometric_1[df_biometric_1["district_norm"] == key]
    common = subset["district_clean"].value_counts().idxmax()
    df_biometric_1.loc[df_biometric_1["district_norm"] == key, "district_clean"] = common

In [328]:
print("Unique now:", df_biometric_1["district_clean"].nunique())

Unique now: 880

In [329]:
district_map.update({
    # hyphen/space variations
    "janjgir champa": "janjgir-champa",
    "janjgir - champa": "janjgir-champa",

    # trailing spaces (already handled mostly, but safe)
    "dhalai ": "dhalai",
    "harda ": "harda",
    "gondiya ": "gondiya",
    "hingoli ": "hingoli",
    "garhwa ": "garhwa",
    "bagalkot ": "bagalkot",
    "gadag ": "gadag",
    "haveri ": "haveri",
    "chamarajanagar ": "chamarajanagar",
    "kushinagar ": "kushinagar",
    "mahoba ": "mahoba",
    "nandurbar ": "nandurbar",

    # spacing differences
    "karim nagar": "karimnagar",
    "bara banki": "barabanki",
    "banas kantha": "banaskantha",
    "mahabub nagar": "mahabubnagar",

    # special characters
    "manendragarh–chirmiri–bharatpur": "manendragarhchirmiribharatpur",
    "medchal?malkajgiri": "medchal-malkajgiri",

    # suburban duplicates
    "mumbai sub urban": "mumbai suburban",
    "mumbai sub urban ": "mumbai suburban",
})

In [330]:
df_biometric_1["district_clean"] = df_biometric_1["district_clean"].replace(district_map)
print("Unique now:", df_biometric_1["district_clean"].nunique())

Unique now: 880

In [331]:
df_biometric_1["district_clean"] = df_biometric_1["district_clean"].str.replace("\xa0", " ", regex=False).str.strip()

In [332]:
df_biometric_1.drop(columns=["district"], inplace=True)
df_biometric_1.rename(columns={"district_clean": "district"}, inplace=True)

In [333]:
df_biometric_1.drop(columns=["district_norm"], inplace=True)

In [334]:
print(df_biometric_1.columns)

Index(['date', 'pincode', 'bio_age_5_17', 'bio_age_17_', 'state', 'district'], dtype='object')

In [335]:
df_biometric_1.head()

,date,pincode,bio_age_5_17,bio_age_17_,state,district
0,01-03-2025,123029,280,577,Haryana,mahendragarh
1,01-03-2025,852121,144,369,Bihar,madhepura
2,01-03-2025,185101,643,1091,Jammu And Kashmir,punch
3,01-03-2025,802158,256,980,Bihar,bhojpur
4,01-03-2025,625514,271,815,Tamil Nadu,madurai

In [336]:
unique_districts = df_biometric_1["district"].nunique()
print(unique_districts)

878

In [337]:
df_biometric_2 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_biometric\api_data_aadhar_biometric_500000_1000000.csv")
df_biometric_2.head()

         date state   district  pincode  bio_age_5_17  bio_age_17_
0  19-09-2025   Goa  North Goa   403502             0            4
1  19-09-2025   Goa  North Goa   403508             1            4
2  19-09-2025   Goa  North Goa   403513             2            0
3  19-09-2025   Goa  North Goa   403527             2            2
4  19-09-2025   Goa  South Goa   403601             7            3

In [338]:
print(df_biometric_2["state"].unique())

['Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir'
 'Jammu and Kashmir' 'Jharkhand' 'Karnataka' 'Kerala'
 'Andaman & Nicobar Islands' 'Andaman and Nicobar Islands'
 'Andhra Pradesh' 'Mizoram' 'Nagaland' 'Odisha' 'Orissa' 'Pondicherry'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Ladakh'
 'Lakshadweep' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya'
 'Arunachal Pradesh' 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh'
 'Dadra and Nagar Haveli' 'Daman & Diu' 'Delhi' 'Daman and Diu'
 'West  Bengal' 'Dadra and Nagar Haveli and Daman and Diu'
 'Dadra & Nagar Haveli' 'West bengal' 'West Bangal' 'ODISHA' 'WEST BENGAL'
 'andhra pradesh' 'odisha' 'Westbengal' 'WESTBENGAL']

In [339]:
df_biometric_2["state"] = df_biometric_2["state"].astype(str)

df_biometric_2["state_clean"] = (
    df_biometric_2["state"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
)

In [340]:
state_map = {
    # J&K variations
    "jammu & kashmir": "jammu and kashmir",

    # Odisha old name
    "orissa": "odisha",

    # Puducherry old name
    "pondicherry": "puducherry",

    # Uttarakhand old name (if any appears later)
    "uttaranchal": "uttarakhand",

    # Andaman variations
    "andaman & nicobar islands": "andaman and nicobar islands",

    # Daman & Diu variations
    "daman & diu": "daman and diu",

    # Dadra variations
    "dadra & nagar haveli": "dadra and nagar haveli",

    # West Bengal duplicates
    "westbengal": "west bengal",
    "west bengal": "west bengal",
    "west  bengal": "west bengal",
    "west bengal ": "west bengal",
    "west bangal": "west bengal",
    "westbengal ": "west bengal",
    "west bengal.": "west bengal",

    # Case variants already handled by lowercase, but safe:
    "odisha": "odisha",
    "andhra pradesh": "andhra pradesh",

    # 2020 merger UT name (already present)
    "dadra and nagar haveli and daman and diu": "dadra and nagar haveli and daman and diu",
}

df_biometric_2["state_clean"] = df_biometric_2["state_clean"].replace(state_map)

In [341]:
df_biometric_2["state_clean"] = df_biometric_2["state_clean"].str.title()

In [342]:
df_biometric_2.drop(columns=["state"], inplace=True)
df_biometric_2.rename(columns={"state_clean": "state"}, inplace=True)

In [343]:
print(df_biometric_2["state"].nunique())

38

In [344]:
df_biometric_2["state"] = df_biometric_2["state"].replace({
    "Dadra And Nagar Haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "Daman And Diu": "Dadra And Nagar Haveli And Daman And Diu"
})

In [345]:
print(df_biometric_2["state"].nunique())

36

In [346]:
df_biometric_2.head()

         date   district  pincode  bio_age_5_17  bio_age_17_ state
0  19-09-2025  North Goa   403502             0            4   Goa
1  19-09-2025  North Goa   403508             1            4   Goa
2  19-09-2025  North Goa   403513             2            0   Goa
3  19-09-2025  North Goa   403527             2            2   Goa
4  19-09-2025  South Goa   403601             7            3   Goa

In [347]:
print(df_biometric_2["district"].unique())

['North Goa' 'South Goa' 'Ahmadabad' 'Ahmedabad' 'Amreli' 'Anand'
 'Arvalli' 'Banaskantha' 'Bharuch' 'Bhavnagar' 'Botad' 'Chhotaudepur'
 'Dahod' 'Devbhumi Dwarka' 'Dohad' 'Gandhinagar' 'Gir Somnath' 'Jamnagar'
 'Junagadh' 'Kachchh' 'Kheda' 'Mahesana' 'Mahisagar' 'Morbi' 'Narmada'
 'Navsari' 'Panchmahals' 'Patan' 'Porbandar' 'Rajkot' 'Sabarkantha'
 'Surat' 'Surendra Nagar' 'Surendranagar' 'Tapi' 'The Dangs' 'Vadodara'
 'Valsad' 'Ambala' 'Bhiwani' 'Charkhi Dadri' 'Faridabad' 'Fatehabad'
 'Gurgaon' 'Hisar' 'Jhajjar' 'Jind' 'Kaithal' 'Karnal' 'Mahendragarh'
 'Mewat' 'Palwal' 'Panchkula' 'Panipat' 'Rewari' 'Rohtak' 'Sirsa'
 'Sonipat' 'Yamuna Nagar' 'Bilaspur' 'Chamba' 'Hamirpur' 'Kangra'
 'Kinnaur' 'Kullu' 'Mandi' 'Shimla' 'Sirmaur' 'Solan' 'Una' 'Kathua'
 'Anantnag' 'Badgam' 'Bandipore' 'Baramula' 'Budgam' 'Doda' 'Ganderbal'
 'Jammu' 'Kulgam' 'Kupwara' 'Leh' 'Pulwama' 'Punch' 'Rajouri' 'Reasi'
 'Samba' 'Srinagar' 'Udhampur' 'Bokaro' 'Chatra' 'Deoghar' 'Dhanbad'
 'Dumka' 'East Singhbhum' 'Garhwa' 'Giridih' 'Godda' 'Gumla' 'Hazaribag'
 'Hazaribagh' 'Jamtara' 'Khunti' 'Kodarma' 'Koderma' 'Latehar' 'Lohardaga'
 'Pakur' 'Palamu' 'Pashchimi Singhbhum' 'Purbi Singhbhum' 'Ramgarh'
 'Ranchi' 'Sahebganj' 'Sahibganj' 'Seraikela-Kharsawan'
 'Seraikela-kharsawan' 'Simdega' 'West Singhbhum' 'Bagalkot' 'Bagalkot *'
 'Ballari' 'Bangalore' 'Bangalore Rural' 'Belagavi' 'Belgaum' 'Bellary'
 'Bengaluru' 'Bidar' 'Bijapur' 'Chamarajanagar' 'Chamrajanagar'
 'Chamrajnagar' 'Chickmagalur' 'Chikkaballapur' 'Chikkamagaluru'
 'Chikmagalur' 'Chitradurga' 'Dakshina Kannada' 'Davanagere' 'Davangere'
 'Dharwad' 'Gadag' 'Gadag *' 'Gulbarga' 'Hasan' 'Hassan' 'Haveri'
 'Haveri *' 'Kalaburagi' 'Kodagu' 'Kolar' 'Koppal' 'Mandya' 'Mysore'
 'Mysuru' 'Raichur' 'Ramanagar' 'Shimoga' 'Shivamogga' 'Tumakuru' 'Tumkur'
 'Udupi' 'Uttara Kannada' 'Vijayanagara' 'Vijayapura' 'Yadgir' 'Alappuzha'
 'Ernakulam' 'Idukki' 'Kannur' 'Kasaragod' 'Kasargod' 'Kollam' 'Kottayam'
 'Kozhikode' 'South Andaman' 'Nicobar' 'North And Middle Andaman'
 'Adilabad' 'Alluri Sitharama Raju' 'Anakapalli' 'Anantapur' 'Ananthapur'
 'Ananthapuramu' 'Annamayya' 'Bapatla' 'Chittoor' 'Cuddapah' 'Mammit'
 'Serchhip' 'Dimapur' 'Kohima' 'Longleng' 'Mokokchung' 'Mon' 'Tuensang'
 'Zunheboto' 'Angul' 'Anugul' 'Balangir' 'Baleshwar' 'Baleswar' 'Bargarh'
 'Baudh' 'Bhadrak' 'Boudh' 'Cuttack' 'Dhenkanal' 'Gajapati' 'Ganjam'
 'JAJPUR' 'Jagatsinghapur' 'Jagatsinghpur' 'Jajapur' 'Jajpur' 'Jharsuguda'
 'Kalahandi' 'Kandhamal' 'Kendrapara' 'Kendujhar' 'Khorda' 'Khordha'
 'Koraput' 'Malkangiri' 'Mayurbhanj' 'NUAPADA' 'Nabarangapur' 'Nayagarh'
 'Puri' 'Rayagada' 'Sambalpur' 'Sonapur' 'Subarnapur' 'Sundargarh'
 'Sundergarh' 'Debagarh' 'Karaikal' 'Pondicherry' 'Puducherry' 'Amritsar'
 'Barnala' 'Bathinda' 'Faridkot' 'Fatehgarh Sahib' 'Fazilka' 'Ferozepur'
 'Firozpur' 'Gurdaspur' 'Hoshiarpur' 'Jalandhar' 'Kapurthala' 'Ludhiana'
 'Malerkotla' 'Mansa' 'Moga' 'Muktsar' 'Nawanshahr' 'Pathankot' 'Patiala'
 'Rupnagar' 'S.A.S Nagar(Mohali)' 'SAS Nagar (Mohali)' 'Sangrur'
 'Shaheed Bhagat Singh Nagar' 'Sri Muktsar Sahib' 'Tarn Taran' 'Ajmer'
 'Alwar' 'Banswara' 'Baran' 'Barmer' 'Bharatpur' 'Bhilwara' 'Bikaner'
 'Bundi' 'Chittaurgarh' 'Chittorgarh' 'Churu' 'Dausa' 'Dholpur'
 'Dungarpur' 'Ganganagar' 'Hanumangarh' 'Jaipur' 'Jaisalmer' 'Jalor'
 'Jhalawar' 'Jhunjhunu' 'Jhunjhunun' 'Jodhpur' 'Karauli' 'Kota' 'Nagaur'
 'Pali' 'Pratapgarh' 'Rajsamand' 'Sawai Madhopur' 'Sikar' 'Sirohi' 'Tonk'
 'Udaipur' 'East' 'South Sikkim' 'West' 'Ariyalur' 'Chengalpattu'
 'Chennai' 'Coimbatore' 'Cuddalore' 'Dharmapuri' 'Dindigul' 'Erode'
 'Kallakurichi' 'Kancheepuram' 'Kanniyakumari' 'Kanyakumari' 'Karur'
 'Krishnagiri' 'Madurai' 'Mayiladuthurai' 'Nagapattinam' 'Namakkal'
 'Perambalur' 'Pudukkottai' 'Ramanathapuram' 'Ranipet' 'Salem' 'Sivaganga'
 'Tenkasi' 'Thanjavur' 'The Nilgiris' 'Theni' 'Thiruvallur' 'Thiruvarur'
 'Thoothukkudi' 'Tiruchirappalli' 'Tirunelveli' 'Tirupattur' 'Tiruppur'
 'Tiruvallur' 'Tiruvannamalai' 'Vellore' 'Villupuram' 'Viluppuram'
 'Virudhunagar' 'Bhadradri Kothagudem' 'Hanumakonda' 'Hyderabad'
 'Jagitial' 'Jangoan' 'Jayashankar Bhupalpally' 'Jogulamba Gadwal'
 'K.v. Rangareddy' 'Kamareddy' 'Karimnagar' 'Khammam' 'Komaram Bheem'
 'Mahabubabad' 'Mahabubnagar' 'Mancherial' 'Medak' 'Medchal-malkajgiri'
 'Medchal−malkajgiri' 'Mulugu' 'Nagarkurnool' 'Nalgonda' 'Narayanpet'
 'Nirmal' 'Nizamabad' 'Peddapalli' 'Rajanna Sircilla' 'Rangareddy'
 'Sangareddy' 'Siddipet' 'Suryapet' 'Vikarabad' 'Wanaparthy' 'Warangal'
 'Warangal Rural' 'Warangal Urban' 'Yadadri.' 'Dhalai' 'Gomati'
 'North Tripura' 'Sepahijala' 'South Tripura' 'Unakoti' 'West Tripura'
 'Agra' 'Aligarh' 'Allahabad' 'Ambedkar Nagar' 'Amethi' 'Amroha' 'Auraiya'
 'Ayodhya' 'Azamgarh' 'Baghpat' 'Bahraich' 'Ballia' 'Balrampur' 'Banda'
 'Bara Banki' 'Barabanki' 'Bareilly' 'Basti' 'Bhadohi' 'Bijnor' 'Budaun'
 'Bulandshahr' 'Chandauli' 'Chitrakoot' 'Deoria' 'Etah' 'Etawah'
 'Faizabad' 'Farrukhabad' 'Fatehpur' 'Firozabad' 'Gautam Buddha Nagar'
 'Ghaziabad' 'Ghazipur' 'Gonda' 'Gorakhpur' 'Hapur' 'Hardoi' 'Hathras'
 'Jalaun' 'Jaunpur' 'Jhansi' 'Kannauj' 'Kanpur Dehat' 'Kanpur Nagar'
 'Kasganj' 'Kaushambi' 'Kheri' 'Kushinagar' 'Lalitpur' 'Lucknow'
 'Maharajganj' 'Mahoba' 'Mainpuri' 'Mathura' 'Mau' 'Meerut' 'Mirzapur'
 'Moradabad' 'Muzaffarnagar' 'Pilibhit' 'Prayagraj' 'Rae Bareli' 'Rampur'
 'Saharanpur' 'Sambhal' 'Sant Kabir Nagar' 'Sant Ravidas Nagar'
 'Shahjahanpur' 'Shamli' 'Shrawasti' 'Siddharthnagar' 'Sitapur'
 'Sonbhadra' 'Sultanpur' 'Unnao' 'Varanasi' 'Almora' 'Chamoli' 'Champawat'
 'Dehradun' 'Haridwar' 'Nainital' 'Pauri Garhwal' 'Pithoragarh'
 'Rudraprayag' 'Tehri Garhwal' 'Udham Singh Nagar' 'Alipurduar' 'Bankura'
 'Barddhaman' 'Bardhaman' 'Birbhum' 'Cooch Behar' 'Dakshin Dinajpur'
 'Darjeeling' 'Darjiling' 'East Midnapore' 'Haora' 'Hooghly' 'Howrah'
 'Hugli' 'Jalpaiguri' 'Jhargram' 'Kalimpong' 'Koch Bihar' 'Kolkata'
 'Malda' 'Maldah' 'Murshidabad' 'Nadia' 'North 24 Parganas'
 'North Dinajpur' 'North Twenty Four Parganas' 'Paschim Bardhaman'
 'Paschim Medinipur' 'Purba Bardhaman' 'Purba Medinipur' 'Purulia'
 'Puruliya' 'South 24 Parganas' 'South Dinajpur'
 'South Twenty Four Parganas' 'Uttar Dinajpur' 'West Midnapore'
 'Malappuram' 'Palakkad' 'Pathanamthitta' 'Thiruvananthapuram' 'Thrissur'
 'Wayanad' 'Kargil' 'Lakshadweep' 'Alirajpur' 'Anuppur' 'Ashok Nagar'
 'Balaghat' 'Barwani' 'Betul' 'Bhind' 'Bhopal' 'Burhanpur' 'Chhatarpur'
 'Chhindwara' 'Damoh' 'Datia' 'Dewas' 'Dhar' 'Dindori' 'Guna' 'Gwalior'
 'Hoshangabad' 'Indore' 'Jabalpur' 'Jhabua' 'Khandwa' 'Khargone' 'Maihar'
 'Mandla' 'Mandsaur' 'Mauganj' 'Morena' 'Narmadapuram' 'Narsimhapur'
 'Narsinghpur' 'Neemuch' 'Niwari' 'Panna' 'Raisen' 'Rajgarh' 'Ratlam'
 'Rewa' 'Sagar' 'Satna' 'Sehore' 'Seoni' 'Shahdol' 'Shajapur' 'Sheopur'
 'Shivpuri' 'Sidhi' 'Singrauli' 'Tikamgarh' 'Ujjain' 'Umaria' 'Vidisha'
 'West Nimar' 'Ahmadnagar' 'Ahmed Nagar' 'Akola' 'Amravati' 'Aurangabad'
 'Beed' 'Bhandara' 'Bid' 'Buldana' 'Buldhana' 'Chandrapur'
 'Chhatrapati Sambhajinagar' 'Dhule' 'Gadchiroli' 'Gondiya' 'Hingoli'
 'Jalgaon' 'Jalna' 'Kolhapur' 'Latur' 'Mumbai' 'Mumbai City'
 'Mumbai Suburban' 'Mumbai( Sub Urban )' 'Nagpur' 'Nanded' 'Nandurbar'
 'Nandurbar *' 'Nashik' 'Osmanabad' 'Palghar' 'Parbhani' 'Pune' 'Raigad'
 'Raigarh' 'Raigarh(MH)' 'Ratnagiri' 'Sangli' 'Satara' 'Sindhudurg'
 'Solapur' 'Thane' 'Wardha' 'Washim' 'Washim *' 'Yavatmal' 'Bishnupur'
 'Chandel' 'Imphal East' 'Imphal West' 'Jiribam' 'Kakching' 'Senapati'
 'Tamenglong' 'Thoubal' 'East Khasi Hills' 'North Garo Hills' 'Ri Bhoi'
 'South West Garo Hills' 'South West Khasi Hills' 'West Garo Hills'
 'West Jaintia Hills' 'Aizawl' 'Kolasib' 'Lunglei' 'Mamit' 'Panch Mahals'
 'Kurukshetra' 'Lahul and Spiti' 'Rajauri' 'Kishtwar' 'Ramban' 'Garhwa *'
 'Pakaur' 'Palamau' 'yadgir' 'Dr. B. R. Ambedkar Konaseema'
 'East Godavari' 'Eluru' 'Guntur' 'K.V.Rangareddy' 'Kakinada'
 'Karim Nagar' 'Krishna' 'Kurnool' 'Mahabub Nagar' 'Mahbubnagar' 'N. T. R'
 'Nandyal' 'Nellore' 'Palnadu' 'Parvathipuram Manyam' 'Prakasam'
 'Rangareddi' 'Sri Potti Sriramulu Nellore' 'Sri Sathya Sai' 'Srikakulam'
 'Tirupati' 'Visakhapatnam' 'Vizianagaram' 'West Godavari' 'Y. S. R'
 'Changlang' 'East Kameng' 'Tawang' 'Tirap' 'West Siang' 'Barpeta'
 'Biswanath' 'Bongaigaon' 'Cachar' 'Charaideo' 'Chirang' 'Darrang'
 'Dhemaji' 'Dhubri' 'Dibrugarh' 'Goalpara' 'Golaghat' 'Hailakandi' 'Hojai'
 'Kamrup' 'Kamrup Metro' 'Karbi Anglong' 'Karimganj' 'Kokrajhar'
 'Lakhimpur' 'Nagaon' 'Nalbari' 'North Cachar Hills' 'Sibsagar' 'Sonitpur'
 'Tinsukia' 'Udalguri' 'Araria' 'Arwal' 'Banka' 'Begusarai' 'Bhagalpur'
 'Bhojpur' 'Buxar' 'Darbhanga' 'East Champaran' 'Gaya' 'Gopalganj' 'Jamui'
 'Jehanabad' 'Kaimur (Bhabua)' 'Katihar' 'Khagaria' 'Lakhisarai'
 'Madhepura' 'Madhubani' 'Munger' 'Muzaffarpur' 'Nalanda' 'Nawada'
 'Pashchim Champaran' 'Patna' 'Purnea' 'Purnia' 'Rohtas' 'Saharsa'
 'Samastipur' 'Saran' 'Sheikpura' 'Sheohar' 'Sitamarhi' 'Siwan' 'Supaul'
 'Vaishali' 'West Champaran' 'Chandigarh' 'Balod' 'Baloda Bazar' 'Bastar'
 'Bemetara' 'Dakshin Bastar Dantewada' 'Dantewada' 'Durg' 'Gariyaband'
 'Janjgir-champa' 'Jashpur' 'Kabeerdham' 'Kanker' 'Kawardha' 'Kondagaon'
 'Korba' 'Koriya' 'Mungeli' 'Raipur' 'Rajnandgaon' 'Sarangarh-Bilaigarh'
 'Sukma' 'Surajpur' 'Surguja' 'Uttar Bastar Kanker'
 'Dadra and Nagar Haveli' 'Daman' 'Central Delhi' 'Najafgarh'
 'North Delhi' 'North East' 'North West Delhi' 'Shahdara' 'South Delhi'
 'South West Delhi' 'West Delhi' 'Jangaon' 'Jyotiba Phule Nagar'
 'Sant Ravidas Nagar Bhadohi' 'Bageshwar' 'Garhwal' 'Uttarkashi' 'Nuapada'
 'Yanam' 'East Sikkim' 'South' 'West Sikkim' 'East Nimar' 'Harda' 'Katni'
 'Pandhurna' 'Chatrapati Sambhaji Nagar' 'Dharashiv' 'Gondia'
 'Churachandpur' 'Ukhrul' 'Lawngtlai' 'Saiha' 'Niuland' 'Andamans' 'MALDA'
 'Banas Kantha' 'Yamunanagar' 'Leh (ladakh)' 'Chamarajanagar *'
 'Agar Malwa' 'Harda *' 'Gondiya *' 'West Khasi Hills' 'Kiphire' 'Meluri'
 'Peren' 'East Siang' 'Lohit' 'Lower Siang' 'Papum Pare' 'Shi-yomi'
 'West Kameng' 'Baksa' 'Marigaon' 'South Salmara Mankachar'
 'Aurangabad(BH)' 'Aurangabad(bh)' 'Kishanganj' 'Purba Champaran'
 'Sheikhpura' 'Dhamtari' 'Gaurela-pendra-marwahi' 'Mahasamund'
 'Mohla-Manpur-Ambagarh Chouki' 'Narayanpur' 'North East Delhi'
 'Bulandshahar' 'Hardwar' 'Bally Jagachha' 'jajpur' 'Burdwan' 'Kra Daadi'
 'Longding' 'Pakke Kessang' 'Siang' 'Upper Siang' 'Upper Subansiri'
 'Jorhat' 'Sribhumi' 'Monghyr' 'Samstipur' 'Khairagarh Chhuikhadan Gandai'
 'Sakti' 'East Delhi' 'Lahul & Spiti' 'Bengaluru South'
 'East Jaintia Hills' 'Champhai' 'Noklak' 'Phek' 'Shamator' 'Khowai' 'Diu'
 'New Delhi' 'South East Delhi' 'Sabar Kantha' 'Shupiyan' 'Bokaro *'
 'Dhaulpur' 'North' 'Anjaw' 'Kurung Kumey' 'Lower Dibang Valley' 'Namsai'
 'Chumukedima' 'Wokha' 'Majuli' 'West Karbi Anglong' 'Bhabua'
 'Dadra & Nagar Haveli' 'North Sikkim' 'ANUGUL' 'Lower Subansiri'
 'Medinipur' 'East Garo Hills' 'Mahrajganj' 'HOWRAH' 'ANGUL'
 'South Garo Hills' 'Tseminyu' 'Tamulpur District' 'Janjgir Champa'
 'Janjgir - Champa' 'Bagpat' 'hooghly' 'Deeg' 'Dhalai  *' 'Raebareli'
 'East Midnapur' 'Warangal (urban)' 'Kamle' 'Dima Hasao' 'KOLKATA'
 'Khawzawl' 'Hawrah' 'Tirupathur' 'Lahaul and Spiti' 'Bijapur(KAR)'
 'NAYAGARH' 'Hooghiy' 'Dibang Valley' 'Manendragarh–Chirmiri–Bharatpur'
 'Kushinagar *' 'NADIA' 'Bajali' 'Mohalla-Manpur-Ambagarh Chowki'
 'HOOGHLY' 'chittoor' 'Bardez' 'Anugal' 'East midnapore' 'nadia'
 'rangareddi' 'Deeg\xa0' 'Leparada' 'Jaintia Hills' 'South 24 parganas'
 'South DumDum(M)' 'Hnahthial' 'Gautam Buddha Nagar *' 'Bengaluru Rural'
 'Mohali' 'Hingoli *' 'South 24 pargana' 'east midnapore' 'Anugul  *'
 'Kanchipuram' 'Namchi' 'West Medinipur' 'Saitual' 'Tuticorin' 'Akhera'
 'Jalore']

In [348]:
df_biometric_2["district"] = df_biometric_2["district"].astype(str)

df_biometric_2["district_clean"] = (
    df_biometric_2["district"]
    .str.strip()
    .str.lower()
    .str.replace("\xa0", " ", regex=False)      # remove hidden spaces
    .str.replace(r"\s+", " ", regex=True)
    .str.replace(r"\*", "", regex=True)        # remove *
    .str.replace(r"[()]", "", regex=True)      # remove ()
    .str.replace(r"\.", "", regex=True)        # remove dots
    .str.replace(r"−", "-", regex=True)        # fix dash
)

In [349]:
district_map_2 = {
    # Gujarat
    "ahmadabad": "ahmedabad",
    "surendra nagar": "surendranagar",
    "dohad": "dahod",

    # Karnataka
    "bangalore": "bengaluru",
    "bangalore rural": "bengaluru rural",
    "belgaum": "belagavi",
    "bellary": "ballari",
    "bijapur": "vijayapura",
    "shimoga": "shivamogga",
    "tumkur": "tumakuru",
    "chamrajanagar": "chamarajanagar",
    "chamrajnagar": "chamarajanagar",
    "chickmagalur": "chikkamagaluru",
    "chikmagalur": "chikkamagaluru",
    "hasan": "hassan",

    # Odisha
    "angul": "anugul",
    "anugal": "anugul",
    "nuapada": "nuapada",
    "khorda": "khordha",
    "baleswar": "baleshwar",
    "baudh": "boudh",

    # West Bengal
    "hugli": "hooghly",
    "hooghiy": "hooghly",
    "haora": "howrah",
    "hawrah": "howrah",
    "burdwan": "barddhaman",
    "bardhaman": "barddhaman",
    "north twenty four parganas": "north 24 parganas",
    "north 24 parganas": "north 24 parganas",
    "south twenty four parganas": "south 24 parganas",
    "south 24 pargana": "south 24 parganas",
    "south 24 parganas": "south 24 parganas",
    "east midnapore": "purba medinipur",
    "east midnapur": "purba medinipur",
    "west midnapore": "paschim medinipur",
    "west medinipur": "paschim medinipur",
    "puruliya": "purulia",

    # Telangana
    "k v rangareddy": "ranga reddy",
    "kvrangareddy": "ranga reddy",
    "rangareddy": "ranga reddy",
    "rangareddi": "ranga reddy",
    "karim nagar": "karimnagar",
    "yadadri": "yadadri bhuvanagiri",

    # Tamil Nadu
    "kanchipuram": "kancheepuram",
    "tuticorin": "thoothukkudi",
    "tirupathur": "tirupattur",
    "villupuram": "viluppuram",
    "kanyakumari": "kanniyakumari",

    # UP
    "bara banki": "barabanki",
    "prayagraj": "allahabad",  # if you want keep new name, reverse this

    # J&K / Ladakh
    "leh ladakh": "leh",
    "leh ladakh ": "leh",

    # Special: remove any leftover double spaces
    "dhalai ": "dhalai",
}
df_biometric_2["district_clean"] = df_biometric_2["district_clean"].replace(district_map_2)

In [350]:
df_biometric_2["district_clean"] = df_biometric_2["district_clean"].str.title()

In [351]:
df_biometric_2.drop(columns=["district"], inplace=True)
df_biometric_2.rename(columns={"district_clean": "district"}, inplace=True)

In [352]:
print("Unique districts:", df_biometric_2["district"].nunique())
print(df_biometric_2["district"].value_counts().head(50))

Unique districts: 877
district
Bengaluru             4397
Belagavi              3796
Viluppuram            3795
Barddhaman            3747
North 24 Parganas     3592
Pune                  3053
Karimnagar            2994
Thrissur              2920
East Godavari         2882
Warangal              2864
Purba Medinipur       2864
Medak                 2654
Hyderabad             2604
South 24 Parganas     2573
Tirunelveli           2554
Kanniyakumari         2528
Nalgonda              2463
Palakkad              2433
Vellore               2346
Khordha               2324
Ernakulam             2317
Paschim Medinipur     2315
Thiruvananthapuram    2315
West Godavari         2300
Khammam               2271
Baleshwar             2243
Krishna               2232
Guntur                2231
Ahmedabad             2209
Tumakuru              2122
Kv Rangareddy         2091
Thanjavur             2076
Prakasam              2070
Mumbai                2041
Kollam                2031
Chittoor              2021
Hooghly               2012
Tiruchirappalli       2010
Adilabad              2000
Ahmadnagar            1997
Coimbatore            1972
Kottayam              1963
Kangra                1954
Malappuram            1950
Kancheepuram          1939
Alappuzha             1933
Thane                 1930
Ganjam                1908
Anantapur             1903
Howrah                1864
Name: count, dtype: int64

In [353]:
df_biometric_2.head()

         date  pincode  bio_age_5_17  bio_age_17_ state   district
0  19-09-2025   403502             0            4   Goa  North Goa
1  19-09-2025   403508             1            4   Goa  North Goa
2  19-09-2025   403513             2            0   Goa  North Goa
3  19-09-2025   403527             2            2   Goa  North Goa
4  19-09-2025   403601             7            3   Goa  South Goa

In [354]:
df_biometric_3 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_biometric\api_data_aadhar_biometric_1000000_1500000.csv")
df_biometric_3.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamunanagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [355]:
print(df_biometric_3["state"].unique())

['Haryana' 'Himachal Pradesh' 'Jammu and Kashmir' 'Jharkhand' 'Karnataka'
 'Kerala' 'Lakshadweep' 'Madhya Pradesh' 'Maharashtra'
 'Andaman & Nicobar Islands' 'Andaman and Nicobar Islands'
 'Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'Bihar' 'Uttar Pradesh'
 'Uttarakhand' 'West Bengal' 'Chandigarh' 'Chhattisgarh'
 'Dadra & Nagar Haveli' 'Dadra and Nagar Haveli' 'Daman & Diu'
 'Daman and Diu' 'Delhi' 'Goa' 'Gujarat' 'Jammu & Kashmir' 'Manipur'
 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha' 'Orissa' 'Pondicherry'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Ladakh' 'West Bangal' 'West bengal' 'odisha'
 'Dadra and Nagar Haveli and Daman and Diu' 'West  Bengal' 'WEST BENGAL'
 'andhra pradesh' 'Westbengal' 'Chhatisgarh' 'ODISHA' 'WESTBENGAL'
 'Uttaranchal']

In [356]:
df_biometric_3["state"] = df_biometric_3["state"].astype(str)

df_biometric_3["state_clean"] = (
    df_biometric_3["state"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
)

In [357]:
state_map = {
    # Jammu & Kashmir variations
    "jammu & kashmir": "jammu and kashmir",

    # Old names
    "orissa": "odisha",
    "pondicherry": "puducherry",
    "uttaranchal": "uttarakhand",

    # Spelling mistakes
    "chhatisgarh": "chhattisgarh",
    "west bangal": "west bengal",

    # Andaman variations
    "andaman & nicobar islands": "andaman and nicobar islands",

    # Dadra variations
    "dadra & nagar haveli": "dadra and nagar haveli",

    # Daman variations
    "daman & diu": "daman and diu",

    # Case/space variations (lowercase already done)
    "westbengal": "west bengal",
    "west  bengal": "west bengal",

    # lowercase variants
    "odisha": "odisha",
    "andhra pradesh": "andhra pradesh",
}

df_biometric_3["state_clean"] = df_biometric_3["state_clean"].replace(state_map)

In [358]:
df_biometric_3["state_clean"] = df_biometric_3["state_clean"].str.title()

In [359]:
df_biometric_3.drop(columns=["state"], inplace=True)
df_biometric_3.rename(columns={"state_clean": "state"}, inplace=True)

In [360]:
print(df_biometric_3["state"].unique())
print("Unique states:", df_biometric_3["state"].nunique())

['Haryana' 'Himachal Pradesh' 'Jammu And Kashmir' 'Jharkhand' 'Karnataka'
 'Kerala' 'Lakshadweep' 'Madhya Pradesh' 'Maharashtra'
 'Andaman And Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Chandigarh'
 'Chhattisgarh' 'Dadra And Nagar Haveli' 'Daman And Diu' 'Delhi' 'Goa'
 'Gujarat' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Ladakh' 'Dadra And Nagar Haveli And Daman And Diu']
Unique states: 38

In [361]:
df_biometric_3["state"] = df_biometric_3["state"].replace({
    "Dadra And Nagar Haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "Daman And Diu": "Dadra And Nagar Haveli And Daman And Diu"
})

In [362]:
print("Unique states:", df_biometric_3["state"].nunique())
print(df_biometric_3["state"].unique())

Unique states: 36
['Haryana' 'Himachal Pradesh' 'Jammu And Kashmir' 'Jharkhand' 'Karnataka'
 'Kerala' 'Lakshadweep' 'Madhya Pradesh' 'Maharashtra'
 'Andaman And Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Chandigarh'
 'Chhattisgarh' 'Dadra And Nagar Haveli And Daman And Diu' 'Delhi' 'Goa'
 'Gujarat' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Ladakh']

In [363]:
print(df_biometric_3["state"].unique())

['Haryana' 'Himachal Pradesh' 'Jammu And Kashmir' 'Jharkhand' 'Karnataka'
 'Kerala' 'Lakshadweep' 'Madhya Pradesh' 'Maharashtra'
 'Andaman And Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Chandigarh'
 'Chhattisgarh' 'Dadra And Nagar Haveli And Daman And Diu' 'Delhi' 'Goa'
 'Gujarat' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Ladakh']

In [364]:
print(df_biometric_3["district"].unique())

['Yamuna Nagar' 'Yamunanagar' 'Bilaspur' 'Chamba' 'Hamirpur' 'Kangra'
 'Kinnaur' 'Kullu' 'Lahul & Spiti' 'Lahul and Spiti' 'Mandi' 'Shimla'
 'Sirmaur' 'Solan' 'Una' 'Anantnag' 'Badgam' 'Bandipore' 'Baramula'
 'Budgam' 'Doda' 'Jammu' 'Kargil' 'Kathua' 'Kishtwar' 'Kupwara' 'Leh'
 'Punch' 'Rajouri' 'Reasi' 'Samba' 'Shupiyan' 'Srinagar' 'Udhampur'
 'Bokaro' 'Chatra' 'Deoghar' 'Dhanbad' 'Dumka' 'East Singhbhum' 'Garhwa'
 'Giridih' 'Godda' 'Gumla' 'Hazaribag' 'Hazaribagh' 'Jamtara' 'Khunti'
 'Kodarma' 'Koderma' 'Lohardaga' 'Pakur' 'Palamu' 'Pashchimi Singhbhum'
 'Purbi Singhbhum' 'Ramgarh' 'Ranchi' 'Sahebganj' 'Seraikela-Kharsawan'
 'Seraikela-kharsawan' 'Simdega' 'West Singhbhum' 'Bagalkot' 'Ballari'
 'Bangalore' 'Bangalore Rural' 'Belagavi' 'Belgaum' 'Bellary' 'Bengaluru'
 'Bengaluru South' 'Bidar' 'Bijapur' 'Chamarajanagar' 'Chamrajanagar'
 'Chickmagalur' 'Chikkaballapur' 'Chikkamagaluru' 'Chitradurga'
 'Dakshina Kannada' 'Davanagere' 'Davangere' 'Dharwad' 'Gadag' 'Gadag *'
 'Gulbarga' 'Hasan' 'Hassan' 'Haveri' 'Kalaburagi' 'Kodagu' 'Kolar'
 'Koppal' 'Mandya' 'Mysore' 'Mysuru' 'Raichur' 'Ramanagar' 'Shimoga'
 'Shivamogga' 'Tumakuru' 'Tumkur' 'Udupi' 'Uttara Kannada' 'Vijayanagara'
 'Vijayapura' 'Yadgir' 'yadgir' 'Alappuzha' 'Ernakulam' 'Idukki' 'Kannur'
 'Kasaragod' 'Kasargod' 'Kollam' 'Kottayam' 'Kozhikode' 'Malappuram'
 'Palakkad' 'Pathanamthitta' 'Thiruvananthapuram' 'Thrissur' 'Wayanad'
 'Lakshadweep' 'Agar Malwa' 'Anuppur' 'Ashok Nagar' 'Balaghat' 'Barwani'
 'Betul' 'Bhind' 'Bhopal' 'Burhanpur' 'Chhatarpur' 'Chhindwara' 'Damoh'
 'Datia' 'Dewas' 'Dhar' 'Dindori' 'East Nimar' 'Guna' 'Gwalior'
 'Hoshangabad' 'Indore' 'Jabalpur' 'Jhabua' 'Katni' 'Khandwa' 'Khargone'
 'Maihar' 'Mandla' 'Mandsaur' 'Mauganj' 'Narsimhapur' 'Narsinghpur'
 'Neemuch' 'Niwari' 'Panna' 'Raisen' 'Rajgarh' 'Ratlam' 'Rewa' 'Sagar'
 'Satna' 'Sehore' 'Seoni' 'Shahdol' 'Shajapur' 'Shivpuri' 'Sidhi'
 'Tikamgarh' 'Ujjain' 'Umaria' 'Vidisha' 'West Nimar' 'Ahmadnagar'
 'Ahmed Nagar' 'Akola' 'Amravati' 'Aurangabad' 'Beed' 'Bhandara' 'Bid'
 'Buldana' 'Buldhana' 'Chandrapur' 'Chhatrapati Sambhajinagar' 'Dharashiv'
 'Dhule' 'Gadchiroli' 'Gondia' 'Gondiya *' 'Hingoli' 'Jalgaon' 'Jalna'
 'Kolhapur' 'Latur' 'Mumbai' 'Mumbai City' 'Mumbai Suburban'
 'Mumbai( Sub Urban )' 'Nagpur' 'Andamans' 'North And Middle Andaman'
 'South Andaman' 'Adilabad' 'Alluri Sitharama Raju' 'Anakapalli'
 'Anantapur' 'Ananthapur' 'Ananthapuramu' 'Annamayya' 'Bapatla' 'Chittoor'
 'Cuddapah' 'Dr. B. R. Ambedkar Konaseema' 'East Godavari' 'Eluru'
 'Guntur' 'Hyderabad' 'K.v. Rangareddy' 'Kakinada' 'Karim Nagar'
 'Karimnagar' 'Khammam' 'Krishna' 'Kurnool' 'Mahabub Nagar' 'Mahbubnagar'
 'Medak' 'N. T. R' 'Nalgonda' 'Nandyal' 'Nellore' 'Nizamabad' 'Palnadu'
 'Parvathipuram Manyam' 'Prakasam' 'Rangareddi'
 'Sri Potti Sriramulu Nellore' 'Sri Sathya Sai' 'Srikakulam' 'Tirupati'
 'Visakhapatnam' 'Vizianagaram' 'Warangal' 'West Godavari' 'Y. S. R'
 'Changlang' 'East Kameng' 'East Siang' 'Kamle' 'Kra Daadi' 'Lohit'
 'Longding' 'Namsai' 'Papum Pare' 'Upper Siang' 'West Kameng' 'West Siang'
 'Baksa' 'Barpeta' 'Biswanath' 'Bongaigaon' 'Cachar' 'Charaideo' 'Chirang'
 'Darrang' 'Dhemaji' 'Dhubri' 'Dibrugarh' 'Goalpara' 'Golaghat'
 'Hailakandi' 'Hojai' 'Jorhat' 'Kamrup' 'Kamrup Metro' 'Karbi Anglong'
 'Karimganj' 'Kokrajhar' 'Lakhimpur' 'Majuli' 'Nagaon' 'Nalbari'
 'Sibsagar' 'Sonitpur' 'Sribhumi' 'Tinsukia' 'Udalguri'
 'West Karbi Anglong' 'Arwal' 'Banka' 'Begusarai' 'Bhagalpur' 'Bhojpur'
 'Buxar' 'Darbhanga' 'East Champaran' 'Gaya' 'Gopalganj' 'Jamui'
 'Jehanabad' 'Kaimur (Bhabua)' 'Katihar' 'Kishanganj' 'Lakhisarai'
 'Madhepura' 'Madhubani' 'Pratapgarh' 'Prayagraj' 'Rae Bareli' 'Rampur'
 'Saharanpur' 'Sambhal' 'Sant Kabir Nagar' 'Sant Ravidas Nagar'
 'Shahjahanpur' 'Shamli' 'Siddharthnagar' 'Sitapur' 'Sonbhadra'
 'Sultanpur' 'Unnao' 'Varanasi' 'Almora' 'Bageshwar' 'Chamoli' 'Champawat'
 'Dehradun' 'Hardwar' 'Haridwar' 'Nainital' 'Pauri Garhwal' 'Pithoragarh'
 'Rudraprayag' 'Tehri Garhwal' 'Udham Singh Nagar' 'Alipurduar' 'Bankura'
 'Barddhaman' 'Bardhaman' 'Birbhum' 'Cooch Behar' 'Dakshin Dinajpur'
 'Darjeeling' 'Darjiling' 'East Midnapore' 'Haora' 'Hooghly' 'Howrah'
 'Hugli' 'Jalpaiguri' 'Jhargram' 'Kalimpong' 'Koch Bihar' 'Kolkata'
 'MALDA' 'Malda' 'Maldah' 'Murshidabad' 'Nadia' 'North 24 Parganas'
 'North Dinajpur' 'North Twenty Four Parganas' 'Paschim Bardhaman'
 'Paschim Medinipur' 'Purba Bardhaman' 'Purba Medinipur' 'Purulia'
 'Puruliya' 'South 24 Parganas' 'South Twenty Four Parganas'
 'Uttar Dinajpur' 'West Midnapore' 'Munger' 'Muzaffarpur' 'Nalanda'
 'Nawada' 'Patna' 'Purba Champaran' 'Purnea' 'Purnia' 'Rohtas' 'Saharsa'
 'Samastipur' 'Samstipur' 'Saran' 'Sheikhpura' 'Sheohar' 'Sitamarhi'
 'Siwan' 'Supaul' 'Vaishali' 'West Champaran' 'Chandigarh' 'Baloda Bazar'
 'Balrampur' 'Bastar' 'Bemetara' 'Dakshin Bastar Dantewada' 'Dantewada'
 'Dhamtari' 'Durg' 'Gariyaband' 'Gaurela-pendra-marwahi' 'Janjgir-champa'
 'Jashpur' 'Kabeerdham' 'Kanker' 'Kawardha' 'Kondagaon' 'Korba' 'Koriya'
 'Mohalla-Manpur-Ambagarh Chowki' 'Mungeli' 'Raigarh' 'Raipur'
 'Rajnandgaon' 'Sarangarh-Bilaigarh' 'Sukma' 'Surajpur' 'Surguja'
 'Uttar Bastar Kanker' 'Dadra & Nagar Haveli' 'Dadra and Nagar Haveli'
 'Diu' 'Daman' 'Central Delhi' 'East Delhi' 'New Delhi' 'North Delhi'
 'North East Delhi' 'North West Delhi' 'Shahdara' 'South Delhi'
 'South West Delhi' 'West Delhi' 'North Goa' 'South Goa' 'Ahmadabad'
 'Ahmedabad' 'Amreli' 'Anand' 'Arvalli' 'Banaskantha' 'Bharuch'
 'Bhavnagar' 'Botad' 'Chhotaudepur' 'Dahod' 'Devbhumi Dwarka'
 'Gandhinagar' 'Gir Somnath' 'Jamnagar' 'Junagadh' 'Kachchh' 'Kheda'
 'Mahesana' 'Mahisagar' 'Morbi' 'Narmada' 'Navsari' 'Panchmahals' 'Patan'
 'Porbandar' 'Rajkot' 'Sabar Kantha' 'Sabarkantha' 'Surat'
 'Surendra Nagar' 'Surendranagar' 'Tapi' 'Vadodara' 'Valsad' 'Ambala'
 'Bhiwani' 'Charkhi Dadri' 'Faridabad' 'Fatehabad' 'Gurgaon' 'Hisar'
 'Jhajjar' 'Jind' 'Kaithal' 'Karnal' 'Kurukshetra' 'Mahendragarh' 'Mewat'
 'Palwal' 'Panchkula' 'Panipat' 'Rewari' 'Rohtak' 'Sirsa' 'Sonipat'
 'Ganderbal' 'Kulgam' 'Pulwama' 'Ramban' 'Latehar' 'Pakaur' 'Sahibganj'
 'Chamrajnagar' 'Chikmagalur' 'Ratnagiri' 'Sangli' 'Satara' 'Sindhudurg'
 'Solapur' 'Thane' 'Wardha' 'Washim' 'Washim *' 'Yavatmal' 'Chandel'
 'Churachandpur' 'Imphal West' 'Jiribam' 'Kakching' 'Senapati' 'Thoubal'
 'Ukhrul' 'East Garo Hills' 'East Khasi Hills' 'South West Garo Hills'
 'West Garo Hills' 'West Jaintia Hills' 'Aizawl' 'Champhai' 'Kolasib'
 'Lunglei' 'Mamit' 'Mammit' 'Serchhip' 'Chumukedima' 'Dimapur' 'Kohima'
 'Longleng' 'Mokokchung' 'Mon' 'Phek' 'Zunheboto' 'Angul' 'Anugul'
 'Balangir' 'Baleshwar' 'Baleswar' 'Bargarh' 'Baudh' 'Bhadrak' 'Boudh'
 'Cuttack' 'Debagarh' 'Dhenkanal' 'Gajapati' 'Ganjam' 'JAJPUR'
 'Jagatsinghapur' 'Jagatsinghpur' 'Jajapur' 'Jharsuguda' 'Kalahandi'
 'Kandhamal' 'Kendrapara' 'Kendujhar' 'Khorda' 'Khordha' 'Koraput'
 'Malkangiri' 'Mayurbhanj' 'Nabarangapur' 'Nayagarh' 'Nuapada' 'Puri'
 'Rayagada' 'Sambalpur' 'Sonapur' 'Subarnapur' 'Sundargarh' 'Sundergarh'
 'Pondicherry' 'Karaikal' 'Puducherry' 'Amritsar' 'Bathinda' 'Faridkot'
 'Fatehgarh Sahib' 'Fazilka' 'Ferozepur' 'Firozpur' 'Gurdaspur'
 'Hoshiarpur' 'Jalandhar' 'Kapurthala' 'Ludhiana' 'Malerkotla' 'Mansa'
 'Moga' 'Muktsar' 'Nawanshahr' 'Pathankot' 'Patiala' 'Rupnagar'
 'S.A.S Nagar(Mohali)' 'SAS Nagar (Mohali)' 'Sangrur'
 'Shaheed Bhagat Singh Nagar' 'Sri Muktsar Sahib' 'Tarn Taran' 'Ajmer'
 'Alwar' 'Banswara' 'Baran' 'Barmer' 'Bharatpur' 'Bhilwara' 'Bikaner'
 'Bundi' 'Chittaurgarh' 'Chittorgarh' 'Churu' 'Dausa' 'Deeg' 'Dholpur'
 'Dungarpur' 'Ganganagar' 'Hanumangarh' 'Jaipur' 'Jaisalmer' 'Jalor'
 'Jhalawar' 'Jhunjhunun' 'Jodhpur' 'Karauli' 'Kota' 'Nagaur' 'Pali'
 'Rajsamand' 'Sawai Madhopur' 'Sikar' 'Sirohi' 'Tonk' 'Udaipur' 'East'
 'East Sikkim' 'North Sikkim' 'South Sikkim' 'Ariyalur' 'Chengalpattu'
 'Chennai' 'Coimbatore' 'Cuddalore' 'Dharmapuri' 'Dindigul' 'Erode'
 'Kallakurichi' 'Kancheepuram' 'Kanniyakumari' 'Kanyakumari' 'Karur'
 'Krishnagiri' 'Madurai' 'Mayiladuthurai' 'Nagapattinam' 'Namakkal'
 'Perambalur' 'Pudukkottai' 'Ramanathapuram' 'Ranipet' 'Salem' 'Sivaganga'
 'Tenkasi' 'Thanjavur' 'The Nilgiris' 'Theni' 'Thiruvallur' 'Thiruvarur'
 'Thoothukkudi' 'Tiruchirappalli' 'Tirunelveli' 'Tirupathur' 'Tirupattur'
 'Tiruppur' 'Tiruvallur' 'Tiruvannamalai' 'Vellore' 'Villupuram'
 'Viluppuram' 'Virudhunagar' 'Bhadradri Kothagudem' 'Hanumakonda'
 'Jagitial' 'Jangoan' 'Jayashankar Bhupalpally' 'Jogulamba Gadwal'
 'Kamareddy' 'Komaram Bheem' 'Mahabubabad' 'Mahabubnagar' 'Mancherial'
 'Medchal-malkajgiri' 'Medchal−malkajgiri' 'Mulugu' 'Nagarkurnool'
 'Narayanpet' 'Nirmal' 'Peddapalli' 'Rajanna Sircilla' 'Sangareddy'
 'Siddipet' 'Suryapet' 'Vikarabad' 'Wanaparthy' 'Warangal Rural'
 'Warangal Urban' 'Yadadri.' 'Dhalai' 'Gomati' 'North Tripura'
 'Sepahijala' 'South Tripura' 'West Tripura' 'Agra' 'Aligarh' 'Allahabad'
 'Ambedkar Nagar' 'Amethi' 'Amroha' 'Auraiya' 'Ayodhya' 'Azamgarh'
 'Bahraich' 'Ballia' 'Banda' 'Bara Banki' 'Barabanki' 'Bareilly' 'Basti'
 'Bhadohi' 'Bijnor' 'Budaun' 'Bulandshahr' 'Chandauli' 'Chitrakoot'
 'Deoria' 'Etah' 'Etawah' 'Faizabad' 'Farrukhabad' 'Fatehpur' 'Firozabad'
 'Gautam Buddha Nagar' 'Ghaziabad' 'Ghazipur' 'Gonda' 'Gorakhpur' 'Hapur'
 'Hardoi' 'Hathras' 'Jalaun' 'Jaunpur' 'Jhansi' 'Kannauj' 'Kanpur Dehat'
 'Kanpur Nagar' 'Kasganj' 'Kaushambi' 'Kheri' 'Kushinagar' 'Lalitpur'
 'Lucknow' 'Maharajganj' 'Mahoba' 'Mainpuri' 'Mathura' 'Mau' 'Meerut'
 'Mirzapur' 'Moradabad' 'Muzaffarnagar' 'Pilibhit' 'Haveri *' 'Alirajpur'
 'Harda' 'Harda *' 'Morena' 'Narmadapuram' 'Pandhurna' 'Singrauli'
 'Gondiya' 'Hingoli *' 'Nanded' 'Nandurbar' 'Nandurbar *' 'Nashik'
 'Osmanabad' 'Palghar' 'Parbhani' 'Pune' 'Raigad' 'Raigarh(MH)' 'Nicobar'
 'K.V.Rangareddy' 'Dibang Valley' 'Lower Siang' 'Tawang' 'Tirap'
 'Marigaon' 'Araria' 'Khagaria' 'Shrawasti' 'South Dinajpur' 'hooghly'
 'Lower Dibang Valley' 'Upper Subansiri' 'North Cachar Hills'
 'South Salmara Mankachar' 'Aurangabad(bh)' 'Pashchim Champaran' 'Balod'
 'Mahasamund' 'Manendragarh–Chirmiri–Bharatpur'
 'Mohla-Manpur-Ambagarh Chouki' 'Najafgarh' 'Dohad' 'Panch Mahals'
 'The Dangs' 'Bandipur' 'Garhwa *' 'Bishnupur' 'Tamenglong'
 'East Jaintia Hills' 'Ri Bhoi' 'South West Khasi Hills'
 'West Khasi Hills' 'Lawngtlai' 'Meluri' 'Peren' 'Shamator' 'Tuensang'
 'NUAPADA' 'Barnala' 'Jhunjhunu' 'South' 'West' 'West Sikkim'
 'Kanchipuram' 'Rangareddy' 'Khowai' 'Unakoti' 'Baghpat'
 'Khairagarh Chhuikhadan Gandai' 'Narayanpur' 'Sakti' 'Palamau'
 'Bagalkot *' 'jajpur' 'Yanam' 'Deeg\xa0' 'North' 'Sheopur'
 'Chatrapati Sambhaji Nagar' 'Imphal East' 'North Garo Hills' 'Kiphire'
 'Wokha' 'Jangaon' 'Garhwal' 'Uttarkashi' 'Kurung Kumey' 'Lower Subansiri'
 'Siang' 'North East' 'Banas Kantha' 'Bulandshahar' 'Saiha' 'Noklak'
 'Leparada' 'Mohali' 'Dhaulpur' 'HOOGHLY' 'Chamarajanagar *'
 'South Garo Hills' 'Jajpur' 'Shi-yomi' 'Janjgir Champa'
 'Jyotiba Phule Nagar' 'Medinipur' 'Anjaw' 'Janjgir - Champa' 'Dhalai  *'
 'Hnahthial' 'Sant Ravidas Nagar Bhadohi' 'Domjur' 'nadia' 'Dima Hasao'
 'ANUGUL' 'Raebareli' 'HOWRAH' 'rangareddi' 'Niuland' 'NADIA' 'Bhabua'
 'Sheikpura' 'Kushinagar *' 'Auraiya *' 'Aurangabad(BH)'
 'Tamulpur District' 'Warangal (urban)' 'Monghyr' 'chittoor'
 'South East Delhi' 'Pakke Kessang' 'Bardez' 'Bengaluru Rural' 'NAYAGARH'
 'Lahaul and Spiti' 'Mahrajganj' 'Hawrah' 'Saitual'
 'Eastern West Khasi Hills' 'Jaintia Hills' 'Bijapur(KAR)'
 'Bally Jagachha' 'Hooghiy' 'East midnapore' '?' 'Tseminyu'
 'Didwana-Kuchaman' 'Rajauri' 'Tiswadi' 'Jalore' 'Anugal' 'East Midnapur'
 'Khairthal-Tijara' 'South DumDum(M)' 'Bokaro *' 'Kotputli-Behror'
 'Beawar' 'Tiruvarur' 'Nicobars' 'Balotra' 'Namchi' 'Bajali' 'Bagpat'
 'Khordha  *' 'Tuticorin' 'Leh (ladakh)']

In [365]:
df_biometric_3["district"] = df_biometric_3["district"].astype(str)

df_biometric_3["district_clean"] = (
    df_biometric_3["district"]
    .str.strip()
    .str.lower()
    .str.replace("\xa0", " ", regex=False)    # hidden space
    .str.replace(r"\s+", " ", regex=True)    # multi spaces
    .str.replace(r"\*", "", regex=True)      # remove *
    .str.replace(r"\?", "", regex=True)      # remove ?
    .str.replace(r"[()]", "", regex=True)    # remove brackets
    .str.replace(r"\.", "", regex=True)      # remove dots
    .str.replace(r"−", "-", regex=True)      # dash fix
)

In [366]:
district_map = {
    # Haryana
    "yamuna nagar": "yamunanagar",

    # Himachal
    "lahul & spiti": "lahaul and spiti",

    # Jammu & Kashmir
    "bandipore": "bandipora",
    "baramula": "baramulla",
    "badgam": "budgam",
    "shupiyan": "shopian",

    # Jharkhand
    "hazaribag": "hazaribagh",
    "kodarma": "koderma",
    "sahebganj": "sahibganj",
    "seraikela-kharsawan": "seraikela kharsawan",
    "seraikela-kharsawan ": "seraikela kharsawan",
    "seraikela-kharsawan": "seraikela kharsawan",

    # Karnataka
    "bangalore": "bengaluru",
    "belgaum": "belagavi",
    "bellary": "ballari",
    "bijapur": "vijayapura",
    "shimoga": "shivamogga",
    "tumkur": "tumakuru",
    "mysore": "mysuru",
    "hasan": "hassan",
    "chamrajanagar": "chamarajanagar",
    "chamrajnagar": "chamarajanagar",
    "chickmagalur": "chikkamagaluru",
    "chikmagalur": "chikkamagaluru",

    # Kerala
    "kasargod": "kasaragod",

    # Gujarat
    "ahmadabad": "ahmedabad",
    "surendra nagar": "surendranagar",
    "sabar kantha": "sabarkantha",
    "panch mahals": "panchmahals",
    "dohad": "dahod",

    # Odisha
    "angul": "anugul",
    "anugal": "anugul",
    "baleswar": "baleshwar",
    "baudh": "boudh",
    "khorda": "khordha",
    "sonapur": "subarnapur",
    "sundargarh": "sundergarh",

    # WB
    "hugli": "hooghly",
    "hooghiy": "hooghly",
    "haora": "howrah",
    "hawrah": "howrah",
    "malda": "maldah",
    "north twenty four parganas": "north 24 parganas",
    "south twenty four parganas": "south 24 parganas",
    "east midnapore": "purba medinipur",
    "east midnapur": "purba medinipur",
    "west midnapore": "paschim medinipur",
    "puruliya": "purulia",

    # UP
    "bara banki": "barabanki",
    "jyotiba phule nagar": "amroha",
    "raebareli": "rae bareli",
    "sant ravidas nagar bhadohi": "bhadohi",

    # Tamil Nadu
    "kanchipuram": "kancheepuram",
    "tuticorin": "thoothukkudi",

    # Telangana
    "karim nagar": "karimnagar",
    "k v rangareddy": "ranga reddy",
    "rangareddy": "ranga reddy",
    "rangareddi": "ranga reddy",

    # Chhattisgarh
    "janjgir champa": "janjgir-champa",
    "janjgir - champa": "janjgir-champa",
}

df_biometric_3["district_clean"] = df_biometric_3["district_clean"].replace(district_map)

In [367]:
df_biometric_3["district_clean"] = df_biometric_3["district_clean"].str.title()

In [368]:
df_biometric_3 = df_biometric_3[df_biometric_3["district"] != "?"]

In [369]:
df_biometric_3.drop(columns=["district"], inplace=True)
df_biometric_3.rename(columns={"district_clean": "district"}, inplace=True)

In [370]:
print("Unique districts:", df_biometric_3["district"].nunique())
print(df_biometric_3["district"].value_counts().head(30))

Unique districts: 877
district
Bengaluru             4387
Belagavi              3773
North 24 Parganas     3708
Thrissur              3089
Pune                  3073
Purba Medinipur       2888
Barddhaman            2860
East Godavari         2820
Palakkad              2705
Karimnagar            2613
Warangal              2555
South 24 Parganas     2542
Ernakulam             2540
Thiruvananthapuram    2456
Hyderabad             2416
Tirunelveli           2403
Khordha               2377
Mysuru                2376
West Godavari         2298
Ahmedabad             2288
Paschim Medinipur     2284
Kollam                2263
Medak                 2250
Vellore               2233
Tumakuru              2216
Kottayam              2207
Krishna               2198
Coimbatore            2188
Baleshwar             2172
Nalgonda              2164
Name: count, dtype: int64

In [371]:
df_biometric_4 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_biometric\api_data_aadhar_biometric_1500000_1861108.csv")
df_biometric_4.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,08-12-2025,Uttar Pradesh,Moradabad,244411,4,2
1,08-12-2025,Uttar Pradesh,Moradabad,244601,14,19
2,08-12-2025,Uttar Pradesh,Muzaffarnagar,251002,22,37
3,08-12-2025,Uttar Pradesh,Muzaffarnagar,251202,4,4
4,08-12-2025,Uttar Pradesh,Muzaffarnagar,251319,4,7

In [372]:
df_biometric_4.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,08-12-2025,Uttar Pradesh,Moradabad,244411,4,2
1,08-12-2025,Uttar Pradesh,Moradabad,244601,14,19
2,08-12-2025,Uttar Pradesh,Muzaffarnagar,251002,22,37
3,08-12-2025,Uttar Pradesh,Muzaffarnagar,251202,4,4
4,08-12-2025,Uttar Pradesh,Muzaffarnagar,251319,4,7

In [373]:
print(df_biometric_4["state"].unique())

['Uttar Pradesh' 'Uttarakhand' 'West Bangal' 'West Bengal' 'West bengal'
 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh'
 'Dadra and Nagar Haveli and Daman and Diu' 'Delhi' 'Goa' 'Gujarat'
 'Haryana' 'Himachal Pradesh' 'Jammu and Kashmir' 'Jharkhand'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Orissa' 'Pondicherry' 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim'
 'Tamil Nadu' 'Telangana' 'Karnataka' 'Kerala' 'Ladakh' 'Madhya Pradesh'
 'Andaman & Nicobar Islands' 'Andaman and Nicobar Islands'
 'Andhra Pradesh' 'Arunachal Pradesh' 'Dadra & Nagar Haveli'
 'Dadra and Nagar Haveli' 'Lakshadweep' 'Tripura' 'Daman and Diu'
 'Jammu & Kashmir' 'Daman & Diu' 'WEST BENGAL' 'ODISHA' 'Chhatisgarh'
 'Westbengal' 'West  Bengal' 'Tamilnadu' 'andhra pradesh']

In [374]:
df_biometric_4["state"] = df_biometric_4["state"].astype(str)

df_biometric_4["state_clean"] = (
    df_biometric_4["state"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
)

In [375]:
state_map = {
    # West Bengal variations
    "west bangal": "west bengal",
    "west bengal": "west bengal",
    "west bengal ": "west bengal",
    "west  bengal": "west bengal",
    "westbengal": "west bengal",

    # Odisha variations
    "orissa": "odisha",
    "odisha": "odisha",

    # Tamil Nadu variations
    "tamilnadu": "tamil nadu",

    # Andhra Pradesh case variant
    "andhra pradesh": "andhra pradesh",

    # J&K variations
    "jammu & kashmir": "jammu and kashmir",

    # Andaman variations
    "andaman & nicobar islands": "andaman and nicobar islands",

    # Chhattisgarh wrong spelling
    "chhatisgarh": "chhattisgarh",

    # Pondicherry old name
    "pondicherry": "puducherry",

    # Dadra variations
    "dadra & nagar haveli": "dadra and nagar haveli",

    # Daman variations
    "daman & diu": "daman and diu",
}

df_biometric_4["state_clean"] = df_biometric_4["state_clean"].replace(state_map)

In [376]:
df_biometric_4["state_clean"] = df_biometric_4["state_clean"].replace({
    "dadra and nagar haveli": "dadra and nagar haveli and daman and diu",
    "daman and diu": "dadra and nagar haveli and daman and diu",
})

In [377]:
df_biometric_4["state_clean"] = df_biometric_4["state_clean"].str.title()

In [378]:
df_biometric_4.drop(columns=["state"], inplace=True)
df_biometric_4.rename(columns={"state_clean": "state"}, inplace=True)

In [379]:
print(df_biometric_4["state"].unique())
print("Unique states:", df_biometric_4["state"].nunique())

['Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Assam' 'Bihar' 'Chandigarh'
 'Chhattisgarh' 'Dadra And Nagar Haveli And Daman And Diu' 'Delhi' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu And Kashmir' 'Jharkhand'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Karnataka' 'Kerala' 'Ladakh' 'Madhya Pradesh'
 'Andaman And Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Lakshadweep' 'Tripura']
Unique states: 36

In [380]:
print(df_biometric_4["district"].unique())

['Moradabad' 'Muzaffarnagar' 'Pilibhit' 'Pratapgarh' 'Prayagraj'
 'Rae Bareli' 'Rampur' 'Saharanpur' 'Sambhal' 'Sant Kabir Nagar'
 'Sant Ravidas Nagar' 'Sant Ravidas Nagar Bhadohi' 'Shahjahanpur' 'Shamli'
 'Shrawasti' 'Siddharthnagar' 'Sitapur' 'Sonbhadra' 'Sultanpur' 'Unnao'
 'Varanasi' 'Almora' 'Bageshwar' 'Chamoli' 'Champawat' 'Dehradun'
 'Hardwar' 'Haridwar' 'Nainital' 'Pauri Garhwal' 'Pithoragarh'
 'Rudraprayag' 'Tehri Garhwal' 'Udham Singh Nagar' 'Uttarkashi' 'Hooghly'
 'Alipurduar' 'Bankura' 'Barddhaman' 'Bardhaman' 'Birbhum' 'Cooch Behar'
 'Dakshin Dinajpur' 'Darjeeling' 'Darjiling' 'East Midnapore' 'Haora'
 'Howrah' 'Hugli' 'Jalpaiguri' 'Jhargram' 'Koch Bihar' 'Kolkata' 'Malda'
 'Maldah' 'Murshidabad' 'Nadia' 'North 24 Parganas' 'North Dinajpur'
 'North Twenty Four Parganas' 'Paschim Bardhaman' 'Paschim Medinipur'
 'Purba Bardhaman' 'Purba Medinipur' 'Purulia' 'Puruliya'
 'South 24 Parganas' 'South Dinajpur' 'South Twenty Four Parganas'
 'Uttar Dinajpur' 'West Midnapore' 'hooghly' 'Jorhat' 'Kamrup'
 'Kamrup Metro' 'Karbi Anglong' 'Karimganj' 'Kokrajhar' 'Lakhimpur'
 'Majuli' 'Marigaon' 'Nagaon' 'Nalbari' 'Sibsagar' 'Sonitpur'
 'South Salmara Mankachar' 'Sribhumi' 'Tinsukia' 'Udalguri' 'Araria'
 'Arwal' 'Aurangabad' 'Banka' 'Begusarai' 'Bhagalpur' 'Bhojpur' 'Buxar'
 'Darbhanga' 'East Champaran' 'Gaya' 'Gopalganj' 'Jamui' 'Jehanabad'
 'Kaimur (Bhabua)' 'Katihar' 'Khagaria' 'Kishanganj' 'Lakhisarai'
 'Madhepura' 'Madhubani' 'Munger' 'Muzaffarpur' 'Nalanda' 'Nawada' 'Patna'
 'Purnea' 'Purnia' 'Rohtas' 'Saharsa' 'Samastipur' 'Saran' 'Sheikhpura'
 'Sheohar' 'Sitamarhi' 'Siwan' 'Supaul' 'Vaishali' 'West Champaran'
 'Chandigarh' 'Balod' 'Baloda Bazar' 'Balrampur' 'Bastar' 'Bemetara'
 'Bijapur' 'Bilaspur' 'Dakshin Bastar Dantewada' 'Dantewada' 'Dhamtari'
 'Durg' 'Gariyaband' 'Gaurela-pendra-marwahi' 'Janjgir-champa' 'Jashpur'
 'Kabeerdham' 'Kanker' 'Kawardha' 'Kondagaon' 'Korba' 'Koriya'
 'Mahasamund' 'Mohalla-Manpur-Ambagarh Chowki'
 'Mohla-Manpur-Ambagarh Chouki' 'Narayanpur' 'Raigarh' 'Raipur'
 'Rajnandgaon' 'Sakti' 'Surajpur' 'Surguja' 'Uttar Bastar Kanker'
 'Dadra and Nagar Haveli' 'East Delhi' 'New Delhi' 'North Delhi'
 'North East Delhi' 'North West Delhi' 'South Delhi' 'South West Delhi'
 'West Delhi' 'North Goa' 'South Goa' 'Ahmadabad' 'Ahmedabad' 'Amreli'
 'Anand' 'Arvalli' 'Banas Kantha' 'Banaskantha' 'Bharuch' 'Bhavnagar'
 'Botad' 'Chhotaudepur' 'Devbhumi Dwarka' 'Dohad' 'Gandhinagar'
 'Gir Somnath' 'Jamnagar' 'Junagadh' 'Kachchh' 'Kheda' 'Mahesana'
 'Mahisagar' 'Morbi' 'Narmada' 'Navsari' 'Panch Mahals' 'Panchmahals'
 'Patan' 'Porbandar' 'Rajkot' 'Sabarkantha' 'Surat' 'Surendra Nagar'
 'Surendranagar' 'Tapi' 'The Dangs' 'Vadodara' 'Valsad' 'Ambala' 'Bhiwani'
 'Faridabad' 'Fatehabad' 'Gurgaon' 'Hisar' 'Jhajjar' 'Karnal'
 'Mahendragarh' 'Mewat' 'Panchkula' 'Panipat' 'Rewari' 'Rohtak' 'Sirsa'
 'Sonipat' 'Yamuna Nagar' 'Chamba' 'Hamirpur' 'Kangra' 'Kinnaur' 'Kullu'
 'Lahul & Spiti' 'Lahul and Spiti' 'Mandi' 'Shimla' 'Sirmaur' 'Solan'
 'Una' 'Anantnag' 'Badgam' 'Bandipore' 'Baramula' 'Budgam' 'Doda' 'Jammu'
 'Kargil' 'Kathua' 'Kishtwar' 'Kupwara' 'Pulwama' 'Punch' 'Rajouri'
 'Reasi' 'Srinagar' 'Udhampur' 'Bokaro' 'Chatra' 'Deoghar' 'Dhanbad'
 'Dumka' 'East Singhbhum' 'Garhwa' 'Garhwa *' 'Giridih' 'Godda' 'Gumla'
 'Hazaribag' 'Hazaribagh' 'Khunti' 'Latehar' 'Lohardaga' 'Pakur' 'Palamu'
 'Pashchimi Singhbhum' 'Purbi Singhbhum' 'Ramgarh' 'Ranchi' 'Sahebganj'
 'Seraikela-Kharsawan' 'Seraikela-kharsawan' 'Ahmadnagar' 'Ahmed Nagar'
 'Akola' 'Amravati' 'Beed' 'Bhandara' 'Bid' 'Buldana' 'Buldhana'
 'Chandrapur' 'Chhatrapati Sambhajinagar' 'Dhule' 'Gadchiroli' 'Gondia'
 'Gondiya' 'Gondiya *' 'Hingoli' 'Jalgaon' 'Jalna' 'Kolhapur' 'Latur'
 'Mumbai' 'Mumbai City' 'Mumbai Suburban' 'Mumbai( Sub Urban )' 'Nagpur'
 'Nanded' 'Nandurbar' 'Nandurbar *' 'Nashik' 'Osmanabad' 'Palghar'
 'Parbhani' 'Pune' 'Raigad' 'Raigarh(MH)' 'Ratnagiri' 'Sangli' 'Satara'
 'Sindhudurg' 'Solapur' 'Thane' 'Wardha' 'Washim' 'Yavatmal' 'Bishnupur'
 'Churachandpur' 'Imphal East' 'Imphal West' 'Senapati' 'Tamenglong'
 'Thoubal' 'East Garo Hills' 'East Jaintia Hills' 'East Khasi Hills'
 'Eastern West Khasi Hills' 'Ri Bhoi' 'South Garo Hills'
 'South West Garo Hills' 'South West Khasi Hills' 'West Garo Hills'
 'West Jaintia Hills' 'Champhai' 'Lawngtlai' 'Lunglei' 'Saiha' 'Saitual'
 'Chumukedima' 'Dimapur' 'Kiphire' 'Kohima' 'Mokokchung' 'Mon' 'Noklak'
 'Phek' 'Tuensang' 'Angul' 'Balangir' 'Baleshwar' 'Baleswar' 'Bargarh'
 'Baudh' 'Bhadrak' 'Boudh' 'Cuttack' 'Debagarh' 'Dhenkanal' 'Gajapati'
 'Ganjam' 'JAJPUR' 'Jagatsinghapur' 'Jagatsinghpur' 'Jajapur' 'Jharsuguda'
 'Kalahandi' 'Kandhamal' 'Kendrapara' 'Kendujhar' 'Khorda' 'Khordha'
 'Koraput' 'Malkangiri' 'Mayurbhanj' 'Nabarangapur' 'Nayagarh' 'Nuapada'
 'Puri' 'Rayagada' 'Sambalpur' 'Sonapur' 'Subarnapur' 'Sundargarh'
 'Sundergarh' 'Karaikal' 'Pondicherry' 'Yanam' 'Puducherry' 'Amritsar'
 'Barnala' 'Bathinda' 'Faridkot' 'Fatehgarh Sahib' 'Fazilka' 'Ferozepur'
 'Firozpur' 'Gurdaspur' 'Hoshiarpur' 'Jalandhar' 'Kapurthala' 'Ludhiana'
 'Mansa' 'Moga' 'Muktsar' 'Nawanshahr' 'Pathankot' 'Patiala' 'Rupnagar'
 'S.A.S Nagar(Mohali)' 'SAS Nagar (Mohali)' 'Sangrur'
 'Shaheed Bhagat Singh Nagar' 'Sri Muktsar Sahib' 'Tarn Taran' 'Ajmer'
 'Alwar' 'Banswara' 'Baran' 'Barmer' 'Bharatpur' 'Bhilwara' 'Bikaner'
 'Bundi' 'Chittaurgarh' 'Chittorgarh' 'Churu' 'Dausa' 'Dholpur'
 'Dungarpur' 'Ganganagar' 'Hanumangarh' 'Jaipur' 'Jaisalmer' 'Jalor'
 'Jhalawar' 'Jhunjhunu' 'Jhunjhunun' 'Jodhpur' 'Karauli' 'Kota' 'Nagaur'
 'Pali' 'Rajsamand' 'Sawai Madhopur' 'Sikar' 'Sirohi' 'Tonk' 'Udaipur'
 'East' 'North' 'South' 'Ariyalur' 'Chengalpattu' 'Chennai' 'Coimbatore'
 'Cuddalore' 'Dharmapuri' 'Dindigul' 'Erode' 'Kallakurichi' 'Kancheepuram'
 'Kanniyakumari' 'Kanyakumari' 'Karur' 'Krishnagiri' 'Madurai'
 'Mayiladuthurai' 'Nagapattinam' 'Namakkal' 'Perambalur' 'Pudukkottai'
 'Ramanathapuram' 'Ranipet' 'Salem' 'Sivaganga' 'Tenkasi' 'Thanjavur'
 'The Nilgiris' 'Theni' 'Thiruvallur' 'Thiruvarur' 'Thoothukkudi'
 'Tiruchirappalli' 'Tirunelveli' 'Tirupattur' 'Tiruppur' 'Tiruvallur'
 'Tiruvannamalai' 'Vellore' 'Villupuram' 'Viluppuram' 'Virudhunagar'
 'Adilabad' 'Bhadradri Kothagudem' 'Hanumakonda' 'Hyderabad' 'Jagitial'
 'Jangoan' 'Jayashankar Bhupalpally' 'Jogulamba Gadwal' 'K.v. Rangareddy'
 'Kamareddy' 'Karimnagar' 'Khammam' 'Komaram Bheem' 'Mahabubabad'
 'Mahabubnagar' 'Simdega' 'West Singhbhum' 'Bagalkot' 'Bagalkot *'
 'Ballari' 'Bangalore' 'Belagavi' 'Belgaum' 'Bellary' 'Bengaluru'
 'Bengaluru South' 'Bidar' 'Chamarajanagar' 'Chamrajanagar' 'Chamrajnagar'
 'Chickmagalur' 'Chikkaballapur' 'Chikkamagaluru' 'Chitradurga'
 'Dakshina Kannada' 'Davanagere' 'Davangere' 'Dharwad' 'Gadag' 'Gadag *'
 'Gulbarga' 'Hasan' 'Hassan' 'Haveri' 'Haveri *' 'Kalaburagi' 'Kodagu'
 'Koppal' 'Mandya' 'Mysore' 'Mysuru' 'Raichur' 'Ramanagar' 'Shimoga'
 'Shivamogga' 'Tumakuru' 'Tumkur' 'Udupi' 'Uttara Kannada' 'Vijayanagara'
 'Vijayapura' 'Yadgir' 'yadgir' 'Alappuzha' 'Ernakulam' 'Idukki' 'Kannur'
 'Kasaragod' 'Kasargod' 'Kollam' 'Kottayam' 'Kozhikode' 'Malappuram'
 'Palakkad' 'Pathanamthitta' 'Thiruvananthapuram' 'Thrissur' 'Wayanad'
 'Leh' 'Agar Malwa' 'Alirajpur' 'Anuppur' 'Ashok Nagar' 'Balaghat'
 'Barwani' 'Betul' 'Bhind' 'Bhopal' 'Chhatarpur' 'Chhindwara' 'Damoh'
 'Dewas' 'Dhar' 'Dindori' 'East Nimar' 'Guna' 'Gwalior' 'Harda' 'Harda *'
 'Hoshangabad' 'Indore' 'Jabalpur' 'Jhabua' 'Katni' 'Khandwa' 'Khargone'
 'Mandla' 'Mandsaur' 'Mauganj' 'Morena' 'Narmadapuram' 'Narsimhapur'
 'Narsinghpur' 'Neemuch' 'Niwari' 'Raisen' 'Rajgarh' 'Ratlam' 'Rewa'
 'Sagar' 'Satna' 'Sehore' 'Seoni' 'Shahdol' 'Shajapur' 'Sheopur'
 'Shivpuri' 'Sidhi' 'Tikamgarh' 'Ujjain' 'Vidisha' 'West Nimar' 'Andamans'
 'South Andaman' 'Nicobar' 'Alluri Sitharama Raju' 'Anakapalli'
 'Anantapur' 'Ananthapur' 'Ananthapuramu' 'Annamayya' 'Chittoor'
 'Cuddapah' 'Dr. B. R. Ambedkar Konaseema' 'East Godavari' 'Eluru'
 'Guntur' 'K.V.Rangareddy' 'Kakinada' 'Karim Nagar' 'Krishna' 'Kurnool'
 'Mahabub Nagar' 'Mahbubnagar' 'Medak' 'Nalgonda' 'Nandyal' 'Nellore'
 'Nizamabad' 'Palnadu' 'Parvathipuram Manyam' 'Prakasam' 'Rangareddi'
 'Sri Potti Sriramulu Nellore' 'Sri Sathya Sai' 'Srikakulam' 'Tirupati'
 'Visakhapatnam' 'Vizianagaram' 'Warangal' 'West Godavari' 'Y. S. R'
 'Changlang' 'Lower Subansiri' 'Namsai' 'Shi-yomi' 'Tirap' 'Upper Siang'
 'West Kameng' 'Baksa' 'Barpeta' 'Biswanath' 'Bongaigaon' 'Cachar'
 'Charaideo' 'Chirang' 'Darrang' 'Dhemaji' 'Dhubri' 'Dibrugarh' 'Goalpara'
 'Golaghat' 'Hailakandi' 'Hojai' 'North And Middle Andaman' 'Bapatla'
 'N. T. R' 'East Siang' 'Longding' 'Tawang' 'Upper Subansiri' 'West Siang'
 'West Karbi Anglong' 'Samstipur' 'Janjgir Champa' 'Sarangarh-Bilaigarh'
 'Sukma' 'Dadra & Nagar Haveli' 'Daman' 'Central Delhi' 'North East'
 'Shahdara' 'Dahod' 'Charkhi Dadri' 'Jind' 'Kaithal' 'Kurukshetra'
 'Yamunanagar' 'Deeg' 'Dhaulpur' 'East Sikkim' 'North Sikkim'
 'South Sikkim' 'West' 'Ganderbal' 'Kulgam' 'Ramban' 'Shupiyan' 'Jamtara'
 'Koderma' 'Pakaur' 'Palamau' 'Bangalore Rural' 'Kolar' 'Lakshadweep'
 'Datia' 'Maihar' 'Singrauli' 'Dharashiv' 'Washim *' 'West Khasi Hills'
 'Aizawl' 'Mammit' 'Serchhip' 'Longleng' 'Niuland' 'Wokha' 'Zunheboto'
 'Anugul' 'Jajpur' 'Mancherial' 'Medchal-malkajgiri' 'Medchal−malkajgiri'
 'Mulugu' 'Nagarkurnool' 'Narayanpet' 'Nirmal' 'Peddapalli'
 'Rajanna Sircilla' 'Sangareddy' 'Siddipet' 'Suryapet' 'Vikarabad'
 'Wanaparthy' 'Warangal Rural' 'Warangal Urban' 'Yadadri.' 'Dhalai'
 'North Tripura' 'Sepahijala' 'South Tripura' 'Unakoti' 'West Tripura'
 'Agra' 'Aligarh' 'Allahabad' 'Ambedkar Nagar' 'Amethi' 'Amroha' 'Auraiya'
 'Ayodhya' 'Azamgarh' 'Baghpat' 'Bahraich' 'Ballia' 'Banda' 'Bara Banki'
 'Bareilly' 'Basti' 'Bhadohi' 'Bijnor' 'Budaun' 'Bulandshahr' 'Chandauli'
 'Deoria' 'Etah' 'Etawah' 'Faizabad' 'Farrukhabad' 'Fatehpur' 'Firozabad'
 'Gautam Buddha Nagar' 'Ghaziabad' 'Ghazipur' 'Gonda' 'Gorakhpur' 'Hapur'
 'Hardoi' 'Hathras' 'Jalaun' 'Jaunpur' 'Jhansi' 'Jyotiba Phule Nagar'
 'Kannauj' 'Kanpur Dehat' 'Kanpur Nagar' 'Kasganj' 'Kaushambi' 'Kheri'
 'Kushinagar' 'Lucknow' 'Maharajganj' 'Mahoba' 'Mainpuri' 'Mathura' 'Mau'
 'Meerut' 'Mirzapur' 'Kalimpong' 'Medinipur' 'East Kameng' 'Leparada'
 'Lohit' 'Papum Pare' 'Siang' 'North Cachar Hills' 'Aurangabad(bh)'
 'Pashchim Champaran' 'Purba Champaran' 'Manendragarh–Chirmiri–Bharatpur'
 'Mungeli' 'Diu' 'Sabar Kantha' 'Palwal' 'Samba' 'Kodarma' 'Chandel'
 'Jiribam' 'North Garo Hills' 'Kolasib' 'Shamator' 'Tseminyu' 'jajpur'
 'Malerkotla' 'Kotputli-Behror' 'West Sikkim' 'Rangareddy' 'Dhalai  *'
 'Gomati' 'Khowai' 'Barabanki' 'Chitrakoot' 'Lalitpur' 'Mahrajganj'
 'Garhwal' 'Chikmagalur' 'Burhanpur' 'Panna' 'Umaria' 'Kakching' 'Ukhrul'
 'Mamit' 'Meluri' 'Peren' 'Kurung Kumey' 'Monghyr' 'Lahaul and Spiti'
 'Sahibganj' 'Bulandshahar' 'Kushinagar *' 'West Medinipur'
 'Lower Dibang Valley' 'Najafgarh' 'Anjaw' 'Dibang Valley'
 'Chatrapati Sambhaji Nagar' 'Kra Daadi' 'Bajali' 'Sheikpura'
 'Janjgir - Champa' 'Khairagarh Chhuikhadan Gandai' 'South East Delhi'
 'Chamarajanagar *' 'Didwana-Kuchaman' 'Jangaon' 'NUAPADA' 'Hnahthial'
 'ANUGUL' 'Lower Siang' 'HOWRAH' 'Pandhurna' 'South DumDum(M)' 'Bhabua'
 'Hawrah' 'Bardez' 'Dima Hasao' 'Jalore' 'Namchi' 'Ahilyanagar'
 'Aurangabad(BH)' 'Mohali' 'Phalodi' 'East midnapore' 'MALDA' 'Balotra'
 'Raebareli' 'Deeg\xa0' 'Tamulpur District' 'Pherzawl' 'HOOGHLY'
 'Bijapur(KAR)' 'Beawar' 'Khairthal-Tijara' 'Kanchipuram' 'Tirupathur'
 'Rajauri' 'Udupi *' 'Pakke Kessang' 'Khawzawl' 'Warangal (urban)'
 'Hooghiy' 'Bally Jagachha' 'Medchal?malkajgiri' 'Bengaluru Rural'
 'Chandauli *' 'Hingoli *' 'Tuticorin' 'Poonch' 'chittoor' 'NAYAGARH'
 'Salumbar' 'Kamle']

In [381]:
df_biometric_4["district"] = df_biometric_4["district"].astype(str)

df_biometric_4["district_clean"] = (
    df_biometric_4["district"]
    .str.strip()
    .str.lower()
    .str.replace("\xa0", " ", regex=False)
    .str.replace(r"\s+", " ", regex=True)
    .str.replace(r"\*", "", regex=True)
    .str.replace(r"\?", "", regex=True)
    .str.replace(r"[()]", "", regex=True)
    .str.replace(r"\.", "", regex=True)
    .str.replace(r"−", "-", regex=True)
)

In [382]:
district_map = {
    # WB duplicates
    "hooghly": "hooghly",
    "hooghiy": "hooghly",
    "hugli": "hooghly",
    "haora": "howrah",
    "hawrah": "howrah",
    "maldah": "maldah",
    "malda": "maldah",
    "bardhaman": "barddhaman",
    "north twenty four parganas": "north 24 parganas",
    "south twenty four parganas": "south 24 parganas",
    "east midnapore": "purba medinipur",
    "east midnapur": "purba medinipur",
    "west midnapore": "paschim medinipur",
    "puruliya": "purulia",

    # UP duplicates
    "raebareli": "rae bareli",
    "jyotiba phule nagar": "amroha",
    "sant ravidas nagar bhadohi": "bhadohi",

    # Uttarakhand duplicates
    "hardwar": "haridwar",

    # Haryana
    "yamuna nagar": "yamunanagar",

    # J&K / Ladakh
    "punch": "poonch",
    "poonch": "poonch",
    "badgam": "budgam",
    "baramula": "baramulla",
    "bandipore": "bandipora",
    "shupiyan": "shopian",

    # Gujarat
    "ahmadabad": "ahmedabad",
    "banas kantha": "banaskantha",
    "panch mahals": "panchmahals",
    "surendra nagar": "surendranagar",
    "dohad": "dahod",
    "sabar kantha": "sabarkantha",

    # Karnataka
    "bangalore": "bengaluru",
    "belgaum": "belagavi",
    "bellary": "ballari",
    "bijapur": "vijayapura",
    "shimoga": "shivamogga",
    "tumkur": "tumakuru",
    "mysore": "mysuru",
    "hasan": "hassan",
    "chamrajanagar": "chamarajanagar",
    "chamrajnagar": "chamarajanagar",
    "chickmagalur": "chikkamagaluru",
    "chikmagalur": "chikkamagaluru",

    # Odisha
    "angul": "anugul",
    "anugal": "anugul",
    "baleswar": "baleshwar",
    "baudh": "boudh",
    "khorda": "khordha",
    "sonapur": "subarnapur",
    "sundargarh": "sundergarh",

    # Tamil Nadu
    "kanchipuram": "kancheepuram",
    "tuticorin": "thoothukkudi",
    "tirupathur": "tirupattur",

    # Telangana
    "karim nagar": "karimnagar",
    "k v rangareddy": "ranga reddy",
    "rangareddy": "ranga reddy",
    "rangareddi": "ranga reddy",
    "medchal?malkajgiri": "medchal-malkajgiri",
}

df_biometric_4["district_clean"] = df_biometric_4["district_clean"].replace(district_map)

In [383]:
df_biometric_4["district_clean"] = df_biometric_4["district_clean"].str.title()

In [384]:
df_biometric_4.drop(columns=["district"], inplace=True)
df_biometric_4.rename(columns={"district_clean": "district"}, inplace=True)

In [385]:
df_biometric_4 = df_biometric_4[df_biometric_4["district"].str.strip() != ""]
df_biometric_4 = df_biometric_4[df_biometric_4["district"] != "?"]

In [386]:
df_biometric_4["district_norm"] = (
    df_biometric_4["district"]
    .astype(str)
    .str.lower()
    .str.replace(r"[^a-z0-9]", "", regex=True)   # removes spaces, hyphens, symbols
)

dup_groups = (df_biometric_4.groupby("district_norm")["district"]
              .nunique()
              .sort_values(ascending=False))

print("Groups with duplicates:", (dup_groups > 1).sum())
print(dup_groups[dup_groups > 1].head(30))

Groups with duplicates: 21
district_norm
janjgirchampa        3
barabanki            2
chamarajanagar       2
gadag                2
garhwa               2
dhalai               2
gondiya              2
chandauli            2
haveri               2
hingoli              2
harda                2
bagalkot             2
kushinagar           2
kvrangareddy         2
mahabubnagar         2
medchalmalkajgiri    2
mumbaisuburban       2
nandurbar            2
sasnagarmohali       2
udupi                2
washim               2
Name: district, dtype: int64

In [387]:
keys = dup_groups[dup_groups > 1].head().index

for k in keys:
    vals = df_biometric_4.loc[df_biometric_4["district_norm"] == k, "district"].unique()
    print(k, "->", vals)

janjgirchampa -> ['Janjgir-Champa' 'Janjgir Champa' 'Janjgir - Champa']
barabanki -> ['Bara Banki' 'Barabanki']
chamarajanagar -> ['Chamarajanagar' 'Chamarajanagar ']
gadag -> ['Gadag' 'Gadag ']
garhwa -> ['Garhwa' 'Garhwa ']

In [388]:
df_biometric_4["district"] = df_biometric_4["district"].astype(str).str.strip()

df_biometric_4 = df_biometric_4[df_biometric_4["district"] != ""]
df_biometric_4 = df_biometric_4[df_biometric_4["district"] != "?"]
df_biometric_4 = df_biometric_4[df_biometric_4["district"].str.len() > 2]

In [389]:
for k in keys:
    subset = df_biometric_4[df_biometric_4["district_norm"] == k]
    best = subset["district"].value_counts().idxmax()
    df_biometric_4.loc[df_biometric_4["district_norm"] == k, "district"] = best

print("Unique districts after merge:", df_biometric_4["district"].nunique())

Unique districts after merge: 862

In [390]:
print(df_biometric_4["district"].nunique())

862

In [391]:
dfs = [df_biometric_1, df_biometric_2, df_biometric_3, df_biometric_4]

In [392]:
for i in range(len(dfs)):
    dfs[i].columns = dfs[i].columns.str.strip().str.lower()

In [393]:
required_cols = ["date", "pincode", "bio_age_5_17", "bio_age_17_", "state", "district"]

for i in range(len(dfs)):
    dfs[i] = dfs[i][required_cols]

In [404]:
dfs = [df_biometric_1, df_biometric_2, df_biometric_3, df_biometric_4]
required_cols = ["date", "pincode", "bio_age_5_17", "bio_age_17_", "state", "district"]

cleaned_dfs = []

for d in dfs:
    d = d.copy()   
    d.columns = d.columns.str.strip().str.lower()

    d = d[required_cols].copy()   

    d.loc[:, "date"] = d["date"].astype(str).str.strip()
    d.loc[:, "pincode"] = d["pincode"].astype(str).str.strip()

    d.loc[:, "bio_age_5_17"] = pd.to_numeric(d["bio_age_5_17"], errors="coerce").fillna(0).astype(int)
    d.loc[:, "bio_age_17_"] = pd.to_numeric(d["bio_age_17_"], errors="coerce").fillna(0).astype(int)

    d.loc[:, "state"] = d["state"].astype(str).str.strip()
    d.loc[:, "district"] = d["district"].astype(str).str.strip()

    cleaned_dfs.append(d)

df_biometric= pd.concat(cleaned_dfs, ignore_index=True)

print("Final shape:", df_biometric.shape)

C:\Users\arsha\AppData\Local\Temp\ipykernel_4236\3923591294.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['123029' '852121' '185101' ... '110058' '403102' '403106']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  d.loc[:, "pincode"] = d["pincode"].astype(str).str.strip()
C:\Users\arsha\AppData\Local\Temp\ipykernel_4236\3923591294.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['403502' '403508' '403513' ... '682023' '682025' '682026']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  d.loc[:, "pincode"] = d["pincode"].astype(str).str.strip()
C:\Users\arsha\AppData\Local\Temp\ipykernel_4236\3923591294.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['135002' '135001' '174004' ... '391170' '391410' '391530']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  d.loc[:, "pincode"] = d["pincode"].astype(str).str.strip()
C:\Users\arsha\AppData\Local\Temp\ipykernel_4236\3923591294.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['244411' '244601' '251002' ... '721304' '721451' '721457']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  d.loc[:, "pincode"] = d["pincode"].astype(str).str.strip()

Final shape: (1861107, 6)

In [406]:
df_biometric.head()

,date,pincode,bio_age_5_17,bio_age_17_,state,district
0,01-03-2025,123029,280,577,Haryana,mahendragarh
1,01-03-2025,852121,144,369,Bihar,madhepura
2,01-03-2025,185101,643,1091,Jammu And Kashmir,punch
3,01-03-2025,802158,256,980,Bihar,bhojpur
4,01-03-2025,625514,271,815,Tamil Nadu,madurai

In [407]:
df_biometric.to_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\final_biometric_cleaned.csv", index=False)
print("Saved ✅")

Saved ✅

In [408]:
df_biometric.shape

(1861107, 6)