In [154]:
import pandas as pd

In [155]:
df_demographic_1 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_demographic\api_data_aadhar_demographic_0_500000.csv")
df_demographic_1.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [156]:
df_demographic_1.isna().sum()

date             0
state            0
district         0
pincode          0
demo_age_5_17    0
demo_age_17_     0
dtype: int64

In [157]:
print(df_demographic_1["state"].unique())

['Uttar Pradesh' 'Andhra Pradesh' 'Gujarat' 'Rajasthan' 'Karnataka'
 'West Bengal' 'Telangana' 'Odisha' 'Maharashtra' 'Kerala' 'Bihar'
 'Tamil Nadu' 'Madhya Pradesh' 'Assam' 'Tripura' 'Arunachal Pradesh'
 'Punjab' 'Jharkhand' 'Delhi' 'Chandigarh' 'Chhattisgarh'
 'Jammu and Kashmir' 'Mizoram' 'Nagaland' 'Himachal Pradesh' 'Goa'
 'Haryana' 'Meghalaya' 'Uttarakhand' 'Manipur' 'Daman and Diu'
 'Puducherry' 'Sikkim' 'Ladakh' 'Dadra and Nagar Haveli and Daman and Diu'
 'Dadra and Nagar Haveli' 'Orissa' 'Pondicherry'
 'Andaman & Nicobar Islands' 'Andaman and Nicobar Islands' 'west Bengal'
 'Daman & Diu' 'West  Bengal' 'odisha' 'Jammu & Kashmir' 'Lakshadweep'
 'Dadra & Nagar Haveli' 'Westbengal' 'andhra pradesh' 'WEST BENGAL'
 'West Bangal' 'West bengal' 'ODISHA' 'WESTBENGAL' 'Chhatisgarh'
 'West Bengli' 'Darbhanga' 'Puttenahalli']

In [158]:
df_demographic_1["state"] = df_demographic_1["state"].astype(str)

df_demographic_1["state_clean"] = (df_demographic_1["state"]
                     .str.strip()
                     .str.lower()
                     .str.replace(r"\s+", " ", regex=True))

In [159]:
state_map = {
    # West Bengal variations
    "west bangal": "west bengal",
    "west bengal": "west bengal",
    "west bengal ": "west bengal",
    "west  bengal": "west bengal",
    "westbengal": "west bengal",
    "westbengli": "west bengal",

    # Odisha variations
    "orissa": "odisha",
    "odisha": "odisha",

    # Andhra Pradesh case/format
    "andhra pradesh": "andhra pradesh",

    # J&K variations
    "jammu & kashmir": "jammu and kashmir",

    # Andaman variations
    "andaman & nicobar islands": "andaman and nicobar islands",

    # Dadra variations
    "dadra & nagar haveli": "dadra and nagar haveli",

    # Daman variations
    "daman & diu": "daman and diu",

    # Old names
    "pondicherry": "puducherry",
}

df_demographic_1["state_clean"] = df_demographic_1["state_clean"].replace(state_map)

In [160]:
df_demographic_1["state_clean"] = df_demographic_1["state_clean"].replace({
    "dadra and nagar haveli": "dadra and nagar haveli and daman and diu",
    "daman and diu": "dadra and nagar haveli and daman and diu",
})

In [161]:
valid_states = {
    "andhra pradesh","arunachal pradesh","assam","bihar","chhattisgarh","goa","gujarat",
    "haryana","himachal pradesh","jharkhand","karnataka","kerala","madhya pradesh",
    "maharashtra","manipur","meghalaya","mizoram","nagaland","odisha","punjab",
    "rajasthan","sikkim","tamil nadu","telangana","tripura","uttar pradesh",
    "uttarakhand","west bengal",
    "andaman and nicobar islands","chandigarh","dadra and nagar haveli and daman and diu",
    "delhi","jammu and kashmir","ladakh","lakshadweep","puducherry"
}

df_demographic_1["state_clean"] = df_demographic_1["state_clean"].where(
    df_demographic_1["state_clean"].isin(valid_states),
    "Unknown"
)

In [162]:
df_demographic_1["state_clean"] = df_demographic_1["state_clean"].str.title()

df_demographic_1.drop(columns=["state"], inplace=True)
df_demographic_1.rename(columns={"state_clean": "state"}, inplace=True)

In [163]:
print(df_demographic_1["state"].unique())
print("Unique states:", df_demographic_1["state"].nunique())
print(df_demographic_1["state"].value_counts().head(20))

['Uttar Pradesh' 'Andhra Pradesh' 'Gujarat' 'Rajasthan' 'Karnataka'
 'West Bengal' 'Telangana' 'Odisha' 'Maharashtra' 'Kerala' 'Bihar'
 'Tamil Nadu' 'Madhya Pradesh' 'Assam' 'Tripura' 'Arunachal Pradesh'
 'Punjab' 'Jharkhand' 'Delhi' 'Chandigarh' 'Chhattisgarh'
 'Jammu And Kashmir' 'Mizoram' 'Nagaland' 'Himachal Pradesh' 'Goa'
 'Haryana' 'Meghalaya' 'Uttarakhand' 'Manipur'
 'Dadra And Nagar Haveli And Daman And Diu' 'Puducherry' 'Sikkim' 'Ladakh'
 'Andaman And Nicobar Islands' 'Lakshadweep' 'Unknown']
Unique states: 37
state
Andhra Pradesh      49703
Tamil Nadu          46647
West Bengal         43904
Uttar Pradesh       40073
Maharashtra         38811
Karnataka           37869
Odisha              25936
Kerala              24659
Bihar               22964
Gujarat             22146
Rajasthan           22097
Telangana           21178
Madhya Pradesh      18693
Assam               15289
Punjab              11974
Jharkhand            9769
Chhattisgarh         8030
Haryana              6996
Himachal Pradesh     6728
Uttarakhand          5659
Name: count, dtype: int64

In [164]:
print(sorted(df_demographic_1["state"].unique()))

['Andaman And Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra And Nagar Haveli And Daman And Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu And Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Unknown', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [165]:
df_demographic_1 = df_demographic_1[df_demographic_1["state"] != "Unknown"]
print("Unique states now:", df_demographic_1["state"].nunique())

Unique states now: 36

In [166]:
print(df_demographic_1["district"].unique())

['Gorakhpur' 'Chittoor' 'Rajkot' 'Srikakulam' 'Udaipur' 'Sikar' 'Tumakuru'
 'Kurnool' 'Paschim Medinipur' 'Ghazipur' 'Patan' 'Mulugu' 'Ganganagar'
 'Nayagarh' 'Nashik' 'Shivamogga' 'Thrissur' 'Hassan' 'Patna' 'Belgaum'
 'Kancheepuram' 'Jabalpur' 'Chennai' 'Tinsukia' 'Jamui' 'Gaya' 'Bengaluru'
 'Tiruppur' 'Jalgaon' 'Dhalai' 'Nabarangapur' 'Chittorgarh' 'Darbhanga'
 'Purnia' 'Muzaffarnagar' 'Jaipur' 'Churu' 'Bharatpur' 'Jamnagar' 'Howrah'
 'Ahmedabad' 'West Kameng' 'Jalor' 'Belagavi' 'Bahraich' 'Nagapattinam'
 'Sheikhpura' 'Amritsar' 'Mysore' 'Alluri Sitharama Raju' 'Sitamarhi'
 'Khunti' 'Saharanpur' 'Kanyakumari' 'Prakasam' 'Ananthapuramu' 'Hooghly'
 'Central Delhi' 'Deoria' 'Giridih' 'Koraput' 'Shahjahanpur'
 'Chhotaudepur' 'Jalandhar' 'Kannauj' 'Visakhapatnam' 'Jodhpur'
 'Karimnagar' 'Amethi' 'Hyderabad' 'Salem' 'Cuddalore' 'Sabarkantha'
 'Kolar' 'Nagpur' 'Porbandar' 'Chandigarh' 'Paschim Bardhaman'
 'Devbhumi Dwarka' 'Nalgonda' 'Tawang' 'Muzaffarpur' 'Ganjam' 'Kawardha'
 'East Godavari' 'Dhanbad' 'Gandhinagar' 'Puruliya' 'Siddharthnagar'
 'Bara Banki' 'Saran' 'Hardoi' 'South 24 Parganas' 'Ambedkar Nagar'
 'Tiruchirappalli' 'Indore' 'Tiruvannamalai' 'Kasaragod' 'Mumbai' 'Mysuru'
 'Gopalganj' 'Surendra Nagar' 'Annamayya' 'Dindigul' 'Narayanpet'
 'Tenkasi' 'Mahesana' 'North East Delhi' 'Firozpur' 'Araria' 'Auraiya'
 'Krishnagiri' 'Betul' 'Satna' 'Sangareddy' 'Dahod' 'Prayagraj' 'Katihar'
 'Anakapalli' 'Pratapgarh' 'Kallakurichi' 'Tikamgarh' 'Bhojpur' 'Jammu'
 'Khargone' 'Aizawl' 'Dholpur' 'Kheda' 'Madhubani' 'Nawada' 'Solapur'
 'Mayurbhanj' 'Rewa' 'Sambalpur' 'Tiruvallur' 'Bokaro' 'Dakshina Kannada'
 'Purba Medinipur' 'North 24 Parganas' 'Peren' 'Kangra' 'Kendrapara'
 'Palghar' 'Erode' 'Malappuram' 'Rajouri' 'North Goa' 'Balrampur' 'Surat'
 'South Delhi' 'Khammam' 'Kendujhar' 'Ludhiana' 'Coimbatore' 'Rae Bareli'
 'Amravati' 'Krishna' 'Bhadrak' 'Parbhani' 'Valsad' 'Azamgarh'
 'Chhatarpur' 'Amroha' 'Jalna' 'Parvathipuram Manyam' 'Sirmaur'
 'West Godavari' 'K.v. Rangareddy' 'Vijayapura' 'Unakoti' 'Virudhunagar'
 'Vadodara' 'Sonipat' 'Sultanpur' 'Nadia' 'Warangal' 'Udupi' 'Baramula'
 'Kalaburagi' 'Nandyal' 'Ernakulam' 'South West Delhi' 'Murshidabad'
 'East Jaintia Hills' 'Mandya' 'Bijapur' 'Gonda' 'Kannur' 'Mainpuri'
 'Medchal-malkajgiri' 'JAJPUR' 'Moradabad' 'Namakkal' 'Davangere'
 'Ganderbal' 'Alappuzha' 'Arvalli' 'Rohtak' 'Samastipur' 'Medak'
 'Ahmadnagar' 'Ratnagiri' 'Chamrajanagar' 'Buxar' 'Mumbai Suburban'
 'Nagarkurnool' 'Charaideo' 'Peddapalli' 'West Champaran' 'Cuddapah'
 'Khagaria' 'Pune' 'Chhindwara' 'East Champaran' 'Udalguri' 'Nalbari'
 'Varanasi' 'Chitradurga' 'Adilabad' 'Karimganj' 'Nagaon' 'Kolkata'
 'Gurgaon' 'East Singhbhum' 'Jajapur' 'Agar Malwa' 'Gwalior' 'Bijnor'
 'Kaithal' 'Vellore' 'Ballari' 'Bankura' 'Gulbarga' 'Ramanathapuram'
 'Chumukedima' 'Firozabad' 'Barddhaman' 'Farrukhabad' 'Hisar'
 'Sri Muktsar Sahib' 'Basti' 'Baleswar' 'Chikkaballapur' 'Uttara Kannada'
 'Botad' 'Jalpaiguri' 'Vizianagaram' 'Dhenkanal' 'Jaunpur' 'Umaria'
 'Warangal Rural' 'Panchkula' 'Kakinada' 'Pithoragarh' 'Pathanamthitta'
 'Palnadu' 'Maharajganj' 'Latehar' 'Srinagar' 'Badgam' 'Buldhana'
 'Bikaner' 'Moga' 'Kaushambi' 'Alwar' 'Satara' 'Damoh' 'Puri' 'Chamba'
 'Khorda' 'Morbi' 'Tirunelveli' 'Bundi' 'Kathua' 'Ananthapur'
 'Chikkamagaluru' 'Maihar' 'Sitapur' 'Aligarh' 'Bagalkot' 'Lakhimpur'
 'Kodagu' 'Rajsamand' 'Villupuram' 'Karbi Anglong' 'Gajapati' 'Shajapur'
 'Anantnag' 'Karnal' 'Guna' 'Kheri' 'Kachchh' 'Purba Bardhaman' 'Angul'
 'Chandrapur' 'Koppal' 'West Garo Hills' 'Vikarabad' 'Mau' 'Churachandpur'
 'Dehradun' 'Saharsa' 'Sonbhadra' 'Jhalawar' 'Hoshangabad' 'Baloda Bazar'
 'Pulwama' 'Tumkur' 'Nuapada' 'Aurangabad' 'Rupnagar' 'Sehore'
 'Bulandshahr' 'Hanumakonda' 'Narsinghpur' 'Rohtas' 'Fatehpur'
 'Jogulamba Gadwal' 'N. T. R' 'Osmanabad' 'Daman' 'Ajmer' 'Dharmapuri'
 'Garhwa' 'Pali' 'Goalpara' 'Ayodhya' 'Anand' 'Hailakandi' 'Kozhikode'
 'Mandi' 'Mandsaur' 'Raichur' 'Eluru' 'Kasganj' 'Kabeerdham'
 'Tehri Garhwal' 'South Goa' 'Faizabad' 'Gadag'
 'Dr. B. R. Ambedkar Konaseema' 'Baleshwar' 'Dausa' 'Siddipet' 'Nagaur'
 'Ariyalur' 'Ballia' 'Kanpur Nagar' 'Neemuch' 'Guntur' 'Yavatmal' 'Niwari'
 'Bharuch' 'Uttar Dinajpur' 'Munger' 'East Nimar' 'Latur' 'Ambala'
 'Bathinda' 'Ramban' 'Lucknow' 'Nandurbar' 'Theni' 'Bhadradri Kothagudem'
 'Nainital' 'Bhopal' 'Tirupattur' 'Mahabubnagar' 'Barpeta' 'Cuttack'
 'Jashpur' 'Gir Somnath' 'Kolhapur' 'Datia' 'Jhunjhunun' 'Junagadh'
 'Seoni' 'Agra' 'Thane' 'Rewari' 'Bilaspur' 'Raigarh' 'Thiruvarur'
 'Jhajjar' 'Sant Kabir Nagar' 'Jagitial' 'Anantapur' 'Karur' 'Arwal'
 'Shrawasti' 'Golaghat' 'Ujjain' 'Sirohi' 'Samba' 'Nizamabad' 'Bhilwara'
 'Darjeeling' 'Marigaon' 'Rajgarh' 'Lohardaga' 'Akola' 'Pudukkottai'
 'Siwan' 'Patiala' 'Katni' 'Sivaganga' 'Budgam' 'Kamrup Metro'
 'Kapurthala' 'Beed' 'Banaskantha' 'Sonitpur' 'Tonk' 'Bhadohi' 'Dibrugarh'
 'Sangrur' 'Thiruvananthapuram' 'Narmadapuram' 'Jorhat' 'Hanumangarh'
 'Barwani' 'Birbhum' 'Dhule' 'Gadag *' 'Malda' 'Kanker' 'Yadadri.'
 'Ghaziabad' 'Cachar' 'Lalitpur' 'Bastar' 'Boudh' 'Bhiwani' 'Mandla'
 'Ri Bhoi' 'Simdega' 'Janjgir-champa' 'Jagatsinghapur' 'Baksa' 'Dohad'
 'SAS Nagar (Mohali)' 'Dharwad' 'Meerut' 'Mathura' 'Shivpuri' 'Gumla'
 'Uttarkashi' 'Banswara' 'Bapatla' 'Kanniyakumari' 'Burhanpur' 'Allahabad'
 'Bellary' 'Fazilka' 'Kaimur (Bhabua)' 'Kamareddy' 'Etah' 'Etawah'
 'Vaishali' 'Gautam Buddha Nagar' 'Haridwar' 'Dhar' 'Balangir' 'Hathras'
 'Sibsagar' 'Rangareddi' 'Nanded' 'Bongaigaon' 'Bandipore' 'Chamoli'
 'Imphal East' 'Jind' 'Kota' 'Udham Singh Nagar' 'North West Delhi'
 'Champawat' 'Shahdol' 'Una' 'Sirsa' 'Mewat' 'Suryapet' 'Faridabad'
 'East Delhi' 'Gurdaspur' 'Mahasamund' 'Baran' 'Sri Sathya Sai' 'Surguja'
 'Raipur' 'Balaghat' 'Yamuna Nagar' 'Madurai' 'Shahdara' 'Rampur'
 'Kupwara' 'Dindori' 'Kulgam' 'Gadchiroli' 'North Delhi' 'Mumbai City'
 'Haveri' 'West Delhi' 'Barmer' 'Balod' 'Ferozepur' 'Sagar' 'Hoshiarpur'
 'Koriya' 'Bareilly' 'Punch' 'Raisen' 'Mahendragarh' 'Serchhip'
 'Pauri Garhwal' 'Kurukshetra' 'Anuppur' 'Fatehabad' 'Durg' 'Korba'
 'Vidisha' 'Dewas' 'Ratlam' 'Kolasib' 'Ramanagar' 'Doda'
 'Sri Potti Sriramulu Nellore' 'Ashok Nagar' 'Mungeli' 'Rajnandgaon'
 'Viluppuram' 'Sidhi' 'Bidar' 'Jhansi' 'Bhavnagar' 'Jhabua' 'Puducherry'
 'Charkhi Dadri' 'Tirupati' 'Harda' 'Y. S. R' 'Bhind' 'Tarn Taran'
 'Yadgir' 'Bangalore Rural' 'Vijayanagara' 'Raigad' 'Kokrajhar' 'Shimla'
 'Pilibhit' 'West Sikkim' 'Alirajpur' 'Palamu' 'Karauli' 'Deoghar'
 'Nellore' 'Sindhudurg' 'Chickmagalur' 'Hamirpur' 'Jharsuguda' 'Begusarai'
 'Washim' 'Kargil' 'Dumka' 'Pathankot' 'Kalahandi' 'Shamli' 'Mahoba'
 'Panna' 'Bageshwar' 'Dhamtari' 'Navsari' 'Palakkad' 'Sundergarh'
 'Sambhal' 'Wayanad' 'Sahebganj' 'Sant Ravidas Nagar' 'Nalanda' 'Rayagada'
 'Dhubri' 'West Khasi Hills' 'Almora' 'Sangli' 'Solan' 'Rudraprayag'
 'Bangalore' 'Supaul' 'Khowai' 'Darrang' 'Jangoan' 'Kanpur Dehat'
 'Gariyaband' 'Jehanabad' 'Singrauli' 'Kodarma' 'Thanjavur' 'Mahbubnagar'
 'Hazaribagh' 'East' 'Debagarh' 'Panchmahals' 'West Tripura' 'Amreli'
 'West Singhbhum' 'Madhepura' 'Baghpat' 'Sonapur' 'Dhemaji'
 'Seraikela-Kharsawan' 'Zunheboto' 'Bhagalpur' 'Kushinagar' 'Kalimpong'
 'Jhargram' 'Lakhisarai' 'Tapi' 'Gondiya' 'East Khasi Hills'
 'Chhatrapati Sambhajinagar' 'Sawai Madhopur' 'Jaisalmer' 'Ranchi'
 'Mancherial' 'Mirzapur' 'Cooch Behar' 'Senapati' 'Karaikal' 'Bemetara'
 'Budaun' 'Hojai' 'Godda' 'Kottayam' 'Uttar Bastar Kanker' 'Thoothukkudi'
 'Dimapur' 'Unnao' 'Kondagaon' 'Faridkot' 'Tamenglong' 'Bargarh' 'Khandwa'
 'Hasan' 'Chatra' 'Jalaun' 'Dakshin Dinajpur' 'Mahisagar' 'Kollam'
 'South Tripura' 'Shimoga' 'The Dangs' 'Nirmal' 'Hapur' 'Malkangiri'
 'Thoubal' 'Lohit' 'Gaurela-pendra-marwahi' 'Komaram Bheem' 'West Nimar'
 'North Tripura' 'Banka' 'Lunglei' 'Dungarpur' 'Wanaparthy' 'Bishnupur'
 'Kandhamal' 'Mamit' 'South Salmara Mankachar' 'Morena'
 'North Cachar Hills' 'Medchal?malkajgiri' 'Kra Daadi' 'Surajpur'
 'Mahabubabad' 'Mansa' 'Udhampur' 'Narsimhapur' 'Saiha' 'Sukma' 'Jiribam'
 'Ranipet' 'Chandauli' 'Panipat' 'Koderma' 'The Nilgiris' 'Idukki'
 'Kamrup' 'Jayashankar Bhupalpally' 'Warangal Urban' 'Sheohar'
 'Upper Siang' 'Mauganj' 'Diu' 'Malerkotla' 'Kiphire'
 'Mohla-Manpur-Ambagarh Chouki' 'Palwal' 'Khairagarh Chhuikhadan Gandai'
 'Kishtwar' 'Wardha' 'Kishanganj' 'Sheopur' 'Narmada' 'Chamarajanagar'
 'Chikmagalur' 'Davanagere' 'yadgir' 'Leh' 'Harda *' 'Pandhurna'
 'Ahmed Nagar' 'Bhandara' 'Bid' 'Buldana' 'Dharashiv' 'Gondia' 'Gondiya *'
 'Hingoli' 'Purba Champaran' 'Purnea' 'Sheikpura'
 'Dakshin Bastar Dantewada' 'Dantewada' 'Manendragarh–Chirmiri–Bharatpur'
 'Sakti' 'Dadra and Nagar Haveli' 'Najafgarh' 'New Delhi' 'North East'
 'South East Delhi' 'Ahmadabad' 'Banas Kantha' 'Panch Mahals'
 'Sabar Kantha' 'Surendranagar' 'Yamunanagar' 'Kinnaur' 'Kullu' 'Garhwa *'
 'Hazaribag' 'Jamtara' 'Pakaur' 'Pakur' 'Palamau' 'Purbi Singhbhum'
 'Ramgarh' 'Seraikela-kharsawan' 'Mumbai( Sub Urban )' 'Chandel'
 'Imphal West' 'North Garo Hills' 'South Garo Hills'
 'South West Garo Hills' 'West Jaintia Hills' 'Champhai' 'Mammit' 'Kohima'
 'Longleng' 'Meluri' 'Mokokchung' 'Mon' 'Tseminyu' 'Anugul' 'Baudh'
 'Jagatsinghpur' 'Khordha' 'Sundargarh' 'Pondicherry' 'Barnala'
 'Fatehgarh Sahib' 'Muktsar' 'Nawanshahr' 'S.A.S Nagar(Mohali)'
 'Shaheed Bhagat Singh Nagar' 'Chittaurgarh' 'Deeg' 'Andamans'
 'South Andaman' 'K.V.Rangareddy' 'Karim Nagar' 'Mahabub Nagar' 'Anjaw'
 'Changlang' 'East Siang' 'Kamle' 'Longding' 'West Siang' 'Biswanath'
 'Majuli' 'Sribhumi' 'Tamulpur District' 'West Karbi Anglong' 'Banda'
 'Bulandshahar' 'Chitrakoot' 'Kushinagar *' 'Sant Ravidas Nagar Bhadohi'
 'Hardwar' 'Alipurduar' 'Bardhaman' 'Darjiling' 'East Midnapore' 'Haora'
 'Hugli' 'Koch Bihar' 'Maldah' 'North Dinajpur'
 'North Twenty Four Parganas' 'Purulia' 'South Dinajpur'
 'South Twenty Four Parganas' 'West Midnapore' 'North And Middle Andaman'
 'North Sikkim' 'South' 'South Sikkim' 'West' 'Chengalpattu'
 'Mayiladuthurai' 'Perambalur' 'Thiruvallur' 'Medchal−malkajgiri'
 'Rajanna Sircilla' 'Rangareddy' 'Gomati' 'Sepahijala' 'Barabanki'
 'Namsai' 'Tirap' 'Upper Subansiri' 'Bajali' 'Chirang'
 'Pashchim Champaran' 'Samstipur' 'Sarangarh-Bilaigarh' 'East Kameng'
 'Kurung Kumey' 'Lower Siang' 'Lower Subansiri' 'Papum Pare'
 'Aurangabad(BH)' 'Janjgir Champa' 'Jyotiba Phule Nagar' 'Mahrajganj'
 'MALDA' 'Lahul and Spiti' 'Reasi' 'Shupiyan' 'Bengaluru South'
 'Chamrajnagar' 'East Sikkim' 'Namchi' 'North' 'Dhalai  *' 'Kasargod'
 'Lakshadweep' 'Chatrapati Sambhaji Nagar' 'East Garo Hills'
 'Eastern West Khasi Hills' 'Lawngtlai' 'Phek' 'Wokha' 'Subarnapur'
 'Dhaulpur' 'Jhunjhunu' 'Siang' 'Aurangabad(bh)' 'Monghyr'
 'Dadra & Nagar Haveli' 'Jangaon' 'Warangal (urban)' 'Nandurbar *'
 'Raigarh(MH)' 'Washim *' 'Ukhrul' 'South West Khasi Hills' 'Saitual'
 'Niuland' 'Tuensang' 'Jajpur' 'jajpur' 'HOWRAH' 'Nicobar'
 'Pashchimi Singhbhum' 'Sahibganj' 'Haveri *' 'Bagalkot *' 'Yanam'
 'Dibang Valley' 'Lower Dibang Valley' 'Bagpat' 'Garhwal' 'Kakching'
 'Chamarajanagar *' 'Medinipur' 'Mangan' 'rangareddi' 'Dima Hasao'
 'Janjgir - Champa' 'Narayanpur' 'Lahul & Spiti' 'Leparada' 'Shi-yomi'
 'Lahaul and Spiti' 'Khawzawl' 'Noklak' 'South 24 Pargana' 'HOOGHLY'
 'hooghly' 'Deeg\xa0' 'KOLKATA' 'West Medinipur' 'NUAPADA' 'Shamator'
 'Tirupathur' 'East Midnapur' 'Mohalla-Manpur-Ambagarh Chowki'
 'Kanchipuram' 'Jaintia Hills' 'Bhabua' 'Bardez' 'Bengaluru Rural'
 'Hawrah' 'Hooghiy' 'South 24 parganas' 'nadia' 'Pherzawl' 'Jajapur  *'
 'Rajauri' 'chittoor' 'ANUGUL' 'ANGUL' 'Jalore' 'Salumbar' 'Nicobars'
 'Beawar' 'Didwana-Kuchaman' 'Kotputli-Behror' 'Phalodi' 'Pakke Kessang'
 'Hnahthial' 'Balotra' 'Leh (ladakh)' 'Khairthal-Tijara' 'NADIA'
 'Ahilyanagar' 'Tiswadi' 'South DumDum(M)' 'South 24 pargana' 'Raebareli'
 'Dist : Thane' 'Balianta' 'Bally Jagachha' 'Baghpat *' 'Mohali']

In [167]:

df_demographic_1["district"] = df_demographic_1["district"].astype(str)

df_demographic_1["district_clean"] = (
    df_demographic_1["district"]
    .str.strip()
    .str.lower()
    .str.replace("\xa0", " ", regex=False)
    .str.replace(r"\s+", " ", regex=True)
    .str.replace(r"\*", "", regex=True)
    .str.replace(r"\?", "", regex=True)
    .str.replace(r"[()]", "", regex=True)
    .str.replace(r"\.", "", regex=True)
    .str.replace(r"−", "-", regex=True)
)

In [168]:
district_map = {
    # Karnataka
    "belgaum": "belagavi",
    "tumkur": "tumakuru",
    "mysore": "mysuru",
    "bijapur": "vijayapura",
    "bellary": "ballari",
    "bangalore": "bengaluru",
    "hasan": "hassan",

    # West Bengal
    "hugli": "hooghly",
    "hooghiy": "hooghly",
    "haora": "howrah",
    "hawrah": "howrah",
    "bardhaman": "barddhaman",
    "east midnapore": "purba medinipur",
    "east midnapur": "purba medinipur",
    "west midnapore": "paschim medinipur",
    "south 24 pargana": "south 24 parganas",
    "south 24 parganas": "south 24 parganas",
    "north twenty four parganas": "north 24 parganas",
    "malda": "maldah",
    "puruliya": "purulia",

    # Odisha
    "angul": "anugul",
    "anugal": "anugul",
    "baleswar": "baleshwar",
    "baudh": "boudh",
    "khorda": "khordha",
    "sonapur": "subarnapur",
    "sundargarh": "sundergarh",

    # J&K / Ladakh
    "punch": "poonch",
    "badgam": "budgam",
    "baramula": "baramulla",
    "bandipore": "bandipora",
    "shupiyan": "shopian",

    # Maharashtra
    "bid": "beed",
    "ahmed nagar": "ahmadnagar",
    "dist : thane": "thane",
    "raigarh(mh)": "raigarh",

    # Tamil Nadu
    "kanchipuram": "kancheepuram",
    "tuticorin": "thoothukkudi",
    "tirupathur": "tirupattur",
    "villupuram": "viluppuram",

    # Gujarat
    "ahmadabad": "ahmedabad",
    "banas kantha": "banaskantha",
    "panch mahals": "panchmahals",
    "surendra nagar": "surendranagar",
    "dohad": "dahod",
    "sabar kantha": "sabarkantha",

    # UP
    "bara banki": "barabanki",
    "raebareli": "rae bareli",
    "sant ravidas nagar bhadohi": "bhadohi",
    "jyotiba phule nagar": "amroha",
}

df_demographic_1["district_clean"] = df_demographic_1["district_clean"].replace(district_map)

In [169]:
df_demographic_1["district_norm"] = (
    df_demographic_1["district_clean"]
    .str.replace(r"[^a-z0-9]", "", regex=True)
)

dup_groups = (df_demographic_1.groupby("district_norm")["district_clean"]
              .nunique()
              .sort_values(ascending=False))

keys = dup_groups[dup_groups > 1].index

for k in keys:
    subset = df_demographic_1[df_demographic_1["district_norm"] == k]
    best = subset["district_clean"].value_counts().idxmax()
    df_demographic_1.loc[df_demographic_1["district_norm"] == k, "district_clean"] = best

In [170]:
df_demographic_1["district_clean"] = df_demographic_1["district_clean"].str.title()

df_demographic_1.drop(columns=["district"], inplace=True)
df_demographic_1.rename(columns={"district_clean": "district"}, inplace=True)

In [171]:
df_demographic_1.drop(columns=["district_norm"], inplace=True)

In [172]:
df_demographic_1 = df_demographic_1[df_demographic_1["district"].notna()]
df_demographic_1 = df_demographic_1[df_demographic_1["district"].astype(str).str.strip() != ""]

In [173]:
df_demographic_1["district"] = df_demographic_1["district"].astype(str).str.strip().str.title()

In [174]:
print("Unique districts:", df_demographic_1["district"].nunique())
print(df_demographic_1["district"].value_counts().head(30))

Unique districts: 868
district
North 24 Parganas     4564
Barddhaman            4482
Bengaluru             4434
Belagavi              3790
Purba Medinipur       3233
Viluppuram            3005
Pune                  2966
East Godavari         2927
Thrissur              2912
Paschim Medinipur     2720
Hooghly               2555
Karimnagar            2541
Warangal              2355
Ernakulam             2354
West Godavari         2335
Hyderabad             2333
Palakkad              2266
Thiruvananthapuram    2258
Baleshwar             2245
Mysuru                2236
Nalgonda              2222
Howrah                2221
Ahmadnagar            2218
Khordha               2197
Prakasam              2183
Guntur                2159
Mahabubnagar          2156
Krishna               2156
Ahmedabad             2153
Tirunelveli           2152
Name: count, dtype: int64

In [175]:
df_demographic_1.sample(10)

,date,pincode,demo_age_5_17,demo_age_17_,state,district
449649,06-09-2025,248199,1,4,Uttarakhand,Dehradun
84058,18-09-2025,581402,0,9,Karnataka,Uttara Kannada
93753,13-10-2025,572137,0,7,Karnataka,Tumakuru
232035,13-11-2025,508250,1,6,Andhra Pradesh,Nalgonda
302298,05-11-2025,440005,1,4,Maharashtra,Nagpur
276591,04-12-2025,313004,0,9,Rajasthan,Udaipur
55419,11-09-2025,768107,1,5,Odisha,Debagarh
173305,01-11-2025,632326,3,3,Tamil Nadu,Tiruvannamalai
29621,06-09-2025,713143,3,4,West Bengal,Purba Bardhaman
447151,07-09-2025,804453,4,106,Bihar,Patna

In [176]:
df_demographic_2 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_biometric\api_data_aadhar_biometric_500000_1000000.csv")
df_demographic_2.head()

         date state   district  pincode  bio_age_5_17  bio_age_17_
0  19-09-2025   Goa  North Goa   403502             0            4
1  19-09-2025   Goa  North Goa   403508             1            4
2  19-09-2025   Goa  North Goa   403513             2            0
3  19-09-2025   Goa  North Goa   403527             2            2
4  19-09-2025   Goa  South Goa   403601             7            3

In [177]:
print(df_demographic_2["state"].unique())

['Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir'
 'Jammu and Kashmir' 'Jharkhand' 'Karnataka' 'Kerala'
 'Andaman & Nicobar Islands' 'Andaman and Nicobar Islands'
 'Andhra Pradesh' 'Mizoram' 'Nagaland' 'Odisha' 'Orissa' 'Pondicherry'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Ladakh'
 'Lakshadweep' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya'
 'Arunachal Pradesh' 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh'
 'Dadra and Nagar Haveli' 'Daman & Diu' 'Delhi' 'Daman and Diu'
 'West  Bengal' 'Dadra and Nagar Haveli and Daman and Diu'
 'Dadra & Nagar Haveli' 'West bengal' 'West Bangal' 'ODISHA' 'WEST BENGAL'
 'andhra pradesh' 'odisha' 'Westbengal' 'WESTBENGAL']

In [178]:
df_demographic_2 = df_demographic_2.copy()

df_demographic_2["state"] = df_demographic_2["state"].astype(str)

df_demographic_2["state_clean"] = (
    df_demographic_2["state"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
)

state_map = {
    # West Bengal variations
    "west bangal": "west bengal",
    "west bengal": "west bengal",
    "west  bengal": "west bengal",
    "westbengal": "west bengal",
    "west bengal ": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",

    # Odisha variations
    "orissa": "odisha",
    "odisha": "odisha",

    # Andhra Pradesh variations
    "andhra pradesh": "andhra pradesh",

    # J&K variations
    "jammu & kashmir": "jammu and kashmir",

    # Andaman variations
    "andaman & nicobar islands": "andaman and nicobar islands",

    # Pondicherry old name
    "pondicherry": "puducherry",

    # Daman variations
    "daman & diu": "daman and diu",

    # Dadra variations
    "dadra & nagar haveli": "dadra and nagar haveli",
}

df_demographic_2["state_clean"] = df_demographic_2["state_clean"].replace(state_map)

# merge UTs to new merged UT
df_demographic_2["state_clean"] = df_demographic_2["state_clean"].replace({
    "dadra and nagar haveli": "dadra and nagar haveli and daman and diu",
    "daman and diu": "dadra and nagar haveli and daman and diu",
})

df_demographic_2["state_clean"] = df_demographic_2["state_clean"].str.title()

df_demographic_2.drop(columns=["state"], inplace=True)
df_demographic_2.rename(columns={"state_clean": "state"}, inplace=True)

print("Unique states:", df_demographic_2["state"].nunique())
print(df_demographic_2["state"].unique())

Unique states: 36
['Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu And Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Andaman And Nicobar Islands'
 'Andhra Pradesh' 'Mizoram' 'Nagaland' 'Odisha' 'Puducherry' 'Punjab'
 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana' 'Tripura' 'Uttar Pradesh'
 'Uttarakhand' 'West Bengal' 'Ladakh' 'Lakshadweep' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Arunachal Pradesh' 'Assam' 'Bihar'
 'Chandigarh' 'Chhattisgarh' 'Dadra And Nagar Haveli And Daman And Diu'
 'Delhi']

In [179]:
print(df_demographic_2["district"].unique())

['North Goa' 'South Goa' 'Ahmadabad' 'Ahmedabad' 'Amreli' 'Anand'
 'Arvalli' 'Banaskantha' 'Bharuch' 'Bhavnagar' 'Botad' 'Chhotaudepur'
 'Dahod' 'Devbhumi Dwarka' 'Dohad' 'Gandhinagar' 'Gir Somnath' 'Jamnagar'
 'Junagadh' 'Kachchh' 'Kheda' 'Mahesana' 'Mahisagar' 'Morbi' 'Narmada'
 'Navsari' 'Panchmahals' 'Patan' 'Porbandar' 'Rajkot' 'Sabarkantha'
 'Surat' 'Surendra Nagar' 'Surendranagar' 'Tapi' 'The Dangs' 'Vadodara'
 'Valsad' 'Ambala' 'Bhiwani' 'Charkhi Dadri' 'Faridabad' 'Fatehabad'
 'Gurgaon' 'Hisar' 'Jhajjar' 'Jind' 'Kaithal' 'Karnal' 'Mahendragarh'
 'Mewat' 'Palwal' 'Panchkula' 'Panipat' 'Rewari' 'Rohtak' 'Sirsa'
 'Sonipat' 'Yamuna Nagar' 'Bilaspur' 'Chamba' 'Hamirpur' 'Kangra'
 'Kinnaur' 'Kullu' 'Mandi' 'Shimla' 'Sirmaur' 'Solan' 'Una' 'Kathua'
 'Anantnag' 'Badgam' 'Bandipore' 'Baramula' 'Budgam' 'Doda' 'Ganderbal'
 'Jammu' 'Kulgam' 'Kupwara' 'Leh' 'Pulwama' 'Punch' 'Rajouri' 'Reasi'
 'Samba' 'Srinagar' 'Udhampur' 'Bokaro' 'Chatra' 'Deoghar' 'Dhanbad'
 'Dumka' 'East Singhbhum' 'Garhwa' 'Giridih' 'Godda' 'Gumla' 'Hazaribag'
 'Hazaribagh' 'Jamtara' 'Khunti' 'Kodarma' 'Koderma' 'Latehar' 'Lohardaga'
 'Pakur' 'Palamu' 'Pashchimi Singhbhum' 'Purbi Singhbhum' 'Ramgarh'
 'Ranchi' 'Sahebganj' 'Sahibganj' 'Seraikela-Kharsawan'
 'Seraikela-kharsawan' 'Simdega' 'West Singhbhum' 'Bagalkot' 'Bagalkot *'
 'Ballari' 'Bangalore' 'Bangalore Rural' 'Belagavi' 'Belgaum' 'Bellary'
 'Bengaluru' 'Bidar' 'Bijapur' 'Chamarajanagar' 'Chamrajanagar'
 'Chamrajnagar' 'Chickmagalur' 'Chikkaballapur' 'Chikkamagaluru'
 'Chikmagalur' 'Chitradurga' 'Dakshina Kannada' 'Davanagere' 'Davangere'
 'Dharwad' 'Gadag' 'Gadag *' 'Gulbarga' 'Hasan' 'Hassan' 'Haveri'
 'Haveri *' 'Kalaburagi' 'Kodagu' 'Kolar' 'Koppal' 'Mandya' 'Mysore'
 'Mysuru' 'Raichur' 'Ramanagar' 'Shimoga' 'Shivamogga' 'Tumakuru' 'Tumkur'
 'Udupi' 'Uttara Kannada' 'Vijayanagara' 'Vijayapura' 'Yadgir' 'Alappuzha'
 'Ernakulam' 'Idukki' 'Kannur' 'Kasaragod' 'Kasargod' 'Kollam' 'Kottayam'
 'Kozhikode' 'South Andaman' 'Nicobar' 'North And Middle Andaman'
 'Adilabad' 'Alluri Sitharama Raju' 'Anakapalli' 'Anantapur' 'Ananthapur'
 'Ananthapuramu' 'Annamayya' 'Bapatla' 'Chittoor' 'Cuddapah' 'Mammit'
 'Serchhip' 'Dimapur' 'Kohima' 'Longleng' 'Mokokchung' 'Mon' 'Tuensang'
 'Zunheboto' 'Angul' 'Anugul' 'Balangir' 'Baleshwar' 'Baleswar' 'Bargarh'
 'Baudh' 'Bhadrak' 'Boudh' 'Cuttack' 'Dhenkanal' 'Gajapati' 'Ganjam'
 'JAJPUR' 'Jagatsinghapur' 'Jagatsinghpur' 'Jajapur' 'Jajpur' 'Jharsuguda'
 'Kalahandi' 'Kandhamal' 'Kendrapara' 'Kendujhar' 'Khorda' 'Khordha'
 'Koraput' 'Malkangiri' 'Mayurbhanj' 'NUAPADA' 'Nabarangapur' 'Nayagarh'
 'Puri' 'Rayagada' 'Sambalpur' 'Sonapur' 'Subarnapur' 'Sundargarh'
 'Sundergarh' 'Debagarh' 'Karaikal' 'Pondicherry' 'Puducherry' 'Amritsar'
 'Barnala' 'Bathinda' 'Faridkot' 'Fatehgarh Sahib' 'Fazilka' 'Ferozepur'
 'Firozpur' 'Gurdaspur' 'Hoshiarpur' 'Jalandhar' 'Kapurthala' 'Ludhiana'
 'Malerkotla' 'Mansa' 'Moga' 'Muktsar' 'Nawanshahr' 'Pathankot' 'Patiala'
 'Rupnagar' 'S.A.S Nagar(Mohali)' 'SAS Nagar (Mohali)' 'Sangrur'
 'Shaheed Bhagat Singh Nagar' 'Sri Muktsar Sahib' 'Tarn Taran' 'Ajmer'
 'Alwar' 'Banswara' 'Baran' 'Barmer' 'Bharatpur' 'Bhilwara' 'Bikaner'
 'Bundi' 'Chittaurgarh' 'Chittorgarh' 'Churu' 'Dausa' 'Dholpur'
 'Dungarpur' 'Ganganagar' 'Hanumangarh' 'Jaipur' 'Jaisalmer' 'Jalor'
 'Jhalawar' 'Jhunjhunu' 'Jhunjhunun' 'Jodhpur' 'Karauli' 'Kota' 'Nagaur'
 'Pali' 'Pratapgarh' 'Rajsamand' 'Sawai Madhopur' 'Sikar' 'Sirohi' 'Tonk'
 'Udaipur' 'East' 'South Sikkim' 'West' 'Ariyalur' 'Chengalpattu'
 'Chennai' 'Coimbatore' 'Cuddalore' 'Dharmapuri' 'Dindigul' 'Erode'
 'Kallakurichi' 'Kancheepuram' 'Kanniyakumari' 'Kanyakumari' 'Karur'
 'Krishnagiri' 'Madurai' 'Mayiladuthurai' 'Nagapattinam' 'Namakkal'
 'Perambalur' 'Pudukkottai' 'Ramanathapuram' 'Ranipet' 'Salem' 'Sivaganga'
 'Tenkasi' 'Thanjavur' 'The Nilgiris' 'Theni' 'Thiruvallur' 'Thiruvarur'
 'Thoothukkudi' 'Tiruchirappalli' 'Tirunelveli' 'Tirupattur' 'Tiruppur'
 'Tiruvallur' 'Tiruvannamalai' 'Vellore' 'Villupuram' 'Viluppuram'
 'Virudhunagar' 'Bhadradri Kothagudem' 'Hanumakonda' 'Hyderabad'
 'Jagitial' 'Jangoan' 'Jayashankar Bhupalpally' 'Jogulamba Gadwal'
 'K.v. Rangareddy' 'Kamareddy' 'Karimnagar' 'Khammam' 'Komaram Bheem'
 'Mahabubabad' 'Mahabubnagar' 'Mancherial' 'Medak' 'Medchal-malkajgiri'
 'Medchal−malkajgiri' 'Mulugu' 'Nagarkurnool' 'Nalgonda' 'Narayanpet'
 'Nirmal' 'Nizamabad' 'Peddapalli' 'Rajanna Sircilla' 'Rangareddy'
 'Sangareddy' 'Siddipet' 'Suryapet' 'Vikarabad' 'Wanaparthy' 'Warangal'
 'Warangal Rural' 'Warangal Urban' 'Yadadri.' 'Dhalai' 'Gomati'
 'North Tripura' 'Sepahijala' 'South Tripura' 'Unakoti' 'West Tripura'
 'Agra' 'Aligarh' 'Allahabad' 'Ambedkar Nagar' 'Amethi' 'Amroha' 'Auraiya'
 'Ayodhya' 'Azamgarh' 'Baghpat' 'Bahraich' 'Ballia' 'Balrampur' 'Banda'
 'Bara Banki' 'Barabanki' 'Bareilly' 'Basti' 'Bhadohi' 'Bijnor' 'Budaun'
 'Bulandshahr' 'Chandauli' 'Chitrakoot' 'Deoria' 'Etah' 'Etawah'
 'Faizabad' 'Farrukhabad' 'Fatehpur' 'Firozabad' 'Gautam Buddha Nagar'
 'Ghaziabad' 'Ghazipur' 'Gonda' 'Gorakhpur' 'Hapur' 'Hardoi' 'Hathras'
 'Jalaun' 'Jaunpur' 'Jhansi' 'Kannauj' 'Kanpur Dehat' 'Kanpur Nagar'
 'Kasganj' 'Kaushambi' 'Kheri' 'Kushinagar' 'Lalitpur' 'Lucknow'
 'Maharajganj' 'Mahoba' 'Mainpuri' 'Mathura' 'Mau' 'Meerut' 'Mirzapur'
 'Moradabad' 'Muzaffarnagar' 'Pilibhit' 'Prayagraj' 'Rae Bareli' 'Rampur'
 'Saharanpur' 'Sambhal' 'Sant Kabir Nagar' 'Sant Ravidas Nagar'
 'Shahjahanpur' 'Shamli' 'Shrawasti' 'Siddharthnagar' 'Sitapur'
 'Sonbhadra' 'Sultanpur' 'Unnao' 'Varanasi' 'Almora' 'Chamoli' 'Champawat'
 'Dehradun' 'Haridwar' 'Nainital' 'Pauri Garhwal' 'Pithoragarh'
 'Rudraprayag' 'Tehri Garhwal' 'Udham Singh Nagar' 'Alipurduar' 'Bankura'
 'Barddhaman' 'Bardhaman' 'Birbhum' 'Cooch Behar' 'Dakshin Dinajpur'
 'Darjeeling' 'Darjiling' 'East Midnapore' 'Haora' 'Hooghly' 'Howrah'
 'Hugli' 'Jalpaiguri' 'Jhargram' 'Kalimpong' 'Koch Bihar' 'Kolkata'
 'Malda' 'Maldah' 'Murshidabad' 'Nadia' 'North 24 Parganas'
 'North Dinajpur' 'North Twenty Four Parganas' 'Paschim Bardhaman'
 'Paschim Medinipur' 'Purba Bardhaman' 'Purba Medinipur' 'Purulia'
 'Puruliya' 'South 24 Parganas' 'South Dinajpur'
 'South Twenty Four Parganas' 'Uttar Dinajpur' 'West Midnapore'
 'Malappuram' 'Palakkad' 'Pathanamthitta' 'Thiruvananthapuram' 'Thrissur'
 'Wayanad' 'Kargil' 'Lakshadweep' 'Alirajpur' 'Anuppur' 'Ashok Nagar'
 'Balaghat' 'Barwani' 'Betul' 'Bhind' 'Bhopal' 'Burhanpur' 'Chhatarpur'
 'Chhindwara' 'Damoh' 'Datia' 'Dewas' 'Dhar' 'Dindori' 'Guna' 'Gwalior'
 'Hoshangabad' 'Indore' 'Jabalpur' 'Jhabua' 'Khandwa' 'Khargone' 'Maihar'
 'Mandla' 'Mandsaur' 'Mauganj' 'Morena' 'Narmadapuram' 'Narsimhapur'
 'Narsinghpur' 'Neemuch' 'Niwari' 'Panna' 'Raisen' 'Rajgarh' 'Ratlam'
 'Rewa' 'Sagar' 'Satna' 'Sehore' 'Seoni' 'Shahdol' 'Shajapur' 'Sheopur'
 'Shivpuri' 'Sidhi' 'Singrauli' 'Tikamgarh' 'Ujjain' 'Umaria' 'Vidisha'
 'West Nimar' 'Ahmadnagar' 'Ahmed Nagar' 'Akola' 'Amravati' 'Aurangabad'
 'Beed' 'Bhandara' 'Bid' 'Buldana' 'Buldhana' 'Chandrapur'
 'Chhatrapati Sambhajinagar' 'Dhule' 'Gadchiroli' 'Gondiya' 'Hingoli'
 'Jalgaon' 'Jalna' 'Kolhapur' 'Latur' 'Mumbai' 'Mumbai City'
 'Mumbai Suburban' 'Mumbai( Sub Urban )' 'Nagpur' 'Nanded' 'Nandurbar'
 'Nandurbar *' 'Nashik' 'Osmanabad' 'Palghar' 'Parbhani' 'Pune' 'Raigad'
 'Raigarh' 'Raigarh(MH)' 'Ratnagiri' 'Sangli' 'Satara' 'Sindhudurg'
 'Solapur' 'Thane' 'Wardha' 'Washim' 'Washim *' 'Yavatmal' 'Bishnupur'
 'Chandel' 'Imphal East' 'Imphal West' 'Jiribam' 'Kakching' 'Senapati'
 'Tamenglong' 'Thoubal' 'East Khasi Hills' 'North Garo Hills' 'Ri Bhoi'
 'South West Garo Hills' 'South West Khasi Hills' 'West Garo Hills'
 'West Jaintia Hills' 'Aizawl' 'Kolasib' 'Lunglei' 'Mamit' 'Panch Mahals'
 'Kurukshetra' 'Lahul and Spiti' 'Rajauri' 'Kishtwar' 'Ramban' 'Garhwa *'
 'Pakaur' 'Palamau' 'yadgir' 'Dr. B. R. Ambedkar Konaseema'
 'East Godavari' 'Eluru' 'Guntur' 'K.V.Rangareddy' 'Kakinada'
 'Karim Nagar' 'Krishna' 'Kurnool' 'Mahabub Nagar' 'Mahbubnagar' 'N. T. R'
 'Nandyal' 'Nellore' 'Palnadu' 'Parvathipuram Manyam' 'Prakasam'
 'Rangareddi' 'Sri Potti Sriramulu Nellore' 'Sri Sathya Sai' 'Srikakulam'
 'Tirupati' 'Visakhapatnam' 'Vizianagaram' 'West Godavari' 'Y. S. R'
 'Changlang' 'East Kameng' 'Tawang' 'Tirap' 'West Siang' 'Barpeta'
 'Biswanath' 'Bongaigaon' 'Cachar' 'Charaideo' 'Chirang' 'Darrang'
 'Dhemaji' 'Dhubri' 'Dibrugarh' 'Goalpara' 'Golaghat' 'Hailakandi' 'Hojai'
 'Kamrup' 'Kamrup Metro' 'Karbi Anglong' 'Karimganj' 'Kokrajhar'
 'Lakhimpur' 'Nagaon' 'Nalbari' 'North Cachar Hills' 'Sibsagar' 'Sonitpur'
 'Tinsukia' 'Udalguri' 'Araria' 'Arwal' 'Banka' 'Begusarai' 'Bhagalpur'
 'Bhojpur' 'Buxar' 'Darbhanga' 'East Champaran' 'Gaya' 'Gopalganj' 'Jamui'
 'Jehanabad' 'Kaimur (Bhabua)' 'Katihar' 'Khagaria' 'Lakhisarai'
 'Madhepura' 'Madhubani' 'Munger' 'Muzaffarpur' 'Nalanda' 'Nawada'
 'Pashchim Champaran' 'Patna' 'Purnea' 'Purnia' 'Rohtas' 'Saharsa'
 'Samastipur' 'Saran' 'Sheikpura' 'Sheohar' 'Sitamarhi' 'Siwan' 'Supaul'
 'Vaishali' 'West Champaran' 'Chandigarh' 'Balod' 'Baloda Bazar' 'Bastar'
 'Bemetara' 'Dakshin Bastar Dantewada' 'Dantewada' 'Durg' 'Gariyaband'
 'Janjgir-champa' 'Jashpur' 'Kabeerdham' 'Kanker' 'Kawardha' 'Kondagaon'
 'Korba' 'Koriya' 'Mungeli' 'Raipur' 'Rajnandgaon' 'Sarangarh-Bilaigarh'
 'Sukma' 'Surajpur' 'Surguja' 'Uttar Bastar Kanker'
 'Dadra and Nagar Haveli' 'Daman' 'Central Delhi' 'Najafgarh'
 'North Delhi' 'North East' 'North West Delhi' 'Shahdara' 'South Delhi'
 'South West Delhi' 'West Delhi' 'Jangaon' 'Jyotiba Phule Nagar'
 'Sant Ravidas Nagar Bhadohi' 'Bageshwar' 'Garhwal' 'Uttarkashi' 'Nuapada'
 'Yanam' 'East Sikkim' 'South' 'West Sikkim' 'East Nimar' 'Harda' 'Katni'
 'Pandhurna' 'Chatrapati Sambhaji Nagar' 'Dharashiv' 'Gondia'
 'Churachandpur' 'Ukhrul' 'Lawngtlai' 'Saiha' 'Niuland' 'Andamans' 'MALDA'
 'Banas Kantha' 'Yamunanagar' 'Leh (ladakh)' 'Chamarajanagar *'
 'Agar Malwa' 'Harda *' 'Gondiya *' 'West Khasi Hills' 'Kiphire' 'Meluri'
 'Peren' 'East Siang' 'Lohit' 'Lower Siang' 'Papum Pare' 'Shi-yomi'
 'West Kameng' 'Baksa' 'Marigaon' 'South Salmara Mankachar'
 'Aurangabad(BH)' 'Aurangabad(bh)' 'Kishanganj' 'Purba Champaran'
 'Sheikhpura' 'Dhamtari' 'Gaurela-pendra-marwahi' 'Mahasamund'
 'Mohla-Manpur-Ambagarh Chouki' 'Narayanpur' 'North East Delhi'
 'Bulandshahar' 'Hardwar' 'Bally Jagachha' 'jajpur' 'Burdwan' 'Kra Daadi'
 'Longding' 'Pakke Kessang' 'Siang' 'Upper Siang' 'Upper Subansiri'
 'Jorhat' 'Sribhumi' 'Monghyr' 'Samstipur' 'Khairagarh Chhuikhadan Gandai'
 'Sakti' 'East Delhi' 'Lahul & Spiti' 'Bengaluru South'
 'East Jaintia Hills' 'Champhai' 'Noklak' 'Phek' 'Shamator' 'Khowai' 'Diu'
 'New Delhi' 'South East Delhi' 'Sabar Kantha' 'Shupiyan' 'Bokaro *'
 'Dhaulpur' 'North' 'Anjaw' 'Kurung Kumey' 'Lower Dibang Valley' 'Namsai'
 'Chumukedima' 'Wokha' 'Majuli' 'West Karbi Anglong' 'Bhabua'
 'Dadra & Nagar Haveli' 'North Sikkim' 'ANUGUL' 'Lower Subansiri'
 'Medinipur' 'East Garo Hills' 'Mahrajganj' 'HOWRAH' 'ANGUL'
 'South Garo Hills' 'Tseminyu' 'Tamulpur District' 'Janjgir Champa'
 'Janjgir - Champa' 'Bagpat' 'hooghly' 'Deeg' 'Dhalai  *' 'Raebareli'
 'East Midnapur' 'Warangal (urban)' 'Kamle' 'Dima Hasao' 'KOLKATA'
 'Khawzawl' 'Hawrah' 'Tirupathur' 'Lahaul and Spiti' 'Bijapur(KAR)'
 'NAYAGARH' 'Hooghiy' 'Dibang Valley' 'Manendragarh–Chirmiri–Bharatpur'
 'Kushinagar *' 'NADIA' 'Bajali' 'Mohalla-Manpur-Ambagarh Chowki'
 'HOOGHLY' 'chittoor' 'Bardez' 'Anugal' 'East midnapore' 'nadia'
 'rangareddi' 'Deeg\xa0' 'Leparada' 'Jaintia Hills' 'South 24 parganas'
 'South DumDum(M)' 'Hnahthial' 'Gautam Buddha Nagar *' 'Bengaluru Rural'
 'Mohali' 'Hingoli *' 'South 24 pargana' 'east midnapore' 'Anugul  *'
 'Kanchipuram' 'Namchi' 'West Medinipur' 'Saitual' 'Tuticorin' 'Akhera'
 'Jalore']

In [180]:
# Clean district text
df_demographic_2["district"] = df_demographic_2["district"].astype(str)

df_demographic_2["district_clean"] = (
    df_demographic_2["district"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
    .str.replace(r"\*", "", regex=True)
    .str.replace(r"\?", "", regex=True)
    .str.replace(r"[()]", "", regex=True)
    .str.replace(r"\.", "", regex=True)
)

# Replace common duplicate district names
district_map = {
    "belgaum": "belagavi",
    "tumkur": "tumakuru",
    "mysore": "mysuru",
    "bijapur": "vijayapura",
    "bellary": "ballari",
    "bangalore": "bengaluru",
    "hugli": "hooghly",
    "haora": "howrah",
    "hawrah": "howrah",
    "bardhaman": "barddhaman",
    "ahmadabad": "ahmedabad",
    "bid": "beed",
    "kanchipuram": "kancheepuram",
    "tuticorin": "thoothukkudi",
    "tirupathur": "tirupattur",
    "bara banki": "barabanki",
    "raebareli": "rae bareli",
    "orissa": "odisha",
}

df_demographic_2["district_clean"] = df_demographic_2["district_clean"].replace(district_map)

# Make it final district column
df_demographic_2["district"] = df_demographic_2["district_clean"].str.title()

# Drop helper column
df_demographic_2.drop(columns=["district_clean"], inplace=True)

print("Unique districts:", df_demographic_2["district"].nunique())
print(df_demographic_2["district"].value_counts().head(20))

Unique districts: 907
district
Bengaluru             4397
Belagavi              3796
Barddhaman            3745
Pune                  3053
Thrissur              2920
East Godavari         2882
Warangal              2864
North 24 Parganas     2790
Karimnagar            2784
Medak                 2654
Hyderabad             2604
Tirunelveli           2554
Nalgonda              2463
Palakkad              2433
Vellore               2346
Ernakulam             2317
Thiruvananthapuram    2315
West Godavari         2300
Khammam               2271
Mysuru                2257
Name: count, dtype: int64

In [181]:
# create normalized key
df_demographic_2["district_norm"] = (
    df_demographic_2["district"]
    .astype(str)
    .str.lower()
    .str.replace(r"[^a-z0-9]", "", regex=True)
)

# auto merge -> keep most common spelling
for k in df_demographic_2["district_norm"].unique():
    subset = df_demographic_2[df_demographic_2["district_norm"] == k]
    best = subset["district"].value_counts().idxmax()
    df_demographic_2.loc[df_demographic_2["district_norm"] == k, "district"] = best

print("Unique districts after auto merge:", df_demographic_2["district"].nunique())

Unique districts after auto merge: 879

In [182]:
df_demographic_2.drop(columns=["district_norm"], inplace=True)

In [183]:
df_demographic_2.sample(10)

,date,district,pincode,bio_age_5_17,bio_age_17_,state
362617,01-11-2025,Ludhiana,141110,8,9,Punjab
479813,06-11-2025,Bhadrak,756117,0,1,Odisha
38750,15-10-2025,Barabanki,225203,0,1,Uttar Pradesh
214410,25-10-2025,Pondicherry,605105,0,1,Puducherry
336036,31-10-2025,Sabarkantha,383410,1,0,Gujarat
465944,05-11-2025,Dungarpur,314037,9,5,Rajasthan
262802,27-10-2025,Tumakuru,572227,1,1,Karnataka
179630,24-10-2025,Gorakhpur,273404,12,5,Uttar Pradesh
385451,02-11-2025,Pali,306116,4,7,Rajasthan
20325,20-09-2025,Koraput,764005,0,3,Odisha

In [184]:
df_demographic_3 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_biometric\api_data_aadhar_biometric_1000000_1500000.csv")
df_demographic_3.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamunanagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [185]:
df_demographic_3.isna().sum()

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [186]:
print(df_demographic_3["state"].unique())

['Haryana' 'Himachal Pradesh' 'Jammu and Kashmir' 'Jharkhand' 'Karnataka'
 'Kerala' 'Lakshadweep' 'Madhya Pradesh' 'Maharashtra'
 'Andaman & Nicobar Islands' 'Andaman and Nicobar Islands'
 'Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'Bihar' 'Uttar Pradesh'
 'Uttarakhand' 'West Bengal' 'Chandigarh' 'Chhattisgarh'
 'Dadra & Nagar Haveli' 'Dadra and Nagar Haveli' 'Daman & Diu'
 'Daman and Diu' 'Delhi' 'Goa' 'Gujarat' 'Jammu & Kashmir' 'Manipur'
 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha' 'Orissa' 'Pondicherry'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Ladakh' 'West Bangal' 'West bengal' 'odisha'
 'Dadra and Nagar Haveli and Daman and Diu' 'West  Bengal' 'WEST BENGAL'
 'andhra pradesh' 'Westbengal' 'Chhatisgarh' 'ODISHA' 'WESTBENGAL'
 'Uttaranchal']

In [187]:
df_demographic_3["state"] = df_demographic_3["state"].astype(str)

df_demographic_3["state_clean"] = (
    df_demographic_3["state"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
)

state_map = {
    "west bangal": "west bengal",
    "west bengal": "west bengal",
    "west  bengal": "west bengal",
    "westbengal": "west bengal",
    "west bengal ": "west bengal",
    "west bengal": "west bengal",
    "west bengal": "west bengal",
    "orissa": "odisha",
    "odisha": "odisha",
    "andhra pradesh": "andhra pradesh",
    "jammu & kashmir": "jammu and kashmir",
    "andaman & nicobar islands": "andaman and nicobar islands",
    "pondicherry": "puducherry",
    "daman & diu": "daman and diu",
    "dadra & nagar haveli": "dadra and nagar haveli",
}

df_demographic_3["state_clean"] = df_demographic_3["state_clean"].replace(state_map)

df_demographic_3["state_clean"] = df_demographic_3["state_clean"].replace({
    "dadra and nagar haveli": "dadra and nagar haveli and daman and diu",
    "daman and diu": "dadra and nagar haveli and daman and diu",
})

df_demographic_3["state"] = df_demographic_3["state_clean"].str.title()
df_demographic_3.drop(columns=["state_clean"], inplace=True)

print("Unique states:", df_demographic_3["state"].nunique())

Unique states: 38

In [188]:
print(sorted(df_demographic_3["state"].unique()))

['Andaman And Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhatisgarh', 'Chhattisgarh', 'Dadra And Nagar Haveli And Daman And Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu And Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'Uttaranchal', 'West Bengal']

In [189]:
df_demographic_3["state"] = df_demographic_3["state"].replace({
    "Chhatisgarh": "Chhattisgarh",
    "Uttaranchal": "Uttarakhand"
})

print("Unique states :", df_demographic_3["state"].nunique())
print(sorted(df_demographic_3["state"].unique()))

Unique states : 36
['Andaman And Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra And Nagar Haveli And Daman And Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu And Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [190]:
print(df_demographic_3["district"].unique())

['Yamuna Nagar' 'Yamunanagar' 'Bilaspur' 'Chamba' 'Hamirpur' 'Kangra'
 'Kinnaur' 'Kullu' 'Lahul & Spiti' 'Lahul and Spiti' 'Mandi' 'Shimla'
 'Sirmaur' 'Solan' 'Una' 'Anantnag' 'Badgam' 'Bandipore' 'Baramula'
 'Budgam' 'Doda' 'Jammu' 'Kargil' 'Kathua' 'Kishtwar' 'Kupwara' 'Leh'
 'Punch' 'Rajouri' 'Reasi' 'Samba' 'Shupiyan' 'Srinagar' 'Udhampur'
 'Bokaro' 'Chatra' 'Deoghar' 'Dhanbad' 'Dumka' 'East Singhbhum' 'Garhwa'
 'Giridih' 'Godda' 'Gumla' 'Hazaribag' 'Hazaribagh' 'Jamtara' 'Khunti'
 'Kodarma' 'Koderma' 'Lohardaga' 'Pakur' 'Palamu' 'Pashchimi Singhbhum'
 'Purbi Singhbhum' 'Ramgarh' 'Ranchi' 'Sahebganj' 'Seraikela-Kharsawan'
 'Seraikela-kharsawan' 'Simdega' 'West Singhbhum' 'Bagalkot' 'Ballari'
 'Bangalore' 'Bangalore Rural' 'Belagavi' 'Belgaum' 'Bellary' 'Bengaluru'
 'Bengaluru South' 'Bidar' 'Bijapur' 'Chamarajanagar' 'Chamrajanagar'
 'Chickmagalur' 'Chikkaballapur' 'Chikkamagaluru' 'Chitradurga'
 'Dakshina Kannada' 'Davanagere' 'Davangere' 'Dharwad' 'Gadag' 'Gadag *'
 'Gulbarga' 'Hasan' 'Hassan' 'Haveri' 'Kalaburagi' 'Kodagu' 'Kolar'
 'Koppal' 'Mandya' 'Mysore' 'Mysuru' 'Raichur' 'Ramanagar' 'Shimoga'
 'Shivamogga' 'Tumakuru' 'Tumkur' 'Udupi' 'Uttara Kannada' 'Vijayanagara'
 'Vijayapura' 'Yadgir' 'yadgir' 'Alappuzha' 'Ernakulam' 'Idukki' 'Kannur'
 'Kasaragod' 'Kasargod' 'Kollam' 'Kottayam' 'Kozhikode' 'Malappuram'
 'Palakkad' 'Pathanamthitta' 'Thiruvananthapuram' 'Thrissur' 'Wayanad'
 'Lakshadweep' 'Agar Malwa' 'Anuppur' 'Ashok Nagar' 'Balaghat' 'Barwani'
 'Betul' 'Bhind' 'Bhopal' 'Burhanpur' 'Chhatarpur' 'Chhindwara' 'Damoh'
 'Datia' 'Dewas' 'Dhar' 'Dindori' 'East Nimar' 'Guna' 'Gwalior'
 'Hoshangabad' 'Indore' 'Jabalpur' 'Jhabua' 'Katni' 'Khandwa' 'Khargone'
 'Maihar' 'Mandla' 'Mandsaur' 'Mauganj' 'Narsimhapur' 'Narsinghpur'
 'Neemuch' 'Niwari' 'Panna' 'Raisen' 'Rajgarh' 'Ratlam' 'Rewa' 'Sagar'
 'Satna' 'Sehore' 'Seoni' 'Shahdol' 'Shajapur' 'Shivpuri' 'Sidhi'
 'Tikamgarh' 'Ujjain' 'Umaria' 'Vidisha' 'West Nimar' 'Ahmadnagar'
 'Ahmed Nagar' 'Akola' 'Amravati' 'Aurangabad' 'Beed' 'Bhandara' 'Bid'
 'Buldana' 'Buldhana' 'Chandrapur' 'Chhatrapati Sambhajinagar' 'Dharashiv'
 'Dhule' 'Gadchiroli' 'Gondia' 'Gondiya *' 'Hingoli' 'Jalgaon' 'Jalna'
 'Kolhapur' 'Latur' 'Mumbai' 'Mumbai City' 'Mumbai Suburban'
 'Mumbai( Sub Urban )' 'Nagpur' 'Andamans' 'North And Middle Andaman'
 'South Andaman' 'Adilabad' 'Alluri Sitharama Raju' 'Anakapalli'
 'Anantapur' 'Ananthapur' 'Ananthapuramu' 'Annamayya' 'Bapatla' 'Chittoor'
 'Cuddapah' 'Dr. B. R. Ambedkar Konaseema' 'East Godavari' 'Eluru'
 'Guntur' 'Hyderabad' 'K.v. Rangareddy' 'Kakinada' 'Karim Nagar'
 'Karimnagar' 'Khammam' 'Krishna' 'Kurnool' 'Mahabub Nagar' 'Mahbubnagar'
 'Medak' 'N. T. R' 'Nalgonda' 'Nandyal' 'Nellore' 'Nizamabad' 'Palnadu'
 'Parvathipuram Manyam' 'Prakasam' 'Rangareddi'
 'Sri Potti Sriramulu Nellore' 'Sri Sathya Sai' 'Srikakulam' 'Tirupati'
 'Visakhapatnam' 'Vizianagaram' 'Warangal' 'West Godavari' 'Y. S. R'
 'Changlang' 'East Kameng' 'East Siang' 'Kamle' 'Kra Daadi' 'Lohit'
 'Longding' 'Namsai' 'Papum Pare' 'Upper Siang' 'West Kameng' 'West Siang'
 'Baksa' 'Barpeta' 'Biswanath' 'Bongaigaon' 'Cachar' 'Charaideo' 'Chirang'
 'Darrang' 'Dhemaji' 'Dhubri' 'Dibrugarh' 'Goalpara' 'Golaghat'
 'Hailakandi' 'Hojai' 'Jorhat' 'Kamrup' 'Kamrup Metro' 'Karbi Anglong'
 'Karimganj' 'Kokrajhar' 'Lakhimpur' 'Majuli' 'Nagaon' 'Nalbari'
 'Sibsagar' 'Sonitpur' 'Sribhumi' 'Tinsukia' 'Udalguri'
 'West Karbi Anglong' 'Arwal' 'Banka' 'Begusarai' 'Bhagalpur' 'Bhojpur'
 'Buxar' 'Darbhanga' 'East Champaran' 'Gaya' 'Gopalganj' 'Jamui'
 'Jehanabad' 'Kaimur (Bhabua)' 'Katihar' 'Kishanganj' 'Lakhisarai'
 'Madhepura' 'Madhubani' 'Pratapgarh' 'Prayagraj' 'Rae Bareli' 'Rampur'
 'Saharanpur' 'Sambhal' 'Sant Kabir Nagar' 'Sant Ravidas Nagar'
 'Shahjahanpur' 'Shamli' 'Siddharthnagar' 'Sitapur' 'Sonbhadra'
 'Sultanpur' 'Unnao' 'Varanasi' 'Almora' 'Bageshwar' 'Chamoli' 'Champawat'
 'Dehradun' 'Hardwar' 'Haridwar' 'Nainital' 'Pauri Garhwal' 'Pithoragarh'
 'Rudraprayag' 'Tehri Garhwal' 'Udham Singh Nagar' 'Alipurduar' 'Bankura'
 'Barddhaman' 'Bardhaman' 'Birbhum' 'Cooch Behar' 'Dakshin Dinajpur'
 'Darjeeling' 'Darjiling' 'East Midnapore' 'Haora' 'Hooghly' 'Howrah'
 'Hugli' 'Jalpaiguri' 'Jhargram' 'Kalimpong' 'Koch Bihar' 'Kolkata'
 'MALDA' 'Malda' 'Maldah' 'Murshidabad' 'Nadia' 'North 24 Parganas'
 'North Dinajpur' 'North Twenty Four Parganas' 'Paschim Bardhaman'
 'Paschim Medinipur' 'Purba Bardhaman' 'Purba Medinipur' 'Purulia'
 'Puruliya' 'South 24 Parganas' 'South Twenty Four Parganas'
 'Uttar Dinajpur' 'West Midnapore' 'Munger' 'Muzaffarpur' 'Nalanda'
 'Nawada' 'Patna' 'Purba Champaran' 'Purnea' 'Purnia' 'Rohtas' 'Saharsa'
 'Samastipur' 'Samstipur' 'Saran' 'Sheikhpura' 'Sheohar' 'Sitamarhi'
 'Siwan' 'Supaul' 'Vaishali' 'West Champaran' 'Chandigarh' 'Baloda Bazar'
 'Balrampur' 'Bastar' 'Bemetara' 'Dakshin Bastar Dantewada' 'Dantewada'
 'Dhamtari' 'Durg' 'Gariyaband' 'Gaurela-pendra-marwahi' 'Janjgir-champa'
 'Jashpur' 'Kabeerdham' 'Kanker' 'Kawardha' 'Kondagaon' 'Korba' 'Koriya'
 'Mohalla-Manpur-Ambagarh Chowki' 'Mungeli' 'Raigarh' 'Raipur'
 'Rajnandgaon' 'Sarangarh-Bilaigarh' 'Sukma' 'Surajpur' 'Surguja'
 'Uttar Bastar Kanker' 'Dadra & Nagar Haveli' 'Dadra and Nagar Haveli'
 'Diu' 'Daman' 'Central Delhi' 'East Delhi' 'New Delhi' 'North Delhi'
 'North East Delhi' 'North West Delhi' 'Shahdara' 'South Delhi'
 'South West Delhi' 'West Delhi' 'North Goa' 'South Goa' 'Ahmadabad'
 'Ahmedabad' 'Amreli' 'Anand' 'Arvalli' 'Banaskantha' 'Bharuch'
 'Bhavnagar' 'Botad' 'Chhotaudepur' 'Dahod' 'Devbhumi Dwarka'
 'Gandhinagar' 'Gir Somnath' 'Jamnagar' 'Junagadh' 'Kachchh' 'Kheda'
 'Mahesana' 'Mahisagar' 'Morbi' 'Narmada' 'Navsari' 'Panchmahals' 'Patan'
 'Porbandar' 'Rajkot' 'Sabar Kantha' 'Sabarkantha' 'Surat'
 'Surendra Nagar' 'Surendranagar' 'Tapi' 'Vadodara' 'Valsad' 'Ambala'
 'Bhiwani' 'Charkhi Dadri' 'Faridabad' 'Fatehabad' 'Gurgaon' 'Hisar'
 'Jhajjar' 'Jind' 'Kaithal' 'Karnal' 'Kurukshetra' 'Mahendragarh' 'Mewat'
 'Palwal' 'Panchkula' 'Panipat' 'Rewari' 'Rohtak' 'Sirsa' 'Sonipat'
 'Ganderbal' 'Kulgam' 'Pulwama' 'Ramban' 'Latehar' 'Pakaur' 'Sahibganj'
 'Chamrajnagar' 'Chikmagalur' 'Ratnagiri' 'Sangli' 'Satara' 'Sindhudurg'
 'Solapur' 'Thane' 'Wardha' 'Washim' 'Washim *' 'Yavatmal' 'Chandel'
 'Churachandpur' 'Imphal West' 'Jiribam' 'Kakching' 'Senapati' 'Thoubal'
 'Ukhrul' 'East Garo Hills' 'East Khasi Hills' 'South West Garo Hills'
 'West Garo Hills' 'West Jaintia Hills' 'Aizawl' 'Champhai' 'Kolasib'
 'Lunglei' 'Mamit' 'Mammit' 'Serchhip' 'Chumukedima' 'Dimapur' 'Kohima'
 'Longleng' 'Mokokchung' 'Mon' 'Phek' 'Zunheboto' 'Angul' 'Anugul'
 'Balangir' 'Baleshwar' 'Baleswar' 'Bargarh' 'Baudh' 'Bhadrak' 'Boudh'
 'Cuttack' 'Debagarh' 'Dhenkanal' 'Gajapati' 'Ganjam' 'JAJPUR'
 'Jagatsinghapur' 'Jagatsinghpur' 'Jajapur' 'Jharsuguda' 'Kalahandi'
 'Kandhamal' 'Kendrapara' 'Kendujhar' 'Khorda' 'Khordha' 'Koraput'
 'Malkangiri' 'Mayurbhanj' 'Nabarangapur' 'Nayagarh' 'Nuapada' 'Puri'
 'Rayagada' 'Sambalpur' 'Sonapur' 'Subarnapur' 'Sundargarh' 'Sundergarh'
 'Pondicherry' 'Karaikal' 'Puducherry' 'Amritsar' 'Bathinda' 'Faridkot'
 'Fatehgarh Sahib' 'Fazilka' 'Ferozepur' 'Firozpur' 'Gurdaspur'
 'Hoshiarpur' 'Jalandhar' 'Kapurthala' 'Ludhiana' 'Malerkotla' 'Mansa'
 'Moga' 'Muktsar' 'Nawanshahr' 'Pathankot' 'Patiala' 'Rupnagar'
 'S.A.S Nagar(Mohali)' 'SAS Nagar (Mohali)' 'Sangrur'
 'Shaheed Bhagat Singh Nagar' 'Sri Muktsar Sahib' 'Tarn Taran' 'Ajmer'
 'Alwar' 'Banswara' 'Baran' 'Barmer' 'Bharatpur' 'Bhilwara' 'Bikaner'
 'Bundi' 'Chittaurgarh' 'Chittorgarh' 'Churu' 'Dausa' 'Deeg' 'Dholpur'
 'Dungarpur' 'Ganganagar' 'Hanumangarh' 'Jaipur' 'Jaisalmer' 'Jalor'
 'Jhalawar' 'Jhunjhunun' 'Jodhpur' 'Karauli' 'Kota' 'Nagaur' 'Pali'
 'Rajsamand' 'Sawai Madhopur' 'Sikar' 'Sirohi' 'Tonk' 'Udaipur' 'East'
 'East Sikkim' 'North Sikkim' 'South Sikkim' 'Ariyalur' 'Chengalpattu'
 'Chennai' 'Coimbatore' 'Cuddalore' 'Dharmapuri' 'Dindigul' 'Erode'
 'Kallakurichi' 'Kancheepuram' 'Kanniyakumari' 'Kanyakumari' 'Karur'
 'Krishnagiri' 'Madurai' 'Mayiladuthurai' 'Nagapattinam' 'Namakkal'
 'Perambalur' 'Pudukkottai' 'Ramanathapuram' 'Ranipet' 'Salem' 'Sivaganga'
 'Tenkasi' 'Thanjavur' 'The Nilgiris' 'Theni' 'Thiruvallur' 'Thiruvarur'
 'Thoothukkudi' 'Tiruchirappalli' 'Tirunelveli' 'Tirupathur' 'Tirupattur'
 'Tiruppur' 'Tiruvallur' 'Tiruvannamalai' 'Vellore' 'Villupuram'
 'Viluppuram' 'Virudhunagar' 'Bhadradri Kothagudem' 'Hanumakonda'
 'Jagitial' 'Jangoan' 'Jayashankar Bhupalpally' 'Jogulamba Gadwal'
 'Kamareddy' 'Komaram Bheem' 'Mahabubabad' 'Mahabubnagar' 'Mancherial'
 'Medchal-malkajgiri' 'Medchal−malkajgiri' 'Mulugu' 'Nagarkurnool'
 'Narayanpet' 'Nirmal' 'Peddapalli' 'Rajanna Sircilla' 'Sangareddy'
 'Siddipet' 'Suryapet' 'Vikarabad' 'Wanaparthy' 'Warangal Rural'
 'Warangal Urban' 'Yadadri.' 'Dhalai' 'Gomati' 'North Tripura'
 'Sepahijala' 'South Tripura' 'West Tripura' 'Agra' 'Aligarh' 'Allahabad'
 'Ambedkar Nagar' 'Amethi' 'Amroha' 'Auraiya' 'Ayodhya' 'Azamgarh'
 'Bahraich' 'Ballia' 'Banda' 'Bara Banki' 'Barabanki' 'Bareilly' 'Basti'
 'Bhadohi' 'Bijnor' 'Budaun' 'Bulandshahr' 'Chandauli' 'Chitrakoot'
 'Deoria' 'Etah' 'Etawah' 'Faizabad' 'Farrukhabad' 'Fatehpur' 'Firozabad'
 'Gautam Buddha Nagar' 'Ghaziabad' 'Ghazipur' 'Gonda' 'Gorakhpur' 'Hapur'
 'Hardoi' 'Hathras' 'Jalaun' 'Jaunpur' 'Jhansi' 'Kannauj' 'Kanpur Dehat'
 'Kanpur Nagar' 'Kasganj' 'Kaushambi' 'Kheri' 'Kushinagar' 'Lalitpur'
 'Lucknow' 'Maharajganj' 'Mahoba' 'Mainpuri' 'Mathura' 'Mau' 'Meerut'
 'Mirzapur' 'Moradabad' 'Muzaffarnagar' 'Pilibhit' 'Haveri *' 'Alirajpur'
 'Harda' 'Harda *' 'Morena' 'Narmadapuram' 'Pandhurna' 'Singrauli'
 'Gondiya' 'Hingoli *' 'Nanded' 'Nandurbar' 'Nandurbar *' 'Nashik'
 'Osmanabad' 'Palghar' 'Parbhani' 'Pune' 'Raigad' 'Raigarh(MH)' 'Nicobar'
 'K.V.Rangareddy' 'Dibang Valley' 'Lower Siang' 'Tawang' 'Tirap'
 'Marigaon' 'Araria' 'Khagaria' 'Shrawasti' 'South Dinajpur' 'hooghly'
 'Lower Dibang Valley' 'Upper Subansiri' 'North Cachar Hills'
 'South Salmara Mankachar' 'Aurangabad(bh)' 'Pashchim Champaran' 'Balod'
 'Mahasamund' 'Manendragarh–Chirmiri–Bharatpur'
 'Mohla-Manpur-Ambagarh Chouki' 'Najafgarh' 'Dohad' 'Panch Mahals'
 'The Dangs' 'Bandipur' 'Garhwa *' 'Bishnupur' 'Tamenglong'
 'East Jaintia Hills' 'Ri Bhoi' 'South West Khasi Hills'
 'West Khasi Hills' 'Lawngtlai' 'Meluri' 'Peren' 'Shamator' 'Tuensang'
 'NUAPADA' 'Barnala' 'Jhunjhunu' 'South' 'West' 'West Sikkim'
 'Kanchipuram' 'Rangareddy' 'Khowai' 'Unakoti' 'Baghpat'
 'Khairagarh Chhuikhadan Gandai' 'Narayanpur' 'Sakti' 'Palamau'
 'Bagalkot *' 'jajpur' 'Yanam' 'Deeg\xa0' 'North' 'Sheopur'
 'Chatrapati Sambhaji Nagar' 'Imphal East' 'North Garo Hills' 'Kiphire'
 'Wokha' 'Jangaon' 'Garhwal' 'Uttarkashi' 'Kurung Kumey' 'Lower Subansiri'
 'Siang' 'North East' 'Banas Kantha' 'Bulandshahar' 'Saiha' 'Noklak'
 'Leparada' 'Mohali' 'Dhaulpur' 'HOOGHLY' 'Chamarajanagar *'
 'South Garo Hills' 'Jajpur' 'Shi-yomi' 'Janjgir Champa'
 'Jyotiba Phule Nagar' 'Medinipur' 'Anjaw' 'Janjgir - Champa' 'Dhalai  *'
 'Hnahthial' 'Sant Ravidas Nagar Bhadohi' 'Domjur' 'nadia' 'Dima Hasao'
 'ANUGUL' 'Raebareli' 'HOWRAH' 'rangareddi' 'Niuland' 'NADIA' 'Bhabua'
 'Sheikpura' 'Kushinagar *' 'Auraiya *' 'Aurangabad(BH)'
 'Tamulpur District' 'Warangal (urban)' 'Monghyr' 'chittoor'
 'South East Delhi' 'Pakke Kessang' 'Bardez' 'Bengaluru Rural' 'NAYAGARH'
 'Lahaul and Spiti' 'Mahrajganj' 'Hawrah' 'Saitual'
 'Eastern West Khasi Hills' 'Jaintia Hills' 'Bijapur(KAR)'
 'Bally Jagachha' 'Hooghiy' 'East midnapore' '?' 'Tseminyu'
 'Didwana-Kuchaman' 'Rajauri' 'Tiswadi' 'Jalore' 'Anugal' 'East Midnapur'
 'Khairthal-Tijara' 'South DumDum(M)' 'Bokaro *' 'Kotputli-Behror'
 'Beawar' 'Tiruvarur' 'Nicobars' 'Balotra' 'Namchi' 'Bajali' 'Bagpat'
 'Khordha  *' 'Tuticorin' 'Leh (ladakh)']

In [191]:
df_demographic_3["district"] = df_demographic_3["district"].astype(str)

df_demographic_3["district_clean"] = (
    df_demographic_3["district"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
    .str.replace(r"\*", "", regex=True)
    .str.replace(r"\?", "", regex=True)
    .str.replace(r"[()]", "", regex=True)
    .str.replace(r"\.", "", regex=True)
)

district_map = {
    "belgaum": "belagavi",
    "tumkur": "tumakuru",
    "mysore": "mysuru",
    "bijapur": "vijayapura",
    "bellary": "ballari",
    "bangalore": "bengaluru",
    "hugli": "hooghly",
    "haora": "howrah",
    "hawrah": "howrah",
    "bardhaman": "barddhaman",
    "ahmadabad": "ahmedabad",
    "bid": "beed",
    "kanchipuram": "kancheepuram",
    "tuticorin": "thoothukkudi",
    "tirupathur": "tirupattur",
    "bara banki": "barabanki",
    "raebareli": "rae bareli",
}

df_demographic_3["district_clean"] = df_demographic_3["district_clean"].replace(district_map)

df_demographic_3["district"] = df_demographic_3["district_clean"].str.title()
df_demographic_3.drop(columns=["district_clean"], inplace=True)

print("Unique districts:", df_demographic_3["district"].nunique())

Unique districts: 914

In [192]:
df_demographic_3["district_norm"] = (
    df_demographic_3["district"]
    .astype(str)
    .str.lower()
    .str.replace(r"[^a-z0-9]", "", regex=True)
)

for k in df_demographic_3["district_norm"].unique():
    subset = df_demographic_3[df_demographic_3["district_norm"] == k]
    best = subset["district"].value_counts().idxmax()
    df_demographic_3.loc[df_demographic_3["district_norm"] == k, "district"] = best

df_demographic_3.drop(columns=["district_norm"], inplace=True)

print("unique districts:", df_demographic_3["district"].nunique())

unique districts: 886

In [193]:
df_demographic_4 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_biometric\api_data_aadhar_biometric_1500000_1861108.csv")
df_demographic_4.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,08-12-2025,Uttar Pradesh,Moradabad,244411,4,2
1,08-12-2025,Uttar Pradesh,Moradabad,244601,14,19
2,08-12-2025,Uttar Pradesh,Muzaffarnagar,251002,22,37
3,08-12-2025,Uttar Pradesh,Muzaffarnagar,251202,4,4
4,08-12-2025,Uttar Pradesh,Muzaffarnagar,251319,4,7

In [194]:
df_demographic_4["state"] = df_demographic_4["state"].astype(str)

df_demographic_4["state_clean"] = (
    df_demographic_4["state"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
)

df_demographic_4["state_clean"] = df_demographic_4["state_clean"].replace(state_map)

df_demographic_4["state_clean"] = df_demographic_4["state_clean"].replace({
    "dadra and nagar haveli": "dadra and nagar haveli and daman and diu",
    "daman and diu": "dadra and nagar haveli and daman and diu",
})

df_demographic_4["state"] = df_demographic_4["state_clean"].str.title()
df_demographic_4.drop(columns=["state_clean"], inplace=True)

print("Unique states:", df_demographic_4["state"].nunique())

Unique states: 38

In [195]:
print("Unique states:", df_demographic_4["state"].unique())

Unique states: ['Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Assam' 'Bihar' 'Chandigarh'
 'Chhattisgarh' 'Dadra And Nagar Haveli And Daman And Diu' 'Delhi' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu And Kashmir' 'Jharkhand'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Karnataka' 'Kerala' 'Ladakh' 'Madhya Pradesh'
 'Andaman And Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Lakshadweep' 'Tripura' 'Chhatisgarh' 'Tamilnadu']

In [196]:
df_demographic_4["state"] = df_demographic_4["state"].replace({
    "Chhatisgarh": "Chhattisgarh",
    "Tamilnadu": "Tamil Nadu"
})

print("Unique states:", df_demographic_4["state"].nunique())
print(sorted(df_demographic_4["state"].unique()))

Unique states: 36
['Andaman And Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra And Nagar Haveli And Daman And Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu And Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [197]:
df_demographic_4["district"] = df_demographic_4["district"].astype(str)

df_demographic_4["district_clean"] = (
    df_demographic_4["district"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
    .str.replace(r"\*", "", regex=True)
    .str.replace(r"\?", "", regex=True)
    .str.replace(r"[()]", "", regex=True)
    .str.replace(r"\.", "", regex=True)
)

df_demographic_4["district_clean"] = df_demographic_4["district_clean"].replace(district_map)

df_demographic_4["district"] = df_demographic_4["district_clean"].str.title()
df_demographic_4.drop(columns=["district_clean"], inplace=True)

df_demographic_4["district_norm"] = (
    df_demographic_4["district"]
    .astype(str)
    .str.lower()
    .str.replace(r"[^a-z0-9]", "", regex=True)
)

for k in df_demographic_4["district_norm"].unique():
    subset = df_demographic_4[df_demographic_4["district_norm"] == k]
    best = subset["district"].value_counts().idxmax()
    df_demographic_4.loc[df_demographic_4["district_norm"] == k, "district"] = best

df_demographic_4.drop(columns=["district_norm"], inplace=True)

print("unique districts:", df_demographic_4["district"].nunique())


df_demographic_1.head()

unique districts: 882

,date,pincode,demo_age_5_17,demo_age_17_,state,district
0,01-03-2025,273213,49,529,Uttar Pradesh,Gorakhpur
1,01-03-2025,517132,22,375,Andhra Pradesh,Chittoor
2,01-03-2025,360006,65,765,Gujarat,Rajkot
3,01-03-2025,532484,24,314,Andhra Pradesh,Srikakulam
4,01-03-2025,313801,45,785,Rajasthan,Udaipur

In [198]:
df_demographic_2.head()

         date   district  pincode  bio_age_5_17  bio_age_17_ state
0  19-09-2025  North Goa   403502             0            4   Goa
1  19-09-2025  North Goa   403508             1            4   Goa
2  19-09-2025  North Goa   403513             2            0   Goa
3  19-09-2025  North Goa   403527             2            2   Goa
4  19-09-2025  South Goa   403601             7            3   Goa

In [199]:
df_demographic_3.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamuna Nagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [200]:
df_demographic_4.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,08-12-2025,Uttar Pradesh,Moradabad,244411,4,2
1,08-12-2025,Uttar Pradesh,Moradabad,244601,14,19
2,08-12-2025,Uttar Pradesh,Muzaffarnagar,251002,22,37
3,08-12-2025,Uttar Pradesh,Muzaffarnagar,251202,4,4
4,08-12-2025,Uttar Pradesh,Muzaffarnagar,251319,4,7

In [201]:

df_demographic_all = pd.concat(
    [df_demographic_1, df_demographic_2, df_demographic_3, df_demographic_4],
    ignore_index=True
)

print("Final shape:", df_demographic_all.shape)
print("Unique states:", df_demographic_all["state"].nunique())
print("Unique districts:", df_demographic_all["district"].nunique())

df_demographic_all.head()

Final shape: (1861102, 8)
Unique states: 36
Unique districts: 903

,date,pincode,demo_age_5_17,demo_age_17_,state,district,bio_age_5_17,bio_age_17_
0,01-03-2025,273213,49.0,529.0,Uttar Pradesh,Gorakhpur,NaN,NaN
1,01-03-2025,517132,22.0,375.0,Andhra Pradesh,Chittoor,NaN,NaN
2,01-03-2025,360006,65.0,765.0,Gujarat,Rajkot,NaN,NaN
3,01-03-2025,532484,24.0,314.0,Andhra Pradesh,Srikakulam,NaN,NaN
4,01-03-2025,313801,45.0,785.0,Rajasthan,Udaipur,NaN,NaN

In [202]:
df_demographic_all = df_demographic_all.drop(columns=["bio_age_5_17", "bio_age_17_"], errors="ignore")
df_demographic_all.head()

,date,pincode,demo_age_5_17,demo_age_17_,state,district
0,01-03-2025,273213,49.0,529.0,Uttar Pradesh,Gorakhpur
1,01-03-2025,517132,22.0,375.0,Andhra Pradesh,Chittoor
2,01-03-2025,360006,65.0,765.0,Gujarat,Rajkot
3,01-03-2025,532484,24.0,314.0,Andhra Pradesh,Srikakulam
4,01-03-2025,313801,45.0,785.0,Rajasthan,Udaipur

In [203]:
df_demographic_all.to_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\df_demographic_all_final.csv", index=False)
print("Saved ✅ df_demographic_all_final.csv")

Saved ✅ df_demographic_all_final.csv

In [204]:
df_demographic_all.shape

(1861102, 6)