In [1]:
import pandas as pd

In [2]:
df_enrolment_1 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_enrolment\api_data_aadhar_enrolment_0_500000.csv")
df_enrolment_1.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [3]:
df_enrolment_1.shape

(500000, 7)

In [107]:
df_enrolment_1.isna().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [108]:
df_enrolment_1 = df_enrolment_1.rename(columns={
    "age_0_5": "enro_age_0_5",
    "age_5_17": "enro_age_5_17",
    "age_18_greater": "enro_age_18_greater"
})
df_enrolment_1.head()

,date,state,district,pincode,enro_age_0_5,enro_age_5_17,enro_age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [109]:
df_enrolment_1["state"].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'The Dadra And Nagar Haveli And Daman And Diu',
       'Arunachal Pradesh', 'Himachal Pradesh', 'Goa',
       'Jammu And Kashmir', 'Dadra and Nagar Haveli and Daman and Diu',
       'Ladakh', 'Andaman and Nicobar Islands', 'Orissa', 'Pondicherry',
       'Puducherry', 'Lakshadweep', 'Andaman & Nicobar Islands',
       'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'WEST BENGAL', 'Jammu & Kashmir', 'West  Bengal', '100000',
       'Daman & Diu', 'West Bangal', 'Westbengal', 'West bengal',
       'andhra pradesh', 'ODISHA'], dtype=object)

In [110]:
df_enrolment_1["state"] = (
    df_enrolment_1["state"]
    .astype(str)
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
)

state_map = {
    # Wrong numeric / junk
    "100000": None,

    # West Bengal
    "west  bengal": "west bengal",
    "west bengal": "west bengal",
    "westbengal": "west bengal",
    "west bangal": "west bengal",
    "west bengal ": "west bengal",

    # Odisha
    "orissa": "odisha",
    "odisha": "odisha",

    # Andhra
    "andhra pradesh": "andhra pradesh",

    # Jammu
    "jammu & kashmir": "jammu and kashmir",
    "jammu and kashmir": "jammu and kashmir",

    # Andaman
    "andaman & nicobar islands": "andaman and nicobar islands",

    # Puducherry
    "pondicherry": "puducherry",

    # Dadra Daman
    "dadra & nagar haveli": "dadra and nagar haveli",
    "daman & diu": "daman and diu",

    # Fix "the dadra..."
    "the dadra and nagar haveli and daman and diu": "dadra and nagar haveli and daman and diu",
}

df_enrolment_1["state"] = df_enrolment_1["state"].replace(state_map)

# merge UTs to final combined UT
df_enrolment_1["state"] = df_enrolment_1["state"].replace({
    "dadra and nagar haveli": "dadra and nagar haveli and daman and diu",
    "daman and diu": "dadra and nagar haveli and daman and diu",
})

# Remove invalid states
df_enrolment_1 = df_enrolment_1[df_enrolment_1["state"].notna()]

# Title case final
df_enrolment_1["state"] = df_enrolment_1["state"].str.title()

print("Unique states:", df_enrolment_1["state"].nunique())
print(sorted(df_enrolment_1["state"].unique()))

Unique states: 36
['Andaman And Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra And Nagar Haveli And Daman And Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu And Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [111]:
df_enrolment_1["district"].unique()

array(['East Khasi Hills', 'Bengaluru Urban', 'Kanpur Nagar', 'Aligarh',
       'Sitamarhi', 'Bahraich', 'Firozabad', 'Purbi Champaran',
       'Maharajganj', 'Aurangabad', 'Ghaziabad', 'Faridabad', 'Madhubani',
       'Sikar', 'Bhagalpur', 'Amritsar', 'Gurugram',
       'Gautam Buddha Nagar', 'West Delhi', 'Bhind', 'Gwalior', 'Katni',
       'Coochbehar', 'Lucknow', 'Dinajpur Uttar', 'Marigaon', 'Kokrajhar',
       'Agra', 'Haridwar', 'Nagaon', 'Parbhani', 'West Khasi Hills',
       'North West Delhi', 'West Jaintia Hills', 'Unnao', 'Saharanpur',
       'Dibrugarh', 'Udalguri', 'Chirang', 'Kamrup', 'Dhubri', 'Jaunpur',
       'Thane', 'Dhemaji', 'Banas Kantha', 'Tinsukia', 'Spsr Nellore',
       'Barpeta', 'Sonitpur', 'Baksa', 'Ludhiana', 'Patan', 'Kanchipuram',
       'Patna', 'Lakhimpur', 'Bongaigaon', 'Vadodara', 'Nainital',
       'Dehradun', 'Hojai', 'Dohad', 'Morbi', 'Raipur', 'Gorakhpur',
       'Bulandshahr', 'Mathura', 'Pashchim Champaran', 'Bijapur',
       'Deoghar', 'Muzaffarpur', 'Banda', 'Kachchh', 'Ri Bhoi', 'Darrang',
       'Ashok Nagar', 'Darjeeling', 'North Cachar Hills', 'Ranchi',
       'Surat', 'Nanded', 'Bengaluru', 'Jorhat', 'Gir Somnath',
       'Kamrup Metro', 'Goalpara', 'Bhavnagar', 'Golaghat', 'Nagpur',
       'Cooch Behar', 'Jalgaon', 'Hingoli', 'Ahmadnagar', 'Gandhinagar',
       'North 24 Parganas', 'Munger', 'Kohima', 'Jalor', 'Kheda',
       'Nalbari', 'Palghar', 'Jodhpur', 'Central Delhi', 'Gaya',
       'Sabarkantha', 'Dimapur', 'Cachar', 'Banaskantha', 'Kheri',
       'Rajkot', 'Satara', 'Betul', 'West Karbi Anglong', 'South Delhi',
       'Raigad', 'Uttar Dinajpur', 'Guna', 'Kaimur (Bhabua)', 'Dholpur',
       'Churachandpur', 'West Champaran', 'Bharuch', 'Jhargram',
       'Khargone', 'Chhotaudepur', 'Mumbai Suburban', 'Hailakandi',
       'Panchmahals', 'South Salmara Mankachar', 'Budaun', 'Kanpur Dehat',
       'Porbandar', 'West Garo Hills', 'Kapurthala', 'South Garo Hills',
       'Nagaur', 'Mysuru', 'Mahesana', 'Churu', 'Hyderabad',
       'Kancheepuram', 'Varanasi', 'Lohardaga', 'North Garo Hills',
       'Chhatarpur', 'Nadia', 'Purnia', 'Gurgaon', 'Charaideo', 'Jaipur',
       'Saran', 'Morena', 'Dhar', 'Dahod', 'Devbhumi Dwarka',
       'East Champaran', 'Tapi', 'Baghpat', 'Fatehpur',
       'South West Khasi Hills', 'Yadgir', 'Nandurbar', 'Etawah',
       'Jalpaiguri', 'Jabalpur', 'Shamli', 'Sibsagar', 'Barwani', 'Botad',
       'Junagadh', 'Balrampur', 'Bara Banki', 'Shivpuri', 'Beed',
       'Shahjahanpur', 'Jamnagar', 'Chandrapur', 'Durg',
       'K.v. Rangareddy', 'Sirohi', 'Alipurduar', 'South West Delhi',
       'Gonda', 'East Jaintia Hills', 'Bareilly', 'Bundi', 'Solapur',
       'Sitapur', 'Dumka', 'Sultanpur', 'Karbi Anglong', 'Bikaner',
       'Phek', 'Raisen', 'Shrawasti', 'East Delhi', 'Jhabua', 'Unakoti',
       'Indore', 'Bhopal', 'Dungarpur', 'Chandauli', 'Bharatpur',
       'Mainpuri', 'Godda', 'Muzaffarnagar', 'Siddharthnagar', 'Datia',
       'West Tripura', 'Medchal-malkajgiri', 'Sagar', 'Sheopur',
       'Arvalli', 'Surendra Nagar', 'Malda', 'Amreli', 'Alwar',
       'Ambedkar Nagar', 'Madurai', 'Pilibhit', 'Champhai', 'Valsad',
       'Pakur', 'Vaishali', 'Vidisha', 'Karimganj', 'Biswanath',
       'Burhanpur', 'Kaushambi', 'Pune', 'Punch', 'Jehanabad', 'Jalaun',
       'Etah', 'Meerut', 'Baran', 'Sangrur', 'Karauli', 'Anand',
       'Longleng', 'Chandigarh', 'Jamui', 'South Sikkim', 'Panna',
       'East Garo Hills', 'Jhalawar', 'Shahdara', 'Kalaburagi',
       'Thanjavur', 'Peren', 'Tuensang', 'Mahisagar', 'Hoshiarpur',
       'Noklak', 'Sukma', 'Khandwa', 'Ajmer', 'West Sikkim', 'Latur',
       'Basti', 'Satna', 'Gurdaspur', 'Hazaribagh', 'Azamgarh', 'Udaipur',
       'Kolkata', 'Rampur', 'The Dangs', 'East Singhbhum', 'Alirajpur',
       'SAS Nagar (Mohali)', 'South West Garo Hills', 'Moradabad', 'Kota',
       'Dewas', 'Navsari', 'Chumukedima', 'Ahmedabad', 'Nabarangapur',
       'Pali', 'Amroha', 'Saiha', 'Dakshin Dinajpur', 'Bijnor',
       'Pudukkottai', 'Bangalore Rural', 'Kalimpong', 'Deoria',
       'Baramula', 'Gopalganj', 'Prayagraj', 'Lalitpur', 'Mewat', 'Hapur',
       'Jammu', 'Bishnupur', 'Saharsa', 'Arwal', 'Hathras', 'Lawngtlai',
       'Nashik', 'Yavatmal', 'Cuddalore', 'Kollam', 'Patiala', 'Katihar',
       'Malappuram', 'Birbhum', 'Siwan', 'Dhule', 'Baloda Bazar',
       'Washim', 'Coimbatore', 'Lunglei', 'Imphal West', 'Kushinagar',
       'Thiruvananthapuram', 'Sangli', 'Ahmadabad', 'Lakhisarai',
       'Bengaluru Rural', '24 Paraganas North', 'Dima Hasao', 'Banka',
       'Salem', 'Dadra And Nagar Haveli', 'Dang', 'Kaithal', 'Vellore',
       'Shravasti', 'Nalanda', 'Jaisalmer', 'Kallakurichi', 'Farrukhabad',
       'Medinipur West', 'Araria', 'Sonipat', 'Chatra',
       'Gaurella Pendra Marwahi', 'Visakhapatanam', 'Buldhana',
       'Amravati', 'Hardoi', 'Dhalai', 'Ernakulam', 'New Delhi',
       'Bhilwara', 'Ramanathapuram', 'Mon', 'Raichur', 'North Delhi',
       'Rohtak', 'Gumla', 'Barmer', 'Kurukshetra', 'Nuh', 'Ashoknagar',
       'Thrissur', 'S.A.S Nagar', 'North East Delhi', 'Purba Bardhaman',
       'Ambala', 'Panipat', 'Darbhanga', 'Ayodhya', 'Khunti',
       'Medchal Malkajgiri', 'Sivasagar', 'Hisar', 'Sivaganga',
       'Siddharth Nagar', 'West Kameng', 'Kullu', 'Khordha', 'Barabanki',
       'Chengalpattu', 'Ahmednagar', 'Jalore', 'Nawada', 'Hooghly',
       '24 Paraganas South', 'Chennai', 'Surendranagar', 'Mumbai',
       'Nabarangpur', 'Sabar Kantha', 'Ramanagara', 'Wokha',
       'West Singhbhum', 'Sepahijala', 'Samastipur', 'Zunheboto',
       'East Singhbum', 'Sambhal', 'Chittorgarh', 'Panch Mahals', 'Bidar',
       'Tonk', 'Longding', 'Jhansi', 'Howrah', 'Raigarh', 'Giridih',
       'Akola', 'North Goa', 'Vijayapura', 'Begusarai', 'Ranga Reddy',
       'Thiruvallur', 'Bhadradri Kothagudem', 'Hanumangarh', 'Kannur',
       'Tarn Taran', 'Majuli', 'Balaghat', 'Kiphire', 'Dinajpur Dakshin',
       'East Nimar', 'Osmanabad', 'Dhanbad', 'Kasganj', 'Shopian',
       'Sehore', 'Kannauj', 'Narsinghpur', 'Bilaspur', 'Kolasib',
       'Sawai Madhopur', 'North Tripura', 'Kushi Nagar', 'Prakasam',
       'Bhojpur', 'Hoshangabad', 'Doda', 'Mokokchung', 'Gomati',
       'Krishna', 'Kurnool', 'Mahabub Nagar', 'Mahbubnagar', 'Medak',
       'N. T. R', 'Nalgonda', 'Nandyal', 'Nellore', 'Palnadu',
       'Rangareddi', 'Sri Potti Sriramulu Nellore', 'Sri Sathya Sai',
       'Srikakulam', 'Tirupati', 'Visakhapatnam', 'Vizianagaram',
       'Warangal', 'West Godavari', 'Y. S. R', 'Changlang', 'East Kameng',
       'Tawang', 'West Siang', 'Bajali', 'Sribhumi', 'Buxar', 'Khagaria',
       'Kishanganj', 'Madhepura', 'Rohtas', 'Sheohar', 'Supaul', 'Bastar',
       'Bemetara', 'Gariyaband', 'Jashpur', 'Kawardha', 'Kondagaon',
       'Korba', 'Manendragarh–Chirmiri–Bharatpur', 'Rajnandgaon', 'Sakti',
       'Sarangarh-Bilaigarh', 'Surajpur', 'Surguja',
       'Dadra and Nagar Haveli', 'South Goa', 'Narmada', 'Bhiwani',
       'Charkhi Dadri', 'Fatehabad', 'Jhajjar', 'Jind', 'Karnal',
       'Mahendragarh', 'Rewari', 'Sirsa', 'Yamuna Nagar', 'Hamirpur',
       'Kangra', 'Mandi', 'Sirmaur', 'Solan', 'Una', 'Anantnag', 'Badgam',
       'Bandipore', 'Budgam', 'Kargil', 'Kathua', 'Kupwara', 'Leh',
       'Pulwama', 'Rajouri', 'Ramban', 'Reasi', 'Samba', 'Srinagar',
       'Udhampur', 'Bokaro', 'Garhwa', 'Garhwa *', 'Hazaribag', 'Jamtara',
       'Latehar', 'Palamau', 'Palamu', 'Purbi Singhbhum', 'Ramgarh',
       'Sahebganj', 'Seraikela-Kharsawan', 'Seraikela-kharsawan',
       'Simdega', 'Bagalkot', 'Bagalkot *', 'Ballari', 'Bangalore',
       'Belagavi', 'Belgaum', 'Bellary', 'Chamarajanagar',
       'Chamrajanagar', 'Chamrajnagar', 'Chickmagalur', 'Chikkaballapur',
       'Chikkamagaluru', 'Chikmagalur', 'Chitradurga', 'Dakshina Kannada',
       'Davanagere', 'Davangere', 'Dharwad', 'Gadag', 'Gadag *',
       'Gulbarga', 'Hassan', 'Haveri', 'Kodagu', 'Kolar', 'Koppal',
       'Mandya', 'Mysore', 'Ramanagar', 'Shimoga', 'Shivamogga',
       'Tumakuru', 'Tumkur', 'Udupi', 'Uttara Kannada', 'Vijayanagara',
       'Alappuzha', 'Idukki', 'Kasaragod', 'Kasargod', 'Kottayam',
       'Kozhikode', 'Palakkad', 'Pathanamthitta', 'Wayanad', 'Agar Malwa',
       'Anuppur', 'Chhindwara', 'Damoh', 'Dindori', 'Harda', 'Maihar',
       'Mandla', 'Mandsaur', 'Narmadapuram', 'Narsimhapur', 'Neemuch',
       'Niwari', 'Rajgarh', 'Ratlam', 'Rewa', 'Seoni', 'Shahdol',
       'Shajapur', 'Sidhi', 'Singrauli', 'Tikamgarh', 'Ujjain',
       'West Nimar', 'Ahmed Nagar', 'Bhandara', 'Buldana',
       'Chhatrapati Sambhajinagar', 'Gadchiroli', 'Gondiya', 'Jalna',
       'Kolhapur', 'Mumbai City', 'Ratnagiri', 'Sindhudurg', 'Wardha',
       'Senapati', 'Tamenglong', 'Aizawl', 'Angul', 'Nicobar',
       'South Andaman', 'Adilabad', 'Alluri Sitharama Raju', 'Anakapalli',
       'Anantapur', 'Ananthapur', 'Ananthapuramu', 'Bapatla', 'Chittoor',
       'Cuddapah', 'Dr. B. R. Ambedkar Konaseema', 'East Godavari',
       'Eluru', 'Guntur', 'Kakinada', 'Karimnagar', 'Khammam', 'Anugul',
       'Balangir', 'Baleswar', 'Bargarh', 'Baudh', 'Bhadrak', 'Boudh',
       'Cuttack', 'Debagarh', 'Dhenkanal', 'Gajapati', 'Ganjam', 'JAJPUR',
       'Jagatsinghapur', 'Jagatsinghpur', 'Jajapur', 'Kalahandi',
       'Kandhamal', 'Kendrapara', 'Kendujhar', 'Khorda', 'Koraput',
       'Malkangiri', 'Mayurbhanj', 'Nayagarh', 'Nuapada', 'Puri',
       'Rayagada', 'Sambalpur', 'Sonapur', 'Subarnapur', 'Sundargarh',
       'Sundergarh', 'Baleshwar', 'Pondicherry', 'Karaikal', 'Puducherry',
       'Yanam', 'Barnala', 'Bathinda', 'Faridkot', 'Fatehgarh Sahib',
       'Ferozepur', 'Firozpur', 'Jalandhar', 'Malerkotla', 'Mansa',
       'Muktsar', 'Pathankot', 'Rupnagar', 'Shaheed Bhagat Singh Nagar',
       'Sri Muktsar Sahib', 'Banswara', 'Chittaurgarh', 'Dausa',
       'Ganganagar', 'Jhunjhunun', 'Pratapgarh', 'Rajsamand', 'East',
       'North Sikkim', 'South', 'Ariyalur', 'Dharmapuri', 'Dindigul',
       'Erode', 'Kanniyakumari', 'Kanyakumari', 'Karur', 'Krishnagiri',
       'Mayiladuthurai', 'Nagapattinam', 'Namakkal', 'Perambalur',
       'Ranipet', 'Tenkasi', 'The Nilgiris', 'Theni', 'Thiruvarur',
       'Thoothukkudi', 'Tiruchirappalli', 'Tirunelveli', 'Tirupattur',
       'Tiruppur', 'Tiruvallur', 'Tiruvannamalai', 'Villupuram',
       'Viluppuram', 'Virudhunagar', 'Hanumakonda', 'Jagitial', 'Jangoan',
       'Jayashankar Bhupalpally', 'Jogulamba Gadwal', 'Kamareddy',
       'Komaram Bheem', 'Mahabubabad', 'Mahabubnagar', 'Mancherial',
       'Medchal−malkajgiri', 'Mulugu', 'Nagarkurnool', 'Narayanpet',
       'Nirmal', 'Nizamabad', 'Peddapalli', 'Rajanna Sircilla',
       'Sangareddy', 'Siddipet', 'Suryapet', 'Vikarabad', 'Wanaparthy',
       'Warangal Rural', 'Warangal Urban', 'Yadadri.', 'Khowai',
       'South Tripura', 'Allahabad', 'Amethi', 'Auraiya', 'Ballia',
       'Bhadohi', 'Chitrakoot', 'Faizabad', 'Ghazipur', 'Mahoba', 'Mau',
       'Mirzapur', 'Rae Bareli', 'Sant Kabir Nagar', 'Sant Ravidas Nagar',
       'Sonbhadra', 'Almora', 'Bageshwar', 'Chamoli', 'Garhwal',
       'Pauri Garhwal', 'Pithoragarh', 'Rudraprayag', 'Tehri Garhwal',
       'Udham Singh Nagar', 'Uttarkashi', 'Bankura', 'Barddhaman',
       'Bardhaman', 'Darjiling', 'East Midnapore', 'Haora', 'Koch Bihar',
       'Maldah', 'Murshidabad', 'North Twenty Four Parganas',
       'Paschim Bardhaman', 'Paschim Medinipur', 'Purba Medinipur',
       'Purulia', 'Puruliya', 'South 24 Parganas', 'South Dinajpur',
       'South Twenty Four Parganas', 'West Midnapore', 'North East',
       'Parvathipuram Manyam', 'Kurung Kumey', 'Lohit',
       'Lower Dibang Valley', 'Papum Pare', 'Upper Siang',
       'Aurangabad(bh)', 'Purba Champaran', 'Purnea', 'Sheikhpura',
       'Balod', 'Dhamtari', 'Gaurela-pendra-marwahi', 'Janjgir-champa',
       'Kabeerdham', 'Kanker', 'Khairagarh Chhuikhadan Gandai', 'Koriya',
       'Mahasamund', 'Mohla-Manpur-Ambagarh Chouki', 'Mungeli',
       'Narayanpur', 'Palwal', 'Chamba', 'Shimla', 'Ganderbal', 'Kodarma',
       'Pakaur', 'Sahibganj', 'Hasan', 'yadgir', 'Lakshadweep', 'Harda *',
       'Mauganj', 'Umaria', 'Chatrapati Sambhaji Nagar',
       'Mumbai( Sub Urban )', 'Nandurbar *', 'Imphal East', 'Thoubal',
       'Ukhrul', 'Eastern West Khasi Hills', 'Mamit', 'Serchhip',
       'Andamans', 'North And Middle Andaman', 'Annamayya',
       'K.V.Rangareddy', 'Karim Nagar', 'Rangareddy', 'Bulandshahar',
       'Hugli', 'North Dinajpur', 'Jharsuguda', 'Fazilka', 'Moga',
       'North', 'Chandel', 'Kakching', 'S.A.S Nagar(Mohali)', 'Jhunjhunu',
       'East Sikkim', 'West', 'Lower Subansiri', 'Namsai', 'Sheikpura',
       'Dakshin Bastar Dantewada', 'Dadra & Nagar Haveli', 'Daman',
       'Panchkula', 'Kishtwar', 'Shupiyan', 'Pashchimi Singhbhum',
       'Pandhurna', 'Bid', 'Gondiya *', 'Jyotiba Phule Nagar',
       'Sant Ravidas Nagar Bhadohi', 'HOOGHLY', 'Meluri', 'Dhaulpur',
       'Anjaw', 'East Siang', 'Tamulpur District', 'Dantewada', 'Koderma',
       'Chamarajanagar *', 'Dharashiv', 'Gondia', 'Dhalai  *', 'Kulgam',
       'Jiribam', 'Saitual', 'NUAPADA', 'Kra Daadi', 'Upper Subansiri',
       'Bhabua', 'Champawat', 'Kamle', 'Haveri *', 'Mammit', 'Shamator',
       'Nawanshahr', 'Jangaon', 'NADIA', 'Monghyr', 'Uttar Bastar Kanker',
       'South East Delhi', 'Samstipur', 'Diu', 'Najafgarh', 'Kinnaur',
       'Tuticorin', 'Warangal (urban)', 'Siang', 'Tirap', 'Namchi',
       'HOWRAH', 'Hardwar', 'Niuland', 'Shi-yomi', 'Khawzawl',
       'Janjgir - Champa', 'Lahul and Spiti', 'Janjgir Champa',
       'Washim *', 'Nicobars', 'Lower Siang', 'Yamunanagar',
       'Lahul & Spiti', 'Jhajjar *', 'ANUGUL', 'Raebareli', 'Hawrah',
       'jajpur', 'Aurangabad(BH)', 'Bengaluru South', 'Raigarh(MH)',
       'MALDA', 'Tirupathur', 'Dibang Valley', 'hooghly', 'rangareddi',
       'Deeg\xa0', 'Leparada', 'Medchal?malkajgiri', 'Medinipur',
       'Mohalla-Manpur-Ambagarh Chowki', 'Tseminyu', 'Jajpur',
       'Mahrajganj', 'Hnahthial', 'Pakke Kessang', 'chittoor',
       'Kushinagar *', 'Tiruvarur', 'East Midnapur', 'nadia', 'Hingoli *',
       'North East   *', 'Bardez', 'Namakkal   *', 'Hooghiy', 'Pherzawl',
       'Jaintia Hills', 'KOLKATA', 'West Medinipur', 'Lahaul and Spiti',
       'Burdwan', 'Bandipur', 'Mangan', 'South 24 parganas',
       'Leh (ladakh)', 'Bokaro *', 'South 24 Pargana'], dtype=object)

In [112]:
df_enrolment_1["district_clean"] = (
    df_enrolment_1["district"]
    .astype(str)
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)      # extra spaces remove
    .str.replace(r"\*", "", regex=True)        # remove *
    .str.replace(r"[()]", "", regex=True)      # remove brackets
    .str.replace(r"\.", "", regex=True)        # remove dots
    .str.replace(r"−", "-", regex=True)        # weird dash fix
)

In [113]:
district_map = {
    # West Bengal duplicates
    "hooghly": "hooghly",
    "hooghiy": "hooghly",
    "hugli": "hooghly",
    "howrah": "howrah",
    "hawrah": "howrah",
    "haora": "howrah",

    "burdwan": "barddhaman",
    "bardhaman": "barddhaman",

    "north twenty four parganas": "north 24 parganas",
    "24 paraganas north": "north 24 parganas",

    "south twenty four parganas": "south 24 parganas",
    "24 paraganas south": "south 24 parganas",
    "south 24 pargana": "south 24 parganas",

    "east midnapore": "purba medinipur",
    "east midnapur": "purba medinipur",

    "west midnapore": "paschim medinipur",
    "medinipur west": "paschim medinipur",
    "west medinipur": "paschim medinipur",

    "dinajpur uttar": "uttar dinajpur",
    "dinajpur dakshin": "dakshin dinajpur",

    "coochbehar": "cooch behar",

    # Telangana
    "medchal malkajgiri": "medchal-malkajgiri",
    "medchal?malkajgiri": "medchal-malkajgiri",

    "ranga reddy": "ranga reddy",
    "k v rangareddy": "ranga reddy",
    "kv rangareddy": "ranga reddy",

    # Odisha
    "nabarangpur": "nabarangapur",
    "anugul": "angul",
    "anugal": "angul",
    "anugul  ": "angul",

    # Chhattisgarh
    "gaurella pendra marwahi": "gaurela-pendra-marwahi",
}

df_enrolment_1["district_clean"] = df_enrolment_1["district_clean"].replace(district_map)

In [114]:
print("Before:", df_enrolment_1["district"].nunique())
print("After :", df_enrolment_1["district_clean"].nunique())

df_enrolment_1["district_clean"].value_counts().head(20)

Before: 970
After : 925

district_clean
north 24 parganas    4017
barddhaman           3364
pune                 3274
south 24 parganas    3013
purba medinipur      2861
paschim medinipur    2668
bengaluru            2619
hyderabad            2456
hooghly              2444
murshidabad          2415
jaipur               2344
ranga reddy          2291
malappuram           2196
tirunelveli          2185
thane                2179
kancheepuram         2162
medak                2091
howrah               2077
east godavari        2067
nadia                2060
Name: count, dtype: int64

In [115]:
df_enrolment_1["district"] = df_enrolment_1["district_clean"]
df_enrolment_1 = df_enrolment_1.drop(columns=["district_clean"])

In [116]:
df_enrolment_1.sample(15)

,date,state,district,pincode,enro_age_0_5,enro_age_5_17,enro_age_18_greater
322497,25-09-2025,Tamil Nadu,nagapattinam,610101,3,0,0
449697,19-10-2025,Gujarat,jamnagar,361280,1,0,0
63756,04-09-2025,Kerala,kozhikode,673504,0,1,0
410479,17-10-2025,Uttarakhand,pauri garhwal,246194,0,0,1
237185,18-09-2025,Punjab,faridkot,151204,2,1,0
112420,09-09-2025,Uttar Pradesh,kanpur dehat,209111,2,0,0
236627,18-09-2025,Madhya Pradesh,chhatarpur,471411,3,0,0
449710,19-10-2025,Gujarat,kachchh,370165,2,2,0
23616,02-09-2025,Bihar,siwan,841233,2,2,0
383128,15-10-2025,Tamil Nadu,cuddalore,607002,2,0,0
102641,08-09-2025,Gujarat,bharuch,393020,7,0,0
258492,19-09-2025,Punjab,sangrur,148028,8,0,0
255080,19-09-2025,Telangana,narayanpet,509130,4,1,0
314774,24-09-2025,West Bengal,nadia,741507,1,0,0
87012,07-09-2025,Tamil Nadu,vellore,632501,0,1,0

In [4]:
df_enrolment_2 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_enrolment\api_data_aadhar_enrolment_500000_1000000.csv")
df_enrolment_2.sample(10)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
20789,28-10-2025,Telangana,Nalgonda,508278,1,0,0
102868,03-11-2025,Bihar,Bhojpur,802164,0,2,0
404442,23-12-2025,Uttar Pradesh,Amethi,229309,5,0,0
82589,02-11-2025,Uttar Pradesh,Jhansi,284301,2,0,0
100805,03-11-2025,Tamil Nadu,Cuddalore,607308,2,0,0
48980,30-10-2025,Madhya Pradesh,Shivpuri,473585,4,3,0
484771,29-12-2025,Tamil Nadu,Villupuram,606205,2,0,0
334075,25-11-2025,Uttar Pradesh,Sultanpur,228171,2,2,0
20165,28-10-2025,Odisha,Boudh,762017,1,0,0
430942,25-12-2025,West Bengal,Bankura,722205,1,0,0

In [5]:
df_enrolment_2.shape

(500000, 7)

In [118]:
df_enrolment_2.isna().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [119]:
df_enrolment_2["state"].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'West Bengal',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Orissa',
       'Pondicherry', 'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'Andaman & Nicobar Islands', 'Andaman and Nicobar Islands',
       'Bihar', 'Chandigarh', 'Sikkim', 'West Bangal',
       'Dadra and Nagar Haveli', 'Daman and Diu',
       'Dadra and Nagar Haveli and Daman and Diu', 'Jammu & Kashmir',
       'andhra pradesh', 'Dadra & Nagar Haveli', 'Westbengal',
       'Daman & Diu', 'WESTBENGAL', 'West bengal', 'West  Bengal',
       'WEST BENGAL', '100000'], dtype=object)

In [120]:
import pandas as pd

# 1) basic text cleaning
df_enrolment_2["state_clean"] = (
    df_enrolment_2["state"]
    .astype(str)
    .str.strip()
    .str.replace(r"\s+", " ", regex=True)
    .str.title()
)

# 2) mapping all wrong → correct official name
state_map = {
    "Orissa": "Odisha",
    "West Bangal": "West Bengal",
    "Westbengal": "West Bengal",
    "West Bengal": "West Bengal",
    "West  Bengal": "West Bengal",
    "West Bengal ": "West Bengal",
    "West Bengli": "West Bengal",
    "West bengal": "West Bengal",
    "Westbengal ": "West Bengal",
    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",
    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    "Westbengal": "West Bengal",

    # Kashmir
    "Jammu & Kashmir": "Jammu And Kashmir",
    "Jammu And Kashmir": "Jammu And Kashmir",

    "Andhra Pradesh": "Andhra Pradesh",
    "Andhra Pradesh ": "Andhra Pradesh",
    "Andhra Pradesh": "Andhra Pradesh",
    "Andhra Pradesh": "Andhra Pradesh",
    "Andhra Pradesh": "Andhra Pradesh",
    "Andhra Pradesh": "Andhra Pradesh",
    "Andhra Pradesh": "Andhra Pradesh",
    "Andhra Pradesh": "Andhra Pradesh",

    "Andhra Pradesh": "Andhra Pradesh",
    "Andhra Pradesh": "Andhra Pradesh",

    "Andhra Pradesh": "Andhra Pradesh",

    "Andhra Pradesh": "Andhra Pradesh",

    "Andhra Pradesh": "Andhra Pradesh",

    "Andhra Pradesh": "Andhra Pradesh",

    "Andhra Pradesh": "Andhra Pradesh",
    "Andhra Pradesh": "Andhra Pradesh",

    "Andhra Pradesh": "Andhra Pradesh",

    "Dadra & Nagar Haveli": "Dadra And Nagar Haveli",
    "Dadra And Nagar Haveli": "Dadra And Nagar Haveli",
    "Daman & Diu": "Daman And Diu",
    "Daman And Diu": "Daman And Diu",
}

df_enrolment_2["state_clean"] = df_enrolment_2["state_clean"].replace(state_map)

# 3) remove invalid states like 100000
df_enrolment_2["state_clean"] = df_enrolment_2["state_clean"].replace({"100000": pd.NA})

# 4) replace original
df_enrolment_2["state"] = df_enrolment_2["state_clean"]
df_enrolment_2 = df_enrolment_2.drop(columns=["state_clean"])

print("Unique states now:", df_enrolment_2["state"].nunique())
print(df_enrolment_2["state"].unique())

Unique states now: 40
['Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'West Bengal' 'Chhattisgarh'
 'Delhi' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu And Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Ladakh' 'Lakshadweep' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Pondicherry' 'Puducherry' 'Punjab' 'Rajasthan' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Uttar Pradesh' 'Uttarakhand' 'Andaman & Nicobar Islands'
 'Andaman And Nicobar Islands' 'Bihar' 'Chandigarh' 'Sikkim'
 'Dadra And Nagar Haveli' 'Daman And Diu'
 'Dadra And Nagar Haveli And Daman And Diu' <NA>]

In [121]:
state_fix2 = {
    # Andaman
    "Andaman And Nicobar Islands": "Andaman & Nicobar Islands",

    # Pondicherry
    "Pondicherry": "Puducherry",

    # UT merge (new UT name)
    "Dadra And Nagar Haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "Daman And Diu": "Dadra And Nagar Haveli And Daman And Diu",
}

df_enrolment_2["state"] = df_enrolment_2["state"].replace(state_fix2)

In [122]:
print("Unique states:", df_enrolment_2["state"].nunique())
print(df_enrolment_2["state"].unique())

Unique states: 36
['Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'West Bengal' 'Chhattisgarh'
 'Delhi' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu And Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Ladakh' 'Lakshadweep' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Tamil Nadu' 'Telangana' 'Tripura'
 'Uttar Pradesh' 'Uttarakhand' 'Andaman & Nicobar Islands' 'Bihar'
 'Chandigarh' 'Sikkim' 'Dadra And Nagar Haveli And Daman And Diu' <NA>]

In [123]:
df_enrolment_2[df_enrolment_2["state"].isna()].head()

              date state district  pincode  age_0_5  age_5_17  age_18_greater
262744  15-11-2025  <NA>   100000   100000        0         0               3
280936  16-11-2025  <NA>   100000   100000        0         0               2
291621  17-11-2025  <NA>   100000   100000        0         0               4
323985  19-11-2025  <NA>   100000   100000        0         0               2
361631  15-12-2025  <NA>   100000   100000        0         0             161

In [124]:
df_enrolment_2["state"].isna().sum()

np.int64(13)

In [125]:
df_enrolment_2 = df_enrolment_2.dropna(subset=["state"])

In [126]:
df_enrolment_2.isna().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [127]:
df_enrolment_2.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,26-10-2025,Andhra Pradesh,Nalgonda,508004,0,1,0
1,26-10-2025,Andhra Pradesh,Nalgonda,508238,1,0,0
2,26-10-2025,Andhra Pradesh,Nalgonda,508278,1,0,0
3,26-10-2025,Andhra Pradesh,Nandyal,518432,0,1,0
4,26-10-2025,Andhra Pradesh,Nandyal,518543,1,0,0

In [6]:
df_enrolment_3 = pd.read_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\api_data_aadhar_enrolment\api_data_aadhar_enrolment_1000000_1006029.csv")
df_enrolment_3.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [7]:
df_enrolment_3.shape

(6029, 7)

In [129]:
df_enrolment_3.isna().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [130]:
df_enrolment_3["state"].unique()

array(['Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Orissa', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Pondicherry'], dtype=object)

In [131]:
df_enrolment_3["state"].nunique()

37

In [132]:
df_enrolment_3["state"] = df_enrolment_3["state"].astype(str).str.strip()

df_enrolment_3["state"] = df_enrolment_3["state"].replace({
    "Orissa": "Odisha",
    "Pondicherry": "Puducherry",
    "Daman and Diu": "Dadra and Nagar Haveli and Daman and Diu"
})

print("Unique states:",df_enrolment_3["state"].nunique())
print(df_enrolment_3["state"].unique())

Unique states: 35
['Karnataka' 'Kerala' 'Ladakh' 'Lakshadweep' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Andhra Pradesh'
 'Arunachal Pradesh' 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh'
 'Dadra and Nagar Haveli and Daman and Diu' 'Delhi' 'Goa' 'Gujarat'
 'Haryana' 'Himachal Pradesh' 'Jammu and Kashmir' 'Jharkhand']

In [133]:
print(sorted(df_enrolment_3["state"].unique()))

['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [134]:
(df_enrolment_3["state"] == "Andaman & Nicobar Islands").sum()

np.int64(0)

In [135]:
df_enrolment_3["district"].unique()

array(['Bidar', 'Bijapur', 'Chamrajanagar', 'Chamrajnagar',
       'Chickmagalur', 'Chikkaballapur', 'Chikkamagaluru', 'Chikmagalur',
       'Chitradurga', 'Dakshina Kannada', 'Davanagere', 'Davangere',
       'Dharwad', 'Gadag', 'Gadag *', 'Gulbarga', 'Hasan', 'Hassan',
       'Haveri', 'Kalaburagi', 'Kodagu', 'Kolar', 'Koppal', 'Mandya',
       'Mysore', 'Mysuru', 'Raichur', 'Ramanagar', 'Shimoga',
       'Shivamogga', 'Tumakuru', 'Tumkur', 'Udupi', 'Uttara Kannada',
       'Vijayanagara', 'Vijayapura', 'Yadgir', 'yadgir', 'Alappuzha',
       'Ernakulam', 'Idukki', 'Kannur', 'Kasaragod', 'Kollam', 'Kottayam',
       'Kozhikode', 'Malappuram', 'Palakkad', 'Pathanamthitta',
       'Thiruvananthapuram', 'Thrissur', 'Wayanad', 'Leh', 'Lakshadweep',
       'Agar Malwa', 'Alirajpur', 'Anuppur', 'Ashok Nagar', 'Balaghat',
       'Barwani', 'Betul', 'Bhind', 'Bhopal', 'Burhanpur', 'Chhatarpur',
       'Chhindwara', 'Damoh', 'Datia', 'Dewas', 'Dhar', 'East Nimar',
       'Guna', 'Gwalior', 'Hoshangabad', 'Indore', 'Jabalpur', 'Jhabua',
       'Katni', 'Khandwa', 'Khargone', 'Mandla', 'Mandsaur', 'Mauganj',
       'Morena', 'Narmadapuram', 'Narsimhapur', 'Narsinghpur', 'Neemuch',
       'Pandhurna', 'Panna', 'Raisen', 'Rajgarh', 'Ratlam', 'Rewa',
       'Sagar', 'Satna', 'Sehore', 'Seoni', 'Shahdol', 'Shajapur',
       'Sheopur', 'Shivpuri', 'Sidhi', 'Singrauli', 'Tikamgarh', 'Ujjain',
       'Umaria', 'Vidisha', 'West Nimar', 'Ahilyanagar', 'Ahmadnagar',
       'Ahmed Nagar', 'Akola', 'Amravati', 'Aurangabad', 'Beed',
       'Bhandara', 'Bid', 'Buldana', 'Buldhana', 'Chandrapur', 'Dhule',
       'Gadchiroli', 'Gondiya', 'Hingoli', 'Jalgaon', 'Jalna', 'Kolhapur',
       'Latur', 'Mumbai', 'Mumbai City', 'Mumbai Suburban',
       'Mumbai( Sub Urban )', 'Nagpur', 'Nanded', 'Nandurbar', 'Nashik',
       'Osmanabad', 'Palghar', 'Parbhani', 'Pune', 'Raigad', 'Raigarh',
       'Ratnagiri', 'Sangli', 'Satara', 'Sindhudurg', 'Solapur', 'Thane',
       'Wardha', 'Washim', 'Yavatmal', 'Chandel', 'Churachandpur',
       'Imphal East', 'Imphal West', 'Senapati', 'Thoubal', 'Ukhrul',
       'East Garo Hills', 'East Jaintia Hills', 'East Khasi Hills',
       'North Garo Hills', 'Ri Bhoi', 'South West Garo Hills',
       'West Jaintia Hills', 'Champhai', 'Mammit', 'Saiha', 'Serchhip',
       'Dimapur', 'Kohima', 'Mokokchung', 'Mon', 'Tuensang', 'Angul',
       'Balangir', 'Baleshwar', 'Baleswar', 'Bargarh', 'Bhadrak', 'Boudh',
       'Cuttack', 'Dhenkanal', 'Gajapati', 'Ganjam', 'JAJPUR',
       'Jagatsinghapur', 'Jagatsinghpur', 'Jajapur', 'Kalahandi',
       'Kandhamal', 'Kendrapara', 'Kendujhar', 'Khorda', 'Khordha',
       'Koraput', 'Mayurbhanj', 'Nabarangapur', 'Nayagarh', 'Nuapada',
       'Puri', 'Rayagada', 'Sambalpur', 'Sonapur', 'Sundargarh',
       'Sundergarh', 'Anugul', 'Puducherry', 'Amritsar', 'Bathinda',
       'Faridkot', 'Fatehgarh Sahib', 'Fazilka', 'Ferozepur', 'Gurdaspur',
       'Hoshiarpur', 'Jalandhar', 'Kapurthala', 'Ludhiana', 'Pathankot',
       'Patiala', 'Rupnagar', 'SAS Nagar (Mohali)', 'Sangrur',
       'Shaheed Bhagat Singh Nagar', 'Sri Muktsar Sahib', 'Ajmer',
       'Alwar', 'Banswara', 'Baran', 'Barmer', 'Bharatpur', 'Bhilwara',
       'Bikaner', 'Bundi', 'Chittaurgarh', 'Chittorgarh', 'Churu',
       'Dausa', 'Dholpur', 'Dungarpur', 'Ganganagar', 'Hanumangarh',
       'Jaipur', 'Jaisalmer', 'Jalor', 'Jhalawar', 'Jhunjhunu',
       'Jhunjhunun', 'Jodhpur', 'Karauli', 'Kota', 'Nagaur', 'Pali',
       'Pratapgarh', 'Rajsamand', 'Sawai Madhopur', 'Sikar', 'Sirohi',
       'Tonk', 'Udaipur', 'East Sikkim', 'West Sikkim', 'Ariyalur',
       'Chengalpattu', 'Chennai', 'Coimbatore', 'Cuddalore', 'Dharmapuri',
       'Dindigul', 'Erode', 'Kallakurichi', 'Kancheepuram',
       'Kanniyakumari', 'Kanyakumari', 'Karur', 'Krishnagiri', 'Madurai',
       'Nagapattinam', 'Namakkal', 'Perambalur', 'Pudukkottai',
       'Ramanathapuram', 'Salem', 'Sivaganga', 'Tenkasi', 'Thanjavur',
       'The Nilgiris', 'Theni', 'Thiruvallur', 'Thiruvarur',
       'Thoothukkudi', 'Tiruchirappalli', 'Tirunelveli', 'Tirupattur',
       'Tiruppur', 'Tiruvallur', 'Tiruvannamalai', 'Vellore',
       'Villupuram', 'Viluppuram', 'Virudhunagar', 'Adilabad',
       'Hanumakonda', 'Hyderabad', 'Jagitial', 'Jangoan',
       'Jayashankar Bhupalpally', 'Jogulamba Gadwal', 'K.v. Rangareddy',
       'Kamareddy', 'Karimnagar', 'Khammam', 'Komaram Bheem',
       'Mahabubabad', 'Mahabubnagar', 'Mancherial', 'Medak',
       'Medchal-malkajgiri', 'Mulugu', 'Nagarkurnool', 'Nalgonda',
       'Narayanpet', 'Nizamabad', 'Peddapalli', 'Rajanna Sircilla',
       'Sangareddy', 'Siddipet', 'Suryapet', 'Vikarabad', 'Warangal',
       'Warangal Rural', 'Warangal Urban', 'Yadadri.', 'Dhalai', 'Gomati',
       'Khowai', 'North Tripura', 'South Tripura', 'Unakoti',
       'West Tripura', 'Agra', 'Aligarh', 'Allahabad', 'Ambedkar Nagar',
       'Amethi', 'Amroha', 'Ayodhya', 'Azamgarh', 'Baghpat', 'Bahraich',
       'Ballia', 'Balrampur', 'Banda', 'Bara Banki', 'Barabanki',
       'Bareilly', 'Basti', 'Bhadohi', 'Bijnor', 'Budaun', 'Bulandshahr',
       'Chandauli', 'Deoria', 'Etah', 'Etawah', 'Faizabad', 'Farrukhabad',
       'Fatehpur', 'Firozabad', 'Gautam Buddha Nagar', 'Ghaziabad',
       'Ghazipur', 'Gonda', 'Gorakhpur', 'Hamirpur', 'Hapur', 'Hardoi',
       'Hathras', 'Jalaun', 'Jaunpur', 'Jhansi', 'Jyotiba Phule Nagar',
       'Kannauj', 'Kanpur Dehat', 'Kanpur Nagar', 'Kasganj', 'Kaushambi',
       'Kheri', 'Kushinagar', 'Lalitpur', 'Lucknow', 'Maharajganj',
       'Mahoba', 'Mainpuri', 'Mathura', 'Mau', 'Meerut', 'Mirzapur',
       'Moradabad', 'Muzaffarnagar', 'Prayagraj', 'Rae Bareli', 'Rampur',
       'Saharanpur', 'Sambhal', 'Sant Kabir Nagar', 'Sant Ravidas Nagar',
       'Shahjahanpur', 'Shamli', 'Shrawasti', 'Siddharthnagar', 'Sitapur',
       'Sonbhadra', 'Sultanpur', 'Unnao', 'Varanasi', 'Almora',
       'Bageshwar', 'Chamoli', 'Dehradun', 'Haridwar', 'Nainital',
       'Pauri Garhwal', 'Pithoragarh', 'Rudraprayag', 'Tehri Garhwal',
       'Udham Singh Nagar', 'Alipurduar', 'Bankura', 'Barddhaman',
       'Bardhaman', 'Birbhum', 'Cooch Behar', 'Darjeeling', 'Darjiling',
       'East Midnapore', 'Haora', 'Hooghly', 'Howrah', 'Hugli',
       'Jalpaiguri', 'Jhargram', 'Koch Bihar', 'Kolkata', 'Malda',
       'Maldah', 'Murshidabad', 'Nadia', 'North 24 Parganas',
       'North Dinajpur', 'North Twenty Four Parganas',
       'Paschim Bardhaman', 'Paschim Medinipur', 'Purba Bardhaman',
       'Purba Medinipur', 'Puruliya', 'South 24 Parganas',
       'South Dinajpur', 'South Twenty Four Parganas', 'Uttar Dinajpur',
       'West Midnapore', 'Alluri Sitharama Raju', 'Anakapalli',
       'Anantapur', 'Ananthapur', 'Ananthapuramu', 'Annamayya',
       'Chittoor', 'Cuddapah', 'Dr. B. R. Ambedkar Konaseema',
       'East Godavari', 'Eluru', 'Guntur', 'Krishna', 'Kurnool',
       'Mahabub Nagar', 'Mahbubnagar', 'N. T. R', 'Nandyal', 'Nellore',
       'Palnadu', 'Parvathipuram Manyam', 'Prakasam', 'Rangareddi',
       'Sri Potti Sriramulu Nellore', 'Sri Sathya Sai', 'Srikakulam',
       'Tirupati', 'Visakhapatnam', 'Vizianagaram', 'West Godavari',
       'Changlang', 'East Kameng', 'East Siang', 'Lohit', 'Papum Pare',
       'Tawang', 'Upper Siang', 'West Siang', 'Baksa', 'Barpeta',
       'Biswanath', 'Bongaigaon', 'Cachar', 'Chirang', 'Darrang',
       'Dhemaji', 'Dhubri', 'Dibrugarh', 'Goalpara', 'Golaghat',
       'Hailakandi', 'Hojai', 'Jorhat', 'Kamrup', 'Kamrup Metro',
       'Karbi Anglong', 'Karimganj', 'Kokrajhar', 'Lakhimpur', 'Marigaon',
       'Nagaon', 'Nalbari', 'Sibsagar', 'Sonitpur',
       'South Salmara Mankachar', 'Sribhumi', 'Tinsukia', 'Araria',
       'Arwal', 'Aurangabad(bh)', 'Banka', 'Begusarai', 'Bhabua',
       'Bhagalpur', 'Bhojpur', 'Buxar', 'Darbhanga', 'East Champaran',
       'Gaya', 'Gopalganj', 'Jamui', 'Jehanabad', 'Kaimur (Bhabua)',
       'Katihar', 'Khagaria', 'Kishanganj', 'Lakhisarai', 'Madhepura',
       'Madhubani', 'Monghyr', 'Munger', 'Muzaffarpur', 'Nalanda',
       'Nawada', 'Patna', 'Purnia', 'Rohtas', 'Saharsa', 'Samastipur',
       'Samstipur', 'Saran', 'Sheikhpura', 'Sheohar', 'Sitamarhi',
       'Siwan', 'Supaul', 'Vaishali', 'West Champaran', 'Chandigarh',
       'Balod', 'Baloda Bazar', 'Bastar', 'Bemetara', 'Bilaspur',
       'Dakshin Bastar Dantewada', 'Dantewada', 'Dhamtari', 'Durg',
       'Janjgir - Champa', 'Janjgir-champa', 'Jashpur', 'Kabeerdham',
       'Kanker', 'Kondagaon', 'Korba', 'Koriya', 'Mahasamund',
       'Manendragarh–Chirmiri–Bharatpur', 'Mungeli', 'Narayanpur',
       'Raipur', 'Rajnandgaon', 'Sarangarh-Bilaigarh', 'Sukma',
       'Surajpur', 'Surguja', 'Uttar Bastar Kanker', 'Daman',
       'Central Delhi', 'North Delhi', 'North East', 'North West Delhi',
       'Shahdara', 'South Delhi', 'South West Delhi', 'West Delhi',
       'North Goa', 'South Goa', 'Ahmadabad', 'Ahmedabad', 'Amreli',
       'Anand', 'Arvalli', 'Banaskantha', 'Bharuch', 'Bhavnagar', 'Botad',
       'Chhotaudepur', 'Dahod', 'Devbhumi Dwarka', 'Gandhinagar',
       'Gir Somnath', 'Jamnagar', 'Junagadh', 'Kachchh', 'Kheda',
       'Mahesana', 'Mahisagar', 'Morbi', 'Navsari', 'Panchmahals',
       'Patan', 'Rajkot', 'Sabar Kantha', 'Sabarkantha', 'Surat',
       'Surendra Nagar', 'Surendranagar', 'Tapi', 'The Dangs', 'Vadodara',
       'Valsad', 'Ambala', 'Bhiwani', 'Charkhi Dadri', 'Fatehabad',
       'Gurgaon', 'Hisar', 'Jhajjar', 'Jind', 'Kaithal', 'Karnal',
       'Kurukshetra', 'Mahendragarh', 'Mewat', 'Palwal', 'Panchkula',
       'Panipat', 'Rewari', 'Rohtak', 'Sonipat', 'Yamuna Nagar',
       'Yamunanagar', 'Chamba', 'Kangra', 'Kinnaur', 'Kullu',
       'Lahul & Spiti', 'Mandi', 'Shimla', 'Solan', 'Una', 'Anantnag',
       'Bandipore', 'Baramula', 'Budgam', 'Doda', 'Jammu', 'Kargil',
       'Kathua', 'Kupwara', 'Pulwama', 'Punch', 'Rajouri', 'Ramban',
       'Samba', 'Srinagar', 'Udhampur', 'Bokaro', 'Chatra', 'Deoghar',
       'Dhanbad', 'Dumka', 'East Singhbhum', 'Garhwa', 'Giridih', 'Godda',
       'Gumla', 'Hazaribag', 'Hazaribagh', 'Jamtara', 'Latehar', 'Pakur',
       'Palamau', 'Palamu', 'Pashchimi Singhbhum', 'Purbi Singhbhum',
       'Ramgarh', 'Ranchi', 'Sahebganj', 'Sahibganj',
       'Seraikela-Kharsawan', 'West Singhbhum', 'Bagalkot', 'Bagalkot *',
       'Ballari', 'Bangalore', 'Bangalore Rural', 'Belagavi', 'Belgaum',
       'Bellary', 'Bengaluru', 'Bengaluru South', 'Haveri *', 'Kasargod',
       'Dindori', 'Harda', 'Harda *', 'Maihar', 'Niwari',
       'Chhatrapati Sambhajinagar', 'Nandurbar *', 'Raigarh(MH)',
       'Bishnupur', 'Kakching', 'South Garo Hills',
       'South West Khasi Hills', 'West Garo Hills', 'West Khasi Hills',
       'Aizawl', 'Mamit', 'Chumukedima', 'Phek', 'Jharsuguda',
       'Malkangiri', 'Karaikal', 'Pondicherry', 'Barnala', 'Moga',
       'S.A.S Nagar(Mohali)', 'Tarn Taran', 'Deeg', 'West',
       'Bhadradri Kothagudem', 'Medchal−malkajgiri', 'Nirmal',
       'Rangareddy', 'Wanaparthy', 'Sepahijala', 'Auraiya', 'Chitrakoot',
       'Kushinagar *', 'Pilibhit', 'Sant Ravidas Nagar Bhadohi',
       'Champawat', 'Uttarkashi', 'Dakshin Dinajpur', 'Kalimpong',
       'Purulia'], dtype=object)

In [136]:
df_enrolment_3["district"] = df_enrolment_3["district"].astype(str)

df_enrolment_3["district_clean"] = (
    df_enrolment_3["district"]
    .str.strip()
    .str.lower()
    .str.replace(r"\s+", " ", regex=True)
    .str.replace(r"\*", "", regex=True)      # remove *
    .str.replace(r"[()]", "", regex=True)    # remove brackets
    .str.replace(r"\.", "", regex=True)      # remove dots
    .str.replace(r"−", "-", regex=True)      # fix weird dash
    .str.replace(r"’", "'", regex=True)      # fix apostrophe
)

In [137]:
district_map = {
    # Karnataka duplicates
    "chamrajnagar": "chamarajanagar",
    "chamrajanagar": "chamarajanagar",
    "kalaburagi": "gulbarga",
    "hasan": "hassan",
    "tumkur": "tumakuru",
    "mysore": "mysuru",
    "shimoga": "shivamogga",
    "vijayapura": "bijapur",
    "yadgir": "yadgir",

    # Maharashtra
    "ahmadnagar": "ahmednagar",
    "osmanabad": "dharashiv",

    # West Bengal
    "bardhaman": "barddhaman",
    "burdwan": "barddhaman",
    "hooghly": "hooghly",
    "hugli": "hooghly",
    "haora": "howrah",
    "hawrah": "howrah",
    "north twenty four parganas": "north 24 parganas",
    "south twenty four parganas": "south 24 parganas",
    "east midnapore": "purba medinipur",
    "west midnapore": "paschim medinipur",

    # Odisha
    "anugul": "angul",
    "baleswar": "baleshwar",
    "khordha": "khorda",

    # Chhattisgarh
    "janjgir - champa": "janjgir-champa",
    "janjgir champa": "janjgir-champa",

    # Telangana
    "k v rangareddy": "ranga reddy",
    "kv rangareddy": "ranga reddy",
    "rangareddi": "ranga reddy",

    # Tamil Nadu
    "villupuram": "viluppuram",
    "tiruvallur": "thiruvallur",
}

df_enrolment_3["district_clean"] = df_enrolment_3["district_clean"].replace(district_map)

In [138]:
print("Before unique:", df_enrolment_3["district"].nunique())
print("After unique :", df_enrolment_3["district_clean"].nunique())

print(df_enrolment_3["district_clean"].value_counts().head(20))

Before unique: 772
After unique : 749
district_clean
barddhaman            56
pune                  46
north 24 parganas     45
thrissur              44
malappuram            42
paschim medinipur     42
purba medinipur       39
tiruchirappalli       38
ranga reddy           36
viluppuram            36
south 24 parganas     36
kannur                35
tirunelveli           35
kottayam              34
jaipur                34
thanjavur             34
hooghly               34
thiruvananthapuram    33
ernakulam             32
palakkad              31
Name: count, dtype: int64

In [139]:
df_enrolment_3["district"] = df_enrolment_3["district_clean"]
df_enrolment_3.drop(columns=["district_clean"], inplace=True)

In [153]:
final_enrolment_df = pd.concat(
    [df_enrolment_1, df_enrolment_2, df_enrolment_3],
    ignore_index=True
)

print("Final shape:", final_enrolment_df.shape)
print("Unique states:", final_enrolment_df["state"].nunique())
print("Unique districts:", final_enrolment_df["district"].nunique())

final_enrolment_df.head()

Final shape: (1006007, 10)
Unique states: 39
Unique districts: 1861

,date,state,district,pincode,enro_age_0_5,enro_age_5_17,enro_age_18_greater,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,east khasi hills,793121,11.0,61.0,37.0,NaN,NaN,NaN
1,09-03-2025,Karnataka,bengaluru urban,560043,14.0,33.0,39.0,NaN,NaN,NaN
2,09-03-2025,Uttar Pradesh,kanpur nagar,208001,29.0,82.0,12.0,NaN,NaN,NaN
3,09-03-2025,Uttar Pradesh,aligarh,202133,62.0,29.0,15.0,NaN,NaN,NaN
4,09-03-2025,Karnataka,bengaluru urban,560016,14.0,16.0,21.0,NaN,NaN,NaN

In [154]:
def clean_text(col):
    return (col.astype(str)
              .str.strip()
              .str.lower()
              .str.replace(r"\s+", " ", regex=True)
              .str.replace(r"\*", "", regex=True)
              .str.replace(r"[()]", "", regex=True)
              .str.replace(r"\.", "", regex=True)
           )

# Clean state + district
final_enrolment_df["state"] = clean_text(final_enrolment_df["state"])
final_enrolment_df["district"] = clean_text(final_enrolment_df["district"])

In [156]:
import numpy as np
state_map = {
    "westbengal": "west bengal",
    "west  bengal": "west bengal",
    "west bengal": "west bengal",
    "west bangal": "west bengal",
    "west bengli": "west bengal",
    "westbengal ": "west bengal",

    "odisha": "odisha",
    "orissa": "odisha",

    "andhra pradesh": "andhra pradesh",

    "jammu & kashmir": "jammu and kashmir",
    "jammu and kashmir": "jammu and kashmir",
    "jammu and kashmir ": "jammu and kashmir",

    "daman & diu": "daman and diu",
    "dadra & nagar haveli": "dadra and nagar haveli",

    "pondicherry": "puducherry",
    "andaman & nicobar islands": "andaman and nicobar islands",

    "the dadra and nagar haveli and daman and diu": "dadra and nagar haveli and daman and diu",

    "100000": np.nan,
    "<na>": np.nan
}

final_enrolment_df["state"] = final_enrolment_df["state"].replace(state_map)

In [157]:
print("After clean:")
print("Shape:", final_enrolment_df.shape)
print("Unique states:", final_enrolment_df["state"].nunique())
print("Unique districts:", final_enrolment_df["district"].nunique())

final_enrolment_df["state"].value_counts().head(20)

After clean:
Shape: (1006007, 10)
Unique states: 36
Unique districts: 947

state
uttar pradesh        110369
tamil nadu            92552
maharashtra           77191
west bengal           76561
karnataka             70198
andhra pradesh        65663
bihar                 60567
rajasthan             56159
madhya pradesh        50225
odisha                47011
gujarat               46624
telangana             42774
kerala                39145
assam                 31827
jharkhand             23218
punjab                20439
chhattisgarh          18550
haryana               15997
jammu and kashmir     11455
himachal pradesh      10346
Name: count, dtype: int64

In [158]:
final_enrolment_df.head()

,date,state,district,pincode,enro_age_0_5,enro_age_5_17,enro_age_18_greater,age_0_5,age_5_17,age_18_greater
0,02-03-2025,meghalaya,east khasi hills,793121,11.0,61.0,37.0,NaN,NaN,NaN
1,09-03-2025,karnataka,bengaluru urban,560043,14.0,33.0,39.0,NaN,NaN,NaN
2,09-03-2025,uttar pradesh,kanpur nagar,208001,29.0,82.0,12.0,NaN,NaN,NaN
3,09-03-2025,uttar pradesh,aligarh,202133,62.0,29.0,15.0,NaN,NaN,NaN
4,09-03-2025,karnataka,bengaluru urban,560016,14.0,16.0,21.0,NaN,NaN,NaN

In [160]:
final_enrolment_df = final_enrolment_df.drop(columns=["age_5_17", "age_0_5","age_18_greater"], errors="ignore")
final_enrolment_df.head()

,date,state,district,pincode,enro_age_0_5,enro_age_5_17,enro_age_18_greater
0,02-03-2025,meghalaya,east khasi hills,793121,11.0,61.0,37.0
1,09-03-2025,karnataka,bengaluru urban,560043,14.0,33.0,39.0
2,09-03-2025,uttar pradesh,kanpur nagar,208001,29.0,82.0,12.0
3,09-03-2025,uttar pradesh,aligarh,202133,62.0,29.0,15.0
4,09-03-2025,karnataka,bengaluru urban,560016,14.0,16.0,21.0

In [162]:
final_enrolment_df.to_csv(r"C:\Users\arsha\OneDrive\Desktop\UIDAY Hacakathon\final_enrolment_clean.csv", index=False)
print("Saved ✅")

Saved ✅